$white: #ffffff;
$dark-white: #F6F6F6;
$black: #111113;
$transparent: transparent;


//card label colors
$new-color: #EE5A24;
$hot-color: #f30811;
$in-promotion-color: #dd1451;
$featured-color: #009432;


$card-overlay: rgba(0, 0, 0, .7);
$part-shadow: rgba(0, 0, 0, .5);
$part-shadow-1: rgba(0, 0, 0, .2);

//new colors
$input-green: #1EB789;
$input-active-green: rgba(48, 206, 117, 0.2);
$input-active-red: rgba(225, 73, 73, 0.2);
$input-active-purple: rgba(46, 131, 197, 0.4%);


//09/24/2020 colors
$bg-shade-1: #00072E;
$bg-shade-2: #09103A;
$bg-shade-3: #0F194D;
$sidebar-border-color:#1B2557;
//disable color
$component-color-1: #2F3B75;
//secondary
$component-color-2: #6070BE;
//active color
$component-active-color: #2E83C5;

$component-red: #F2324C;
$component-green: #10B429;
$component-yellow: #fed330;

$sidebar-main-color: #00002B;
$footer-main-color: #010626;


//widget colors
$wgt-white: #EBEBEB;
$wgt-grey: #D8D8D8;
$wgt-transparent: rgba(241, 241, 241, 0.7);
$pusher-transparent: rgba(241, 241, 241, 0.9);

$btn-transparent: rgba(241, 241, 241, 0.5);

$promo-yellow: #F8AD2E;

$component-color-3: #9CBEFF;
$component-color-4: #228BDC;
$component-color-5: #3248B4;
