$breakpoint-xxl: 'only screen and (max-width:1700px)';
$breakpoint-xl: 'only screen and (max-width:1200px)';
$breakpoint-lg: 'only screen and (max-width:991px)';
$breakpoint-md: 'only screen and (max-width:767px)';
$breakpoint-sm: 'only screen and (max-width:576px)';
$breakpoint-xs: 'only screen and (max-width:480px)';

$breakpoint-xl-ex: 'only screen and (max-width:1400px)';

@media only screen and (min-width: 1200px){
  .container{
    max-width: 1400px;
  }
}

