@keyframes rotate1 {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}
@keyframes rotate2 {
  from{transform: rotate(0deg)}
  to{transform: rotate(-360deg)}
}
.underConstruction{
  background-image: url("../img/uc/underConstruction-bg.png");
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  @media #{$breakpoint-lg}{
    padding-top: 60px;
    img{
      width: 200px;
    }
  }
  @media #{$breakpoint-md}{
    padding-top: 150px;
    img{
      width: 150px;
    }
  }
  img{

  }
  h1{
    @include font-size(4rem);
    @include rfs(60);
    color: $dark-white;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 0 100px;
    margin: 0;
    span::before,
    span::after,
    &::after,
    &::before{
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
    }
    &::before{
      width: 70px;
      height: 70px;
      background-image: url("../img/uc/path-1.svg");
      animation: rotate1 8s infinite linear;
      left: 0;
      top: 0;
    }
    &::after{
      width: 50px;
      height: 50px;
      right: 30px;
      top: -50px;
      background-image: url("../img/uc/path-4.svg");
      animation: rotate2 8s infinite linear;
    }
    span{
      position: absolute;
      width: 230px;
      height: 220px;
      right: -40px;
      top: -100px;
      &::before{
        width: 100px;
        height: 100px;
        left: 0;
        top: 0;
        background-image: url("../img/uc/path-3.svg");
        animation: rotate1 8s infinite linear;
      }
      &::after{
        right: 0;
        bottom: 0;
        width: 120px;
        height: 120px;
        background-image: url("../img/uc/path-2.svg");
        animation: rotate1 8s infinite linear;
      }
    }
  }
}


