.footer{
  background-color: $footer-main-color;
  background-image: url("../img/graphics/footer-bg.png");
  background-size: cover;
  background-position: center bottom;
  margin-top: 100px;
  &__basic{
    padding: 20px 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    .social{
      a{
        display: inline-block;
        margin-right: 10px;
      }
    }
    @media #{$breakpoint-md}{
      text-align: center;
    }
    ul{
      padding: 0 10px;
    }
    h4{
      color: $dark-white;
      font-family: $montSemiBold;
      font-size: 16px;
      margin-top: 30px;
      margin-bottom: 24px;
    }
    p,
    a{
      color: $component-color-2;
      font-size: 13px;
      display: block;
      font-family: $montMedium;
      line-height: 24px;
    }
    a{
      transition: color .15s ease;
      &:hover{
        color: $white;
      }
    }
  }
  &__payment,
  &__providers{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
    .img{
      padding: 10px 20px;
      display: inline-block;
      &:hover{
        img{
          filter: grayscale(0);
          opacity: 1;
        }
      }
      img{
        transition: .15s;
        filter: grayscale(1);
        opacity: .5;
      }
    }
  }
  &__payment{
    padding: 0;
  }
  &__bottom{
    display: flex;
    align-items: flex-start;
    padding: 30px 0;
    img{
      margin-right: 20px;
    }
    p{
      line-height: 22px;
      color: $component-color-2;
      margin: 0;
      font-family: $montMedium;
      font-size: 13px;
    }
  }
}
