.search {
  width: 50%;
  max-width: 300px;
  @media #{$breakpoint-lg}{
    max-width: 270px;
  }
  @media #{$breakpoint-md}{
    display: none;
  }

  &__container {
    position: relative;
  }

  &__input {
    display: flex;
    width: 100%;
    background-color: $bg-shade-2;
    border-radius: 6px;
    overflow: hidden;
    transition: .15s;

    input {
      border-radius: 20px;
      background-color: $transparent;
      border: none;
      font-size: 14px;
      display: block;
      padding: .5rem 2.75rem .5rem 1.45rem;
      color: $white;
      border: 1px solid $transparent;
      user-select: none;
      z-index: 2;
      width: 100%;
      @media #{$breakpoint-lg}{
        padding: .4rem 2.75rem .4rem 1.45rem;
      }

      &::placeholder {
        font-family: $montRegular;
        color: $component-color-2;
      }
    }

    svg {
      position: absolute;
      right: 16px;
      width: 18px;
      top: 50%;
      fill: $component-active-color;
      transform: translateY(-50%);
      z-index: 1;
    }
  }

  &__result {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    min-width: 100%;
    padding: 10px 20px 15px 20px;
    border-radius: 6px;
    background-color: $footer-main-color;
    box-shadow: 0px 3px 15px $footer-main-color;
    display: none;

    &-navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-bottom: 20px;

      .cls {
        margin-left: 100px;
        padding: 0;
        background-color: $transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        svg {
          stroke: $component-color-2;
          transition: stroke .15s;
        }

        &:hover {
          svg {
            stroke: $dark-white;
          }
        }
      }

      ul {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $component-color-1;
        width: 100%;
        padding-right: 100px;
        li {
          margin-right: 40px;

          &:last-child {
            margin-right: 0;
          }
        }

        button {
          background-color: $transparent;
          border: none;
          position: relative;
          color: $component-color-2;
          padding: 10px 5px;
          white-space: nowrap;
          transition: .15s;
          font-size: 14px;
          user-select: none;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: -1px;
            left: 0;
            height: 2px;
            background-color: $transparent;
          }

          &:hover,
          &.active {
            color: $dark-white;

            &::after {
              background-color: $component-active-color;
            }
          }
        }
      }
    }

    &-filter {
      > ul {
        display: flex;
        width: 100%;

        > li {
          margin-right: 5px;

          &:last-child {
            margin-right: unset;
          }
        }
      }
    }

    &-container {
      max-height: 340px;
      overflow-y: auto;
    }

    .title-sm {
      font-size: 13px;
      color: $dark-white;
      font-family: $montRegular;
      margin: 10px 0;
      position: relative;
      z-index: 2;
    }
  }
}

//mobile search
.search-sm {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $footer-main-color;
  padding: 65px 0;
  overflow: hidden;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: .15s;
  display: none;
  z-index: 10;
  @media #{$breakpoint-md}{
    display: block;
  }

  &.active {
    transform: translateY(0);
  }

  &__header {
    .back-btn {
      background-color: $transparent;
      border: none;
      display: flex;
      align-items: center;
      color: $dark-white;
      font-size: 14px;
      padding: 10px 0;
      user-select: none;

      &:active {
        color: $component-active-color;
      }

      svg {
        width: 15px;
        height: 12px;
        transform: rotate(180deg);
        fill: $component-active-color;
        margin-right: 5px;
      }
    }
  }

  &__wrapper {
    overflow: auto;
    height: 100%;
  }

  &__container {
    max-width: 540px;
    min-height: 1px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__input {
    position: relative;
    height: 40px;
    margin: 10px 0;
    @extend .search__input;

    svg {
      left: 12px;
      right: unset;
      width: 16px;
    }

    input {
      padding: .4rem 1.45rem .4rem 2.5rem;
    }
  }

  &__form {
    &-filter {
      display: flex;
      width: 100%;

      > li {
        width: 50%;

        &:first-child {
          .filter__btn {
            &-label {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }

        &:last-child {
          .filter__btn {
            &-label {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }
    }
  }

  &__result {
    .title-sm {
      font-size: 13px;
      color: $component-color-1;
      font-family: $montRegular;
      margin: 10px 0;
      position: relative;
      z-index: 2;
    }

    &-list {
      position: relative;

      a {
        padding: 5px 15px 5px 5px;
        transition: .15s;
        display: flex;
        align-items: center;
        border-radius: 10px;
        transition: .15s;

        &:active {
          background-color: $bg-shade-2;
        }
      }

      svg {
        margin-left: auto;
        width: 18px;
        fill: $component-active-color;
      }
    }

    &-img {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      margin-right: 10px;

      img {
        @extend .cover-img;
      }
    }

    &-info {
    }
  }
}

//*************

//user profile forms
._border{
  border-right: 1px solid $component-color-1;
  @media #{$breakpoint-xl}{
    border: none;
    .payment-form{
      border-bottom: 1px solid $component-color-1;
      padding-bottom: 0;
      margin-bottom: 5px;
    }
  }
}
.payment-form{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
}


.b-form {
  &__amount{
    display: flex;
    justify-content: space-between;
    &-btn{
      padding-left: 0;
      padding-right: 0;
      min-width: 20%;
      @extend .bt;
      @extend .lg;
      @extend .bt-disabled;
      @media #{$breakpoint-md}{
        font-size: 12px;
        min-width: 24%;
      }
      &.active{
        @extend .bt-blue;
      }
    }
  }
  &__title {
    color: $dark-white;

    h2 {
      font-family: $montBold;
    }

    h3 {
      font-family: $montMedium;
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__container {
    border-radius: 8px;
    background-color: $bg-shade-2;
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    @media #{$breakpoint-lg}{
      padding: 20px;
    }

    &-title {
      color: $dark-white;
      font-family: $montMedium;
      font-size: 20px;
      user-select: none;
      margin: 0;
      @media #{$breakpoint-lg}{
        font-size: 18px;
      }
    }
  }

  ._ex-flex {
    display: flex;
    justify-content: space-between;

    div {
      min-width: 70px;

      &:first-child {
        margin-right: 15px;
      }
    }
  }

  &__subheader {
    font-size: 13px;
    color: $component-color-2;
    padding: 0 30px 30px 30px;
    @media #{$breakpoint-lg}{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: $bg-shade-3;
    color: $component-color-2;
    font-family: $montMedium;
    font-size: 15px;
    @media #{$breakpoint-md}{
      font-size: 13px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__body {
    padding: 0 30px;
    @media #{$breakpoint-lg}{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    &.start {
      justify-content: flex-start;
      @media #{$breakpoint-lg}{
        justify-content: space-between;
      }

      .b-form__wrapper {
        margin-right: 15px;
        @media #{$breakpoint-md}{
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.end {
      justify-content: flex-end;
      @media #{$breakpoint-lg}{
        justify-content: space-between;
      }

      .b-form__wrapper {
        margin-left: 15px;
        @media #{$breakpoint-md}{
          margin-left: 0;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &-sm {
      width: calc(33.33% - 10px);
      display: flex;
      justify-content: space-between;
      @media #{$breakpoint-xl}{
        width: 100%;
      }

      .b-form__wrapper {
        width: calc(50% - 10px) !important;
      }
    }

    &-2 {
      @extend .b-form__flex;

      .b-form__wrapper {
        width: calc(50% - 10px);
      }
    }

    &-3 {
      @extend .b-form__flex;

      .b-form__wrapper {
        width: calc(33.33% - 10px);
      }

      &:not(._ex) {
        .b-form__wrapper {
          @media #{$breakpoint-xl}{
            width: calc(50% - 10px);
          }
          @media #{$breakpoint-md}{
            width: 100%;
          }
        }
      }
    }

    &-4 {
      @extend .b-form__flex;

      .b-form__wrapper {
        width: calc(25% - 10px);
      }
    }

    @media #{$breakpoint-lg}{
      .b-form__wrapper {
        width: calc(50% - 10px);
      }
    }
    @media #{$breakpoint-lg}{
      .b-form__wrapper {
        width: 100%;
      }
    }
  }

  &__wrapper {
    position: relative;
    margin-bottom: 25px;

    .b-form__wrapper {
      margin-bottom: 0;
      @media #{$breakpoint-lg}{
        margin-bottom: 25px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__input {
    position: relative;

    select,
    input,
    label {
      font-size: 14px;
      font-family: $montMedium;
      margin-bottom: 0;
      display: block;
      width: 100%;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    label {
      color: $dark-white;
      position: absolute;
      left: 10px;
      top: 12px;
      user-select: none;
      transform-origin: left;
      transition: .12s ease-in-out;
      cursor: text;
      width: calc(100% - 20px);
    }

    input {
      color: $dark-white;
      background-color: $bg-shade-3;
      border-radius: 6px;
      border: 1px solid $component-color-1;
      padding: 16px 10px 6px 10px;
      &.placeholder{
        &::placeholder{
          color: $white;
        }
      }

      &::placeholder{
        color: $transparent;
      }
      &:focus{
        &::placeholder{
          color: $dark-white;
        }
      }
      &:disabled{
        color: $component-color-2;
        cursor: not-allowed;
      }
      &:disabled ~ label,
      &:valid ~ label,
      &:focus ~ label {
        top: 0px;
        color: $component-active-color;
        transform: scale(0.8);
      }

      &[disabled] {
        ~ label {
          color: $component-color-1;
        }
      }
    }
    &.currency{
      input{
        padding-right: 55px;
      }
      .currency{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $component-color-1;
        font-size: 14px;
        font-family: $montMedium;
        color: $dark-white;
        padding: 0 10px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        user-select: none;
      }
    }
    select {
      color: $dark-white;
      background-color: $bg-shade-3;
      border-radius: 6px;
      border: 1px solid $component-color-1;
      height: 45px;
      outline: none;
      appearance: none;
      background-image: url("../img/icons/chevron-down-purple.svg");
      background-position: right 10px center;
      background-size: 14px;
      padding-right: 32px;
      padding-left: 10px;
      &:focus{
        border-color: $component-active-color;
      }
      &[disabled] {
        color: $component-color-1;
      }
    }

    &-btn {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      outline: none;
      border-radius: 4px;
      padding: 6px 8px;
      font-size: 12px;
      user-select: none;
      font-family: $montMedium;

      &.confirm {
        color: $dark-white;
        background-color: $component-red;
      }
    }
  }

  &__check {
    display: flex;
    align-items: center;

    input[type=checkbox] {
      display: none;

      + label {
        width: 100%;
        cursor: pointer;
        padding: 2px 0px 2px 22px;
        position: relative;
        font-size: 13px;
        color: $component-color-2;
        user-select: none;
        margin-bottom: 5px;

        &:active {
          &::before {
            box-shadow: 0 0 0px 5px $input-active-green;
          }
        }

        &:hover {
          color: $dark-white;

          a {
            color: $dark-white;
          }
        }

        a {
          text-decoration: underline;

          &:hover {
            color: $component-active-color;
          }
        }

        &::before,
        &::after {
          position: absolute;
          left: 0;
        }

        &::before {
          content: "";
          width: 14px;
          height: 14px;
          min-width: 14px;
          border: 1px solid $dark-white;
          border-radius: 3px;
          top: 4px;
        }

        &::after {
          content: "";
          width: 8px;
          height: 6px;
          border-left: 2px solid $dark-white;
          border-bottom: 2px solid $dark-white;
          position: absolute;
          top: 7px;
          left: 3px;
          transform: rotate(-45deg);
          transition: .15s;
          opacity: 0;
          visibility: hidden;
          @media #{$breakpoint-md}{
            top: 7px;
          }
        }
      }

      &:checked + label {
        &::before {
          background-color: $component-green;
          border-color: $component-green;
        }

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }

      &:disabled + label {
        color: $component-color-2;
        &:hover {
          color: $component-color-2;
        }
      }

      &:checked:disabled + label {
        &:hover {
          color: $component-color-2;
        }

        &::before {
          background-color: $component-color-2;
          border-color: $component-color-2;
        }

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__mid {
    margin-top: -15px;
    margin-bottom: 20px;
    padding: 0 30px;

    a {
      font-size: 13px;
      color: $component-color-2;
      font-family: $montMedium;
      transition: .15s;

      &:hover {
        color: $component-color-2;
      }
    }
  }

  &__footer {
    padding: 30px 30px 50px 30px;

    &-btn {
      border: none;
      border-radius: 6px;
      display: inline-block;
      font-family: $montBold;
      color: $dark-white;
      padding: 12px 40px;
      transition: background-color .15s ease, color .15s ease;

      &:hover {
        color: $dark-white;
        background-color: lighten($component-active-color, 10%);
      }
      &-md{
        min-width: 210px;
      }
      &.lg {
        width: 100%;
      }

      @media #{$breakpoint-md}{
        width: 100%;
      }

      &.blue {
        background-color: $component-active-color;

        &:hover {
          background-color: darken($component-active-color, 10%);
        }
      }

      &.red {
        background-color: $component-red;

        &:hover {
          background-color: darken($component-red, 10%);
        }
      }

      &.green {
        background-color: $component-green;

        &:hover {
          background-color: darken($component-green, 10%);
        }
      }
    }

    &-bott {
      color: $component-color-2;
      padding-top: 15px;
      position: relative;

      button,
      p {
        margin-bottom: 0;
        font-size: 14px;
        font-family: $montMedium;

        a {
          color: $component-green;
          transition: .15s;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      button {
        border: none;
        color: $component-color-2;
        background-color: $transparent;
        display: inline-flex;
        align-items: center;
        line-height: 1;

        svg {
          margin-left: 5px;
          width: 16px;
          height: 16px;
          fill: $component-color-2;
        }
      }
    }
  }

  &__list {
    li {
      padding: 15px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $component-color-1;
      @media #{$breakpoint-lg}{
        padding-left: 15px;
        padding-right: 15px;
      }

      &:last-child {
        border-bottom: none;
      }

      p {
        margin: 0;
        color: $component-color-2;
        font-family: $montMedium;
        font-size: 14px;
        max-width: calc(100% - 70px);
        padding-right: 5px;
        @media #{$breakpoint-lg}{
          font-size: 13px;
        }
      }
    }
  }

  &__toggle {
    overflow: hidden;
    font-family: $montMedium;
    font-size: 10px;

    input {
      position: absolute;
      left: -99em;
    }

    &-label {
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 70px;
      height: 34px;
      border-radius: 6px;
      transition: $switchTransition;
      border-width: 1px;
      border-color: $component-red;
      border-style: solid;
      margin: 0;

      &::before,
      &::after {
        position: absolute;
        width: 50%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        top: 0;
        align-items: center;
        transition: $switchTransition;
      }

      &::before {
        content: 'OFF';
        left: 0;
        color: $dark-white;
      }

      &::after {
        content: 'ON';
        right: 0;
        color: $dark-white;
      }

      &__handler {
        display: inline-block;
        position: relative;
        z-index: 1;
        background-color: $component-red;
        width: calc(50% - 2px);
        height: calc(100% - 4px);
        border-radius: 4px;
        top: 50%;
        left: 2px;
        transition: $switchTransition;
        transform: translateX(0) translateY(-50%);
      }
    }

    input {
      &:checked {
        + .b-form__toggle-label {
          border-color: $component-green;

          &::before {
            color: $dark-white;
          }

          &::after {
            color: $dark-white;
          }

          .b-form__toggle-label__handler {
            transform: translateX(100%) translateY(-50%);
            background-color: $component-green;
          }
        }
      }
    }
  }

  &__drag {
    margin-top: 25px;
    &-uploaded{
      padding-top: 5px;
      .empty-title{
        font-size: 13px;
        margin-bottom: 0;
        color: $component-color-2;
        a{
          color: $component-active-color;
          text-decoration: underline;
        }
      }
      &__card{
        margin-bottom: 25px;
        background-color: $bg-shade-3;
        border-radius: 6px;
        border: 1px solid $component-color-1;
        table{
          width: 100%;
          border-radius: 6px;
          font-size: 12px;
          thead{
            tr{
              th{
                border-bottom: 1px solid $component-color-1;
                padding: 12px 5px;
                color: $component-color-2;
                &:first-child{
                  padding-left: 20px;
                }
                &:last-child{
                  padding-right: 20px;
                }
              }
            }
          }
          tbody{
            tr{
              td{
                padding: 13px 5px;
                color: $dark-white;
                &:first-child{
                  padding-left: 20px;
                }
                &:last-child{
                  padding-right: 20px;
                }
              }
            }
          }
        }
      }
    }
    &-name{
      text-align: center;
      color: $dark-white;
      font-family: $montMedium;
      position: relative;
      margin-bottom: 5px;
    }
    &-input {
      display: none;
    }

    &-container {
      padding: 20px 8px;
      background-color: $bg-shade-3;
      border: 2px dashed $component-color-1;
      border-radius: 6px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: background-color .15s;
      &.dragging {
        background-color: $bg-shade-1;
        border-color: $component-color-2;
      }
    }

    &-btn {
      display: block;
      width: 100%;
      border: none;
      color: $component-color-2;
      background-color: $transparent;
      font-family: $montMedium;
      font-size: 14px;
      span{
        @media #{$breakpoint-sm}{
          display: none;
        }
      }
    }
  }

  &__sms {
    position: absolute;
    right: 0;
    background-color: $footer-main-color;
    top: calc(100% + 5px);
    border-radius: 6px;
    padding: 20px 15px;
    max-width: 200px;
    z-index: 2;
    display: none;
    @media #{$breakpoint-lg}{
      max-width: 100%;
      position: relative;
      top: 10px;
    }

    input {
      padding: 6px 10px!important;
      font-size: 13px!important;
      &::placeholder {
        color: $dark-white;
      }
    }

    p {
      text-align: center;
      color: $component-color-2;
      font-family: $montMedium;
      font-size: 12px;
    }

    a {
      display: block;
      text-align: center;
      margin-top: 5px;
      color: $component-active-color;
      font-size: 14px;
      font-family: $montMedium;
    }
  }

  &__eye {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: $component-color-2;
      width: 100%;
    }
  }
}
//******************


//widget form
.widget-form{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: $wgt-transparent;
  padding: 25px 30px 18px;
  width: 100%;
  max-width: 400px;
  position: relative;
  z-index: 2;
  .password-must{
    .field{
      background-color: $wgt-grey;
      color: $component-color-2;
    }
  }
  @media #{$breakpoint-md}{
    padding-left: 15px;
    padding-right: 15px;
  }
  &__cls{
    position: absolute;
    background-color: $dark-white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    top: -8px;
    right: -8px;
    transition: background-color .15s ease-in-out;
    background-image: url(../img/icons/times-b.svg);
    background-position: center;
    background-size: 10px;
    border: none;
    outline: none;
    z-index: 2;
    &:hover{
      background-color: darken($dark-white, 10%);
    }
  }
  //graphic leaf
  &.path{
    &::before,
    &::after{
      content: '';
      position: absolute;
      background-size: contain;
      z-index: -1;
      display: none;
      @media #{$breakpoint-md}{
        display: none;
      }
    }
    &-lr{
      @extend .path;
      &::before,
      &::after{
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        display: block;
        @media #{$breakpoint-md}{
        }
      }
      &::before{
        left: -79px;
        background-image: url(../img/graphics/left-path.png);
        width: 120px;
        background-position: right top;
        background-size: 160px;
        @media #{$breakpoint-sm}{
          width: 110px;
          background-size: 120px;
        }
      }
      &::after{
        background-image: url(../img/graphics/right-path.png);
        width: 96px;
        right: -70px;
      }
    }
    &-b{
      @extend .path;
      padding-bottom: 50px;
      &::after{
        display: block;
        width: 100%;
        bottom: -60px;
        left: 0;
        height: 120px;
        background-image: url(../img/graphics/bottom-path.png);
        background-position: right 30px bottom;
        @media #{$breakpoint-md}{
          display: none;
        }
      }
    }
  }
  //************
  &__header{
    margin-bottom: 20px;
    position: relative;
    &-back,
    &-region{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-back{
      cursor: pointer;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      margin-left: -10px;
      left: 0;
      transition: background-color .15s ease;
      @media #{$breakpoint-md}{
        margin-left: 0px;
      }
      &:hover{
        background-color: $dark-white;
      }
      svg{
        width:12px;
        height:14px;
        transform: rotate(90deg);
        fill: $bg-shade-3;
      }
    }
    &-region{
      width: 22px;
      height: 22px;
      border-radius: 50%;
      right: 0;
      img{
        @extend .cover-img;
      }
    }
  }
  &__title{
    margin-bottom: 0;
    color: $bg-shade-2;
    font-family: $montBold;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
    @media #{$breakpoint-md}{
      font-size: 16px;
    }
    &.sm{
      font-family: $montMedium;
      line-height: 1;
      font-size: 14px;
      text-transform: uppercase;
      user-select: none;
      text-align: left;
      padding-left: 0;
    }
    &-img{
      max-width: 80px;
      margin-left: auto;
      margin-right: auto;
      height: 40px;
      img{
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
  .bt-green{
    @media #{$breakpoint-sm}{
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  &__span{
    display: block;
    font-size: 14px;
    line-height: 1;
    color: $wgt-grey;
    i{
      font-style: normal;
    }
    &.lg{
      font-size: 18px;
      font-family: $montBold;
      margin-bottom: 4px;
      color: $dark-white;
      @media #{$breakpoint-sm}{
        font-size: 16px;
      }
    }
  }
  &__wrapper{
    position: relative;
    margin-bottom: 18px;
    &.flex-2{
      display: flex;
      justify-content: space-between;
      .widget-form__input{
        width: 48%;
      }
    }
  }
  &__input {
    position: relative;
    select,
    input,
    label {
      font-size: 14px;
      font-family: $montMedium;
      margin-bottom: 0;
      display: block;
      width: 100%;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    label {
      color: $bg-shade-2;
      position: absolute;
      left: 10px;
      top: 12px;
      font-family: $montMedium;
      user-select: none;
      transform-origin: left;
      transition: .12s ease-in-out;
      cursor: text;
      width: calc(100% - 20px);
    }
    &.lg{
      input{
        padding: 6px 15px;
        font-size: 20px;
        font-family: $montBold;
      }
    }
    input {
      color: $bg-shade-2;
      background-color: $wgt-white;
      border-radius: 6px;
      border: 1px solid $wgt-white;
      padding: 16px 10px 6px 10px;
      &.placeholder{
        &::placeholder{
          color: darken($dark-white,20%);
        }
      }

      &::placeholder{
        color: $transparent;
      }
      &:focus{
        &::placeholder{
          color: darken($dark-white,20%);
        }
      }
      &:disabled{
        color: $component-color-2;
        cursor: not-allowed;
      }
      &:disabled ~ label,
      &:valid ~ label,
      &:focus ~ label {
        top: 0px;
        transform: scale(0.8);
      }

      &[disabled] {
        ~ label {
          color: $component-color-1;
        }
      }
    }
    &.currency{
      input{
        padding-right: 55px;
      }
      .currency{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $wgt-grey;
        font-size: 16px;
        font-family: $montBold;
        color: $footer-main-color;
        padding: 0 10px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        user-select: none;
        transition: .15s;
      }
    }

    select {
      color: $bg-shade-2;
      background-color: $wgt-white;
      border-radius: 6px;
      border: 1px solid $wgt-white;
      height: 45px;
      outline: none;
      appearance: none;
      background-image: url("../img/icons/chevron-down-purple.svg");
      background-position: right 10px center;
      background-size: 14px;
      padding-right: 32px;
      padding-left: 10px;
      &:focus{
        border-color: $component-active-color;
      }
      &[disabled] {
        color: $component-color-1;
      }
    }

    &-btn {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      outline: none;
      border-radius: 4px;
      padding: 6px 8px;
      font-size: 12px;
      user-select: none;
      font-family: $montMedium;

      &.confirm {
        color: $dark-white;
        background-color: $component-red;
      }
    }
  }
  &__check {
    display: flex;
    align-items: center;

    input[type=checkbox] {
      display: none;

      + label {
        width: 100%;
        cursor: pointer;
        padding: 2px 0px 2px 22px;
        position: relative;
        font-size: 13px;
        color: $bg-shade-2;
        user-select: none;
        margin-bottom: 5px;

        &:active {
          &::before {
            box-shadow: 0 0 0px 5px $input-active-green;
          }
        }

        &:hover {
          color: $bg-shade-3;

          a {
            color: $bg-shade-3;
          }
        }

        a {
          color: $bg-shade-3;
          text-decoration: underline;

          &:hover {
            color: $component-color-2;
          }
        }

        &::before,
        &::after {
          position: absolute;
          left: 0;
        }

        &::before {
          content: "";
          width: 14px;
          height: 14px;
          min-width: 14px;
          border: 1px solid $bg-shade-2;
          border-radius: 3px;
          top: 4px;
        }

        &::after {
          content: "";
          width: 8px;
          height: 6px;
          border-left: 2px solid $dark-white;
          border-bottom: 2px solid $dark-white;
          position: absolute;
          top: 7px;
          left: 3px;
          transform: rotate(-45deg);
          transition: .15s;
          opacity: 0;
          visibility: hidden;
          @media #{$breakpoint-md}{
            top: 7px;
          }
        }
      }

      &:checked + label {
        &::before {
          background-color: $component-green;
          border-color: $component-green;
        }

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }

      &:disabled + label {
        color: $component-color-2;
        &:hover {
          color: $component-color-2;
        }
      }

      &:checked:disabled + label {
        &:hover {
          color: $component-color-2;
        }

        &::before {
          background-color: $component-color-2;
          border-color: $component-color-2;
        }

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__card{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: 45px;
    background-color: $dark-white;
    border-radius: 6px;
    padding-left: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid $dark-white;
    transition: .15s;
    @media #{$breakpoint-md}{
      height: 60px;
    }
    &:hover{
      border-color: $component-color-2;
      box-shadow: 0px 3px 10px $part-shadow-1;
    }
    &-img{
      position: absolute;
      height: 100%;
      width: 80px;
      min-width: 80px;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $wgt-white;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      img{
        max-width: 60px;
      }
    }
    &-info{
      display: flex;
      justify-content: space-between;
      user-select: none;
      width: 100%;
      p{
        margin: 0;
        font-size: 12px;
        font-family: $montMedium;
        padding: 0 10px;
        width: 50%;
        white-space: nowrap;
        @media #{$breakpoint-md}{
          display: flex;
          flex-direction: column;
        }
        span{
          &:first-child{
            font-family: $montMedium;
            color: $bg-shade-2;
            @media #{$breakpoint-md}{
              margin-bottom: 5px;
            }
          }
          &:last-child{
            color: $component-color-2;
          }
        }
      }
    }
  }
  &__eye{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 13px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    svg{
      fill:darken($dark-white, 20%);
    }
  }
  &__sms {
    position: absolute;
    right: 0;
    background-color: $wgt-grey;
    top: calc(100% + 5px);
    border-radius: 6px;
    padding: 20px 15px;
    max-width: 200px;
    z-index: 2;
    display: none;
    @media #{$breakpoint-lg}{
      max-width: 100%;
      position: relative;
      top: 10px;
    }

    input {
      padding: 6px 10px!important;
      font-size: 13px!important;
      &::placeholder {
        color: darken($dark-white, 20%);
      }
    }

    p {
      text-align: center;
      color: $component-color-2;
      font-family: $montMedium;
      font-size: 12px;
    }

    a {
      display: block;
      text-align: center;
      margin-top: 5px;
      color: $component-active-color;
      font-size: 14px;
      font-family: $montMedium;
    }
  }
  &-bottom-btn{
    margin: auto;
    display: block;
    font-size: 12px;
    font-family: $montBold;
    height: 38px;
    min-width: 165px;
    &-container{
      background-color: #9bb5bf;
      width: 100%;
      max-width: 400px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      padding: 16px 0;
      z-index: 1;
    }
  }
  &-bottom-bonus_code{
    &-cont{
      display: flex;
      justify-content: space-between;
      padding: 16px 30px;
      @media only screen and (max-width: 360px){
        flex-direction: column;
      }
    }
    &-input{
      height: 46px;
      margin-right: 15px;
      color: $component-color-1;
      font-size: 14px;
      font-family: $montMedium;
      border-radius: 6px;
      @media only screen and (max-width: 360px){
        margin-right: 0;
        margin-bottom: 10px;
      }
      &::placeholder {
        color: $component-color-1;
        font-size: 14px;
        font-family: $montMedium;
      }
    }
    &-btn{
      padding: 0px 26px;
      height: 46px;
    }
  }
  &__body{}
  &__mid {
    margin-top: -15px;
    margin-bottom: 20px;

    a {
      font-size: 13px;
      color: $component-color-2;
      font-family: $montMedium;
      transition: .15s;

      &:hover {
        color: $sidebar-border-color;
      }
    }
  }
  &__footer{
    &-bott{
      color: $bg-shade-2;
      margin-top: 15px;
      font-size: 14px;
      p{
        font-family: $montMedium;
        margin-bottom: 0;
      }
      a{
        color: $component-green;
        text-decoration: underline;
      }
    }
    &.sub{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      .imgs{
        img{
          margin-right: 10px;
          @media #{$breakpoint-md}{
            max-width: 60px;
          }
          @media #{$breakpoint-sm}{
            max-width: 42px;
          }
        }
      }
      p{
        padding: 2px 0 0 14px;
        background-image: url("../img/icons/lock.svg");
        background-position: left center;
        background-size: 8px;
        font-size: 11px;
        @media #{$breakpoint-md}{
          background-size: 10px;
          font-size: 10px;
        }
      }
    }
  }
  &__pusher{
    @extend .widget-form;
    z-index: 10;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;
    background-color: $pusher-transparent;
    .alert-cls{
      background-color: $component-color-2;
      background-image: url("../img/icons/times-w.svg");
      width: 24px;
      height: 24px;
      background-size: 10px;
    }
    .widget-form__input{
      width: 58%;
      @media #{$breakpoint-md}{
        width: 48%;
      }
      input{
        border-color: $bg-shade-2;
        background-color: $transparent;
        font-family: $montBold;
      }
    }
    .bt{
      padding-left: 10px;
      padding-right: 10px;
      width: 38%;
      font-family: $montBold;
      @media #{$breakpoint-md}{
        width: 48%;
      }
    }
  }
}
.push-deposit{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
  width: calc(100% - #{$sidebar-width});
  z-index: 2;
  display: none;
  @media #{$breakpoint-xxl}{
    width: calc(100% - #{$sidebar-width-md});
  }
  @media #{$breakpoint-lg}{
    width: 100%;
  }
}
//************



//form states
.password-must{
  margin-top: 5px;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-right: -2px;
  display: none;
  &.active{
    display: flex;
  }
  .field{
    background-color:$bg-shade-1;
    margin: 2px;
    border-radius: 40px;
    padding: 4px 10px;
    color: $component-color-2;
    font-family: $montBold;
    font-size: 10px;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    white-space: nowrap;
    transition: background-color .15s ease-in-out;
    &::before{
      content: "";
      width: 8px;
      height: 6px;
      border-left: 2px solid $component-green;
      border-bottom: 2px solid $component-green;
      transform: rotate(-45deg);
      margin-right: 7px;
      margin-top: -3px;
      display: none;
    }
    &.valid{
      color: $component-green;
      background-color:$input-active-green;
      &::before{
        display: inline-block;
      }
    }
    &.invalid{
      color: $component-red;
      background-color:$input-active-red;
      &::before{
        content: '×';
        display: inline-block;
        border: none;
        transform: none;
        color: $component-red;
        font-size: 18px;
        line-height: 1;
        width: 8px;
        height: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2px;
        margin-right: 5px;
      }
    }
  }
}
.error-message{
  display: none;
}
.error {
  .currency{
    background-color: $component-red!important;
    color: $wgt-grey!important;
  }
  .error-message {
    color: $component-red;
    position: absolute;
    font-size: 12px;
    font-family: $montMedium;
    padding: 3px 2px 2px 18px;
    background-image: url("../img/icons/error.svg");
    background-size: 14px;
    background-position: left center;
    width: 100%;
    line-height: 1;
    display: block;
  }

  input {
    border-color: $component-red;

    &:valid,
    &:focus {
      ~ label {
        color: $component-red;
      }
    }
  }
}
.disabled {
  input {
    ~ label {
      color: $component-color-1;
    }
  }

  select {
    color: $component-color-1;
  }
}
.success {
  input {
    padding-right: 30px;
  }
  span{
    color: $component-green;
    position: absolute;
    font-size: 12px;
    font-family: $montMedium;
    padding: 3px 2px 2px 2px;
    width: 100%;
    line-height: 1;
  }
  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 14px;
    right: 14px;
    top: 14px;
    transform: rotate(45deg);
    border-bottom: 3px solid $component-green;
    border-right: 3px solid $component-green;
  }
}
