@keyframes animateGems{
  0%{
    transform: scale(1) rotate(0);
  }
  50%{
    transform: scale(0.8) rotate(180deg);
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
}
@keyframes animatePath1{
  0%{
    transform: translate(0,0) rotate(0);
  }
  50%{
    transform: translate(15px,-10px) rotate(10deg);
  }
  100%{
    transform: translate(0,0) rotate(0);
  }
}
@keyframes animatePath2{
  0%{
    transform: translate(0,0) rotate(0);
  }
  50%{
    transform: translate(10px,-10px) rotate(30deg);
  }
  100%{
    transform: translate(0,0) rotate(0);
  }
}
@keyframes animatePath3{
  0%{
    transform: translate(0,0) rotate(0);
  }
  50%{
    transform: translate(0px,-10px) rotate(35deg);
  }
  100%{
    transform: translate(0,0) rotate(0);
  }
}
@keyframes animatePath4{
  0%{
    transform: translate(0,0) rotate(0);
  }
  50%{
    transform: translate(12px,15px) rotate(25deg);
  }
  100%{
    transform: translate(0,0) rotate(0);
  }
}
@keyframes animatePath5{
  0%{
    transform: translate(0,0) rotate(0);
  }
  50%{
    transform: translate(-20px,-25px) rotate(5deg);
  }
  100%{
    transform: translate(0,0) rotate(0);
  }
}

@keyframes lightScale{
  0%{
    transform: translate(-50%,-50%) scale(0.8);
  }
  50%{
    transform: translate(-50%,-50%) scale(1.2);
  }
  100%{
    transform: translate(-50%,-50%) scale(0.8);
  }
}

@keyframes animateLogo{
  0%{
    transform: translate(-50%,-50%) rotate(0deg) scale(1);
  }
  50%{
    transform: translate(-50%,-50%) rotate(10deg) scale(0.9);
  }
  100%{
    transform: translate(-50%,-50%) rotate(0deg) scale(1);
  }
}

.loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $bg-shade-1;
  z-index: 99999999999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 260px;
    height: 260px;
    display: block;
    margin: 0;
    background-image: radial-gradient($component-active-color -60%,$bg-shade-1 60%);
    opacity: 0.8;
    z-index: 1;
    animation: lightScale 5s infinite linear;
  }
  &-container{
    width: 210px;
    height: 210px;
    position: relative;
    z-index: 2;
    @media #{$breakpoint-md}{
      transform: scale(0.8);
    }
  }
  &__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: animateLogo 10s linear infinite;
  }
  &__gems{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: animateGems 10s linear infinite;
  }
  &-path{
    position: absolute;
    &__1{
      @extend .loader-path;
      top: -5px;
      left: 62px;
      animation: animatePath1 10s infinite linear;
    }
    &__2{
      @extend .loader-path;
      right: 0px;
      top: 50px;
      animation: animatePath2 10s infinite linear;
    }
    &__3{
      @extend .loader-path;
      right: 10px;
      bottom: 10px;
      animation: animatePath3 10s infinite linear;
    }
    &__4{
      @extend .loader-path;
      bottom: 0;
      left: 73px;
      animation: animatePath4 10s infinite linear;
    }
    &__5{
      @extend .loader-path;
      left: -4px;
      top: 100px;
      animation: animatePath5 10s infinite linear;
    }
  }
}
