.modal-open {
  padding-right: 0px !important;
}
.b-modal {
  &__banner {
    display: flex;
    width: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow: hidden;
    img {
      @extend .cover-img;
    }
    .banner {
      width: 50%;
      min-width: 50%;
      @media #{$breakpoint-lg} {
        display: none;
      }
    }
  }
  &__tab {
    display: none;
    &:first-child {
      display: block;
    }
  }
  &__success {
    img {
      margin-bottom: 40px;
    }
  }
  &__dialog {
    &:not(.modal-lg) {
      max-width: 600px;
    }
    &.modal-md {
      max-width: 460px;
    }
    &.modal-sm {
      max-width: 353px;
    }
  }
  &__title,
  &__text {
    color: $dark-white;
  }
  &__title {
    font-size: 20px;
    font-family: $montMedium;
    margin-bottom: 15px;
    &-lg {
      font-size: 22px;
    }
  }
  &__text {
    color: $component-color-2;
    font-size: 14px;
    margin-bottom: 30px;
    a {
      color: $component-active-color;
    }
    &-link {
      font-family: $montMedium;
      color: #2e83c5;
      font-size: 14px;
      text-transform: capitalize;
      text-decoration: underline;
      &-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
      }
    }
    &-list {
      display: flex;
      margin-bottom: 25px;
      flex-direction: column;
      align-items: center;
      &-item {
        display: flex;
        margin-bottom: 2px;
        font-size: 12px;
        &-white {
          color: white;
          font-family: $montBold;
          text-transform: capitalize;
          margin-right: 5px;
        }
      }
    }
  }
  &__content {
    background-color: $bg-shade-2;
    border-radius: 16px;
    border: none;
  }
  &__header {
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  &__body {
    padding: 50px 20px;
    @media #{$breakpoint-lg} {
      padding: 40px 20px;
    }
    &-sm {
      padding: 20px 25px;
      @media #{$breakpoint-lg} {
        padding: 20px;
      }
    }
    &-md {
      padding: 20px 25px 25px;
      @media #{$breakpoint-lg} {
        padding: 20px;
      }
    }
  }
  &__footer {
    &-bonusSuccess {
      &-collapse {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 5px;
        color: $component-color-2;
        font-size: 14px;
        font-family: $montMedium;
        background-color: $bg-shade-3;
        text-decoration: underline;
        cursor: pointer;
        &.collapsed {
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          .icon {
            transform: rotate(0deg);
            transition: 0.3s;
          }
        }
        .icon {
          fill: $component-color-2;
          width: 14px;
          margin-left: 15px;
          transform: rotate(180deg);
          transition: 0.3s;
        }
        &-body {
          background-color: $bg-shade-3;
          border: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          color: $component-color-2;
          font-size: 12px;
          font-family: $montRegular;
          padding: 0 1.25rem 1.25rem;
        }
      }
    }
  }
  // &__footer-bonusSuccess-btn{
  //   &.active{
  //     .b-modal__footer-bonusSuccess-info{
  //       display: block;
  //     }
  //   }
  //   .b-modal__footer-bonusSuccess-info{
  //     display: none;
  //   }
  // }
}
