.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: $navbar-height;
  background-color: $bg-shade-1;
  z-index: 100;
  padding: 0;
  @media #{$breakpoint-lg}{
    height: $navbar-height-lg;
  }
  @media #{$breakpoint-md}{
    height: $navbar-height-md;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;

    &__img {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      position: relative;
      display: flex;
      align-items: center;
      @media #{$breakpoint-md}{
        width: 30px;
        height: 30px;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;

        img {
          height: 100%;
        }
      }
    }

    &__btn {
      @extend .menu-btn;
    }
  }

  .user {
    margin-left: auto;

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-search {
        display: none;

        &-btn {
          background-color: $transparent;
          border: none;
          cursor: pointer;
          outline: none;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 2px;

          svg {
            fill: $dark-white;
            width: 18px;
          }
        }

        @media #{$breakpoint-md}{
          display: block;
        }
      }

      &-login {
        @extend .user__nav;

        a:first-child {
          margin-right: 12px;
          @media #{$breakpoint-md}{
            margin-right: 0;
          }
        }
      }

      &-deposit {
        position: relative;
        margin-right: -5px;
        z-index: 2;
        height: 39px;
        &::before,
        &::after {
          content: '';
          position: absolute;
          background-color: $dark-white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 4px;
          display: none;
        }

        &::before {
          width: 12px;
          height: 2px;
        }

        &::after {
          height: 12px;
          width: 2px;
        }

        @media #{$breakpoint-md}{
          width: 34px;
          height: 34px;
          padding: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border: 3px solid lighten($component-green, 10%);
          &::before,
          &::after {
            display: block;
          }
          span {
            display: none;
          }
        }
      }

      &-btn {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $transparent;
        background-color: $component-color-1;
        transition: box-shadow .15s ease;
        position: relative;
        transition: background-color .15s ease;
        &:hover{
          background-color: darken($component-color-1, 10%);
        }
        svg {
          width: 16px;
          fill: $dark-white;
        }

        &::after {
          content: '';
          position: absolute;
          background-color: $component-red    ;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          top: -3px;
          right: -5px;
          border: 3px solid $bg-shade-1;
          display: none;
        }
        &.new-alert{
          &::after{
            display: block;
          }
        }
      }

      &-side {
        position: relative;
        @media #{$breakpoint-md}{
          position: absolute;
          right: 15px;
        }
      }

      &-dropdown {
        position: absolute;
        right: -2px;
        top: calc(100% + 10px);
        min-height: 40px;
        min-width: 100px;
        background-color: $footer-main-color;
        box-shadow: 0px 3px 15px $footer-main-color;
        border-radius: 6px;
        padding-bottom: 8px;
        max-width: calc(100vw - 40px);
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        display: none;
        &_btns{
          display: flex;
          justify-content: space-between;
          padding:10px 20px;
          a{
            width: 48%;
            padding-left: 0!important;
            padding-right: 0!important;
          }
        }
        a {
          color: $dark-white;
          padding: 5px 20px;
          display: block;
          font-size: 14px;
          font-family: $montRegular;
          transition: color .15s;
          display: flex;
          @media #{$breakpoint-sm}{
            font-size: 16px;
          }

          span {
            white-space: nowrap;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          svg {
            width: 18px;
            min-width: 18px;
            height: 20px;
            margin-right: 15px;
            fill: $component-active-color;
            transition: fill .15s;
          }
        }

        &_header {
          margin-bottom: 4px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: relative;
          .user__nav-name{
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding:20px;
            width: 100%;
            text-align: center;
            font-family: $montSemiBold;
            background-color: $bg-shade-3;
            transition: background-color .15s ease;
            &:hover{
              background-color: lighten($bg-shade-3, 10%);
            }
            svg {
              margin-right: 0;
              width: 10px;
              min-width: 7px;
              position: absolute;
              right: 12px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .user__nav-rank {
            padding: 0;
            border: none;
            color: $component-active-color;
            font-size: 12px;
            display: inline-flex;
            align-items: center;
            position: absolute;
            left: 12px;
            bottom: 12px;
            &:hover{
              color: $dark-white;
            }
          }
          &:hover{
            background-color: darken($footer-main-color, 2%);
          }
          &__wrapper {
            width: 100%;
          }


        }

        .log-out {
          margin-top: 15px;
          margin-bottom: 10px;
          &:hover{
            svg{
              fill: $component-red;
            }
            a{
              color: $dark-white;
            }
          }
          a{
            color: $component-red;
          }
          svg{
            fill: $component-red;
          }
        }
      }
    }
  }


  &.login{
    & > .container{
      position: relative;
    }
    .logo{
      @media #{$breakpoint-md}{
        margin-right: 0;
      }
      &__img{
        @media #{$breakpoint-md}{
          width: 40px;
          height: 40px;
          position: absolute;
          margin-left: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 3;
          a{
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    .user{
      @media #{$breakpoint-md}{
        position: absolute;
        width: calc(100% - 55px);
        right: 0;
      }

      &__nav{
        @media #{$breakpoint-md}{
          flex-direction: row-reverse;
        }
        &-search{
          @media #{$breakpoint-md}{
            display: flex;
            position: absolute;
            right: 15px;
            width: 34px;
            height: 34px;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            background-color: $sidebar-border-color;
            border: 1px solid $sidebar-border-color;
            svg{
              width: 16px;
            }
          }
        }
        &-login{
          @media #{$breakpoint-md}{
            flex-direction: row;
            width: 100%;
            padding-right: 55px;
            .bt{
              padding: 5px 0;
              width: 38%;
              height: 34px;
              max-width: 120px;
            }
          }
        }
        &-user{
          @extend .user__nav;
          .bt:first-child{
            z-index: 2;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          .bt:last-child {
            margin-right: 12px;
            margin-left: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            &:hover{
              background-color: $transparent;
            }
            @media #{$breakpoint-md}{
              margin-right: 0;
            }
          }
          .bt:first-child,
          .bt:last-child{
            padding-left: 12px;
            padding-right: 12px;
            @media #{$breakpoint-md}{
              border-radius: 6px;
            }
          }
          @media #{$breakpoint-md}{
            flex-direction: row;
            width: 100%;
            padding-right: 55px;
            .bt{
              padding: 5px 0;
              width: 38%;
              height: 34px;
              max-width: 120px;
            }
          }
        }
      }
    }
  }
}
