* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
*::before,
*::after{
  background-repeat: no-repeat;
}
body, html {
  font-family: $fonts;
  overflow-x: hidden;
}
button:active,
button:focus,
button{
  cursor: pointer;
  outline: none;
}
form{
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montBold;
}

p {
  font-family: $fonts;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0 solid transparent;
}

ul {
  margin: 0;

  li {
    list-style: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}



.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus {
  outline-style: none;
  box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: $bg-shade-3!important;
  -webkit-box-shadow: 0 0 0px 1000px $bg-shade-3 inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $dark-white;
}
.widget-form{
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    background-color: $dark-white!important;
    -webkit-box-shadow: 0 0 0px 1000px $dark-white inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $bg-shade-3;
  }
}
.cover-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.position-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
svg {
  display: inline-block;
  width: 30px;
  height: 30px;
  &.hidden{
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -9999;
  }
  &.yllw {
    fill: $component-yellow!important;
  }
  &.blu{
    fill: $component-active-color!important;
  }
  &.rd{
    fill: $component-red!important;
  }
  &.grn{
    fill: $component-green!important;
  }
}
iframe{
  border: none;
}


.testDiv{
  min-height: 400px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #005cbf;
  width: 100%;
  &:nth-child(odd){
    background-color: #17a2b8;
  }
}




