

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  background-color: $sidebar-main-color;
  scrollbar-width: none;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: .15s;

  &-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: $card-overlay;
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    min-height: $navbar-height;
    height: $navbar-height;
    @media #{$breakpoint-lg}{
      min-height: $navbar-height-lg;
      height: $navbar-height-lg;
    }
    @media #{$breakpoint-md}{
      min-height: $navbar-height-md;
      height: $navbar-height-md;
    }

    &__img {
      height: 40px;
      margin-right: 10px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 130px;
        height: 130px;
        background-image: url("../img/logo-path.png");
        background-size: contain;
        z-index: -1;
        left: -20px;
        top: -20px;
      }
      @media #{$breakpoint-md}{
        height: 30px;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;

        img {
          height: 100%;
        }
      }
    }

    &__btn {
      @extend .menu-btn-alt;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0 0 0;
    opacity: 0;
  }

  &__btn {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: $transparent;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.active {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 13px;
      fill: $component-active-color;
    }
  }

  &__list {
    padding: 0 20px;
    > ul{
      border-top: 1px solid $sidebar-border-color;
      padding: 10px 0;
      &:first-child{
        border-top: unset;
        padding-top: 0;
      }
      > li{
        &:last-child{
          //margin-bottom: 20px;
        }
      }
    }
    .qt {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $component-red;
      line-height: 1;
      font-size: 11px;
      padding: 3px 6px;
      border-radius: 20px;
      user-select: none;
      margin-left: auto;
      color: $dark-white;
    }

    a {
      color: $white;
      font-size: 14px;
      transition: color .15s;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $dark-white;
      padding: 15px 0;
      h2{
        color: $dark-white;
        font-size: 14px;
        font-family: $montRegular;
        margin: 0;
        text-transform: uppercase;
      }
      a {
        color: $dark-white;
        display: block;
        width: 100%;
        font-family: $montMedium;
        text-transform: uppercase;
        &:hover {
          color: $component-active-color;
        }
      }
    }

    &-li {
      a {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 10px 12px;
        color: $dark-white;
        transition: background-color .15s;
        font-family: $montMedium;
        border-radius: 6px;
        &.active{
          background-color: $bg-shade-3;
          &:hover{
            background-color: $bg-shade-3;
          }
        }
        &:hover {
          background-color: $bg-shade-2;
        }

        img {
          height: 22px;
          width: 22px;
          margin-right: 10px;
          transition: .15s;
        }
      }
    }
  }

  &__footer {
    padding: 30px 0 10px 0;
    &-flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
    }
  }
}
.lang {
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid $component-color-1;
  transition: .15s;
  &.active{
    background-color: $bg-shade-3;
    &:hover{
      background-color: $bg-shade-3;
    }
  }
  &:hover {
    background-color: $bg-shade-2;
  }
  &.active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: $transparent;
  }
  .sidebar__btn{
    margin-left: auto;
  }
  &-name{
    color: $dark-white;
    font-size: 14px;
    display: inline-block;
    margin-left: 15px;
  }
  &-flag{
    width: 22px;
    height: 22px;
    overflow: hidden;
    border-radius: 50%;
    img{
      user-select: none;
      @extend .cover-img;
    }
  }
  &-container{
    width: 100%;
    padding: 5px 20px;
    display: none;
    margin-top: -1px;
    ul{
      width: 100%;
      margin-top: -5px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-left: 1px solid $component-color-1;
      border-bottom: 1px solid $component-color-1;
      border-right: 1px solid $component-color-1;
      overflow: hidden;
    }
    a{
      display: flex;
      align-items: center;
      padding: 10px 12px;
      margin-bottom: 5px;
      color: $dark-white;
      font-size: 14px;
      transition: background-color .15s;
      &:last-child{
        margin-bottom: 0;
      }
      &:hover{
        background-color: $bg-shade-2;
      }
      .lang-flag{
        margin-right: 15px;
        width: 22px;
        height: 22px;
      }
    }
  }
}

