.cards-slider{
  display: block;
  @media #{$breakpoint-md}{
    margin-right: -15px;
  }
  .cards__container{
    width: 100%;
    margin-bottom: 0;
  }
}
.arr{
  &.slick-disabled{
    opacity: 0.5;
    &:hover{
      svg{
        fill: $component-color-1!important;
      }
    }
  }
}


//main top banner slider
.banner{
  position: relative;
  &-section{
    position: relative;
    z-index: 1;
  }
  &__content{
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    @media #{$breakpoint-md}{
      justify-content: flex-end;
      align-items: flex-end;
      text-align: left!important;
      .bt{
        width: 100%;
        margin-bottom: 50px;
        margin-top: 15px!important;
      }
    }
    .container{
      position: relative;
      z-index: 5;
    }
    &::after{
      content: "";
      width: 100%;
      height: 100px;
      transition: .15s ease;
      background: linear-gradient(180deg,$transparent,$bg-shade-1);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    @media #{$breakpoint-md}{
      text-align: center;
    }
    &-text{
      margin: 0;
      color: $white;
      text-shadow: 0px 5px 10px $part-shadow;
      max-width: 50%;
      @media #{$breakpoint-md}{
        max-width: 100%;
        font-size: 18px;
        font-family: $montMedium;
      }
    }
  }
  &__img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    @media #{$breakpoint-md}{
      display: none;
    }
    img{
      @extend .cover-img;
      object-position: top center;
    }
    &-sm{
      @extend .banner__img;
      display: none;
      @media #{$breakpoint-md}{
        display: block;
      }
    }
  }
  .slick-dotted.slick-slider{
    margin-bottom: 0!important;
  }
  &__arrow{
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background-color: $transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $component-active-color;
    transition: background-color .15s;
    display: none;
    &:hover{
      background-color: $component-active-color;
      svg{
        fill: $dark-white;
      }
    }
    svg{
      width: 16px;
      transition: fill .15s;
      fill: $component-active-color;
    }
    &.bannerPrev{
      left: 25px;
    }
    &.bannerNext{
      right: 25px;
    }
  }
  &__slider{
    .slick-dots{
      z-index: 10;
      bottom: 0;
      transform: translateY(-50%);
      li{
        margin: 0 10px;
        &.slick-active{
          button{
            &::before{
              opacity: 1;
              background-color: darken($component-active-color, 10%);
            }
          }
        }
        button{
          width: 24px;
          &::before{
            font-family: unset;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0;
            width: 24px;
            height: 8px;
            border-radius: 5px;
            background-color: darken($component-active-color, 10%);
            opacity: 0.4;
          }
        }
      }
    }
  }
  &__container{
    height: calc(70vh - 80px);
    background-color: $bg-shade-1;
    overflow: hidden;
    position: relative;
    @media #{$breakpoint-xl}{
      height: calc(50vh - 80px);
    }
    @media #{$breakpoint-lg}{
      height: calc(60vh - 70px);
    }
    @media #{$breakpoint-md}{
      height: calc(60vh - 65px);
      min-height: 300px;
    }
  }
}
//main top banner slider ends

