.infotip{
  position: relative;
  display: inline-block;
  button{
    border: none;
    background-color: unset;
    svg{
      width: 16px;
      height: 16px;
      fill: $component-color-2;
    }
  }
  &-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 5px);
    border-radius: 6px;
    padding: 10px;
    background-color: $footer-main-color;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $montMedium;
    font-size: 12px;
    text-align: center;
    color: $dark-white;
    width: max-content;
    max-width: 300px;
    display: none;
    &::after{
      content: "";
      background-color: $footer-main-color;
      width: 12px;
      height: 12px;
      position: absolute;
      top: -4px;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

.iti{
  display: block;
  width: 100%;
  color: $white;
  font-size: 14px;
  font-family: $montMedium;
  input{
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 87px!important;
  }
  &__country-list{
    background-color: $footer-main-color;
    border-color: $component-active-color;
  }
}
.iti__arrow{
  width: 6px;
  height: 6px;
  border-right: 2px solid $dark-white;
  border-bottom: 2px solid $dark-white;
  border-left: unset;
  border-top: unset;
  transform: rotate(45deg);
  margin-top: -4px;
}
.iti__arrow--up{
  transform: rotate(-135deg);
  margin-top: 0;
}
.widget-form{
  .iti{
    color: $footer-main-color;
    &__country-list{
      background-color: $dark-white;
      border-color: $footer-main-color;
    }
  }
  .iti__arrow{
    border-right: 2px solid $footer-main-color;
    border-bottom: 2px solid $footer-main-color;
  }
}


.os-theme-dark.os-host-transition>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle{
  background-color: $component-color-2;
}
