---
layout: default-logged
title: Betvili - Assets
---

<div style="padding: 10px 20px;">
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green-b sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green-b">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green-b lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green lg full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green-b sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green-b full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-green-b lg full">button</div>
    </div>
</div>

<div style="padding: 10px 20px;">
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red-b sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red-b">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red-b lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red lg full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red-b sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red-b full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-red-b lg full">button</div>
    </div>
</div>

<div style="padding: 10px 20px;">
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue-b sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue-b">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue-b lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue lg full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue-b sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue-b full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-blue-b lg full">button</div>
    </div>
</div>

<div style="padding: 10px 20px;">
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow-b sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow-b">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow-b lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow lg full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow-b sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow-b full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-yellow-b lg full">button</div>
    </div>
</div>

<div style="padding: 10px 20px;">
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled-b sm">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled-b">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled-b lg">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled lg full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled-b sm full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled-b full">button</div>
    </div>
    <div style="margin-bottom: 5px;">
        <div class="bt bt-disabled-b lg full">button</div>
    </div>
</div>
