---
layout: default-logged
title: Betvili - FAQ
---
<div class="faq">
    <div class="faq-header">
        <div class="faq-header__title">
            <div class="container">
                <h1>FAQ</h1>
            </div>
        </div>
        <div class="profile-tab faq-tab">
            <div class="container">
                <ul class="nav profile-tab__nav faq-tab__nav" id="profile-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#faq1" id="faq1-tab" class="bt  active show" data-toggle="tab" role="tab" area-controls="faq1" area-selected="true" aria-selected="false">games</a>
                    </li>
                    <li class="nav-item">
                        <a href="#faq2" id="faq2-tab" class="bt" data-toggle="tab" role="tab" area-controls="faq2" area-selected="false">jackpots</a>
                    </li>
                    <li class="nav-item">
                        <a href="#faq3" id="faq3-tab" class="bt" data-toggle="tab" role="tab" area-controls="faq3" area-selected="false">support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="faq1" role="tabpanel" area-labelledby="faq1-tab">
            <div class="faq-container">
                <div class="container">
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="faq2" role="tabpanel" area-labelledby="faq2-tab">
            <div class="faq-container">
                <div class="container">
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="faq3" role="tabpanel" area-labelledby="faq3-tab">
            <div class="faq-container">
                <div class="container">
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                    <div class="faq-list">
                        <div class="faq-list__header">
                            <h2>Some title of faq</h2>
                            <button class="faq-list__btn">
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down-alt"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="faq-list__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur deserunt esse neque obcaecati provident quidem. Ad aspernatur assumenda, cum dignissimos dolores facilis laborum molestiae nobis recusandae sed veritatis voluptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
