---
layout: default-logged
title: Betvili - Game
---
<section class="game">
    <div class="game-frame">
        <div class="game-frame__container">
            <div class="game-frame__header">
                <div class="left">
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="game-frame__header-title">
                        <p>Yggdrasil</p>
                        <h2>Multifly</h2>
                    </div>
                </div>
                <div class="right">
                    <button class="frame-controll fullscreen-btn">
                        <svg class="icon">
                            <use xlink:href="#fullscreen"></use>
                        </svg>
                    </button>
                    <a href="slots.html" class="frame-controll cls">
                        <svg class="icon">
                            <use xlink:href="#times"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <iframe src="http://backgammonia.com/gameshare.html" scrolling="no"></iframe>
            <div class="game-frame__footer">
                <span>You are playing in fun mode. This game is more interesting with real mode</span>
                <a href="#!" class="bt bt-green">Play for real</a>
            </div>
        </div>
    </div>
</section>
<section class="section games-section">
    <div class="container">
        <div class="cards-header">
            <a href="#!" class="cards-header__title">
                <img src="assets/img/icons/set/recommended.svg" alt="">
                <span>Recommended</span>
            </a>
            <div class="cards-header__controller">
                <div class="cards__arrows">
                    <button class="arr trendingSliderPrev">
                        <svg class="icon">
                            <use xlink:href="#ico-arr-left"></use>
                        </svg>
                    </button>
                    <button class="arr trendingSliderNext">
                        <svg class="icon">
                            <use xlink:href="#ico-arr-right"></use>
                        </svg>
                    </button>
                </div>
                <a href="#!" class="bt bt-blue">
                    <span>See all</span>
                    <svg class="icon">
                        <use xlink:href="#ico-arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="cards cards-slider" id="trendingSlider">
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-1.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-2.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-3.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-4.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-2.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-4.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-2.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section games-section">
    <div class="container">
        <div class="cards-header">
            <a href="#!" class="cards-header__title">
                <img src="assets/img/icons/set/new.svg" alt="">
                <span>New Slots</span>
            </a>
            <div class="cards-header__controller">
                <div class="cards__arrows">
                    <button class="arr newSliderPrev">
                        <svg class="icon">
                            <use xlink:href="#ico-arr-left"></use>
                        </svg>
                    </button>
                    <button class="arr newSliderNext">
                        <svg class="icon">
                            <use xlink:href="#ico-arr-right"></use>
                        </svg>
                    </button>
                </div>
                <a href="#!" class="bt bt-blue">
                    <span>See all</span>
                    <svg class="icon">
                        <use xlink:href="#ico-arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="cards cards-slider" id="newSlider">
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-1.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-2.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-3.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-4.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-2.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-4.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-2.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>







