---
layout: default-logged
title: Betvili - Profile
---
<div class="profile-tab">
    <div class="container">
        <ul class="nav profile-tab__nav" id="profile-tabs" role="tablist">
            <li class="nav-item">
                <a href="#balance" id="balance-tab" class="bt active show" data-toggle="tab" role="tab" area-controls="balance" area-selected="true">balance</a>
            </li>
            <li class="nav-item">
                <a href="#account" id="account-tab" class="bt" data-toggle="tab" role="tab" area-controls="account" area-selected="false">account</a>
            </li>
            <li class="nav-item">
                <a href="#verification" id="verification-tab" class="bt" data-toggle="tab" role="tab" area-controls="verification" area-selected="false">verification</a>
            </li>
            <li class="nav-item">
                <a href="#security" id="security-tab" class="bt" data-toggle="tab" role="tab" area-controls="security" area-selected="false">security</a>
            </li>
            <li class="nav-item">
                <a href="#history" id="history-tab" class="bt" data-toggle="tab" role="tab" area-controls="history" area-selected="false">history</a>
            </li>
            <li class="nav-item">
                <a href="#notifications" id="notifications-tab" class="bt" data-toggle="tab" role="tab" area-controls="notifications" area-selected="false">notifications</a>
            </li>
            <li class="nav-item hidden">
                <a href="#deposit-now" id="deposit-now-tab" class="bt" data-toggle="tab" role="tab" area-controls="deposit-now" area-selected="false">Deposit</a>
            </li>
            <li class="nav-item">
                <a href="#bonuses" id="bonuses-tab" class="bt" data-toggle="tab" role="tab" area-controls="bonuses" area-selected="false">bonuses</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-9 col-lg-8">
            <div class="profile-content tab-content">
                <div class="tab-pane fade  active show" id="balance" role="tabpanel" area-labelledby="balance-tab">
                    <div class="user-alert">
                        <div class="alert-cls"></div>
                        <h4 class="user-alert__title">Personal information</h4>
                        <p class="user-alert__text">To make cash out action you must complete personal information <a href="profile.html#account">Click here to fill personal information</a></p>
                    </div>
                    <div class="profile-tab__container for-tbl">
                        <div class="tbl tbl-balance">
                            <table>
                                <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>EUR</td>
                                    <td>€100</td>
                                    <td>€4500</td>
                                    <td>
                                        <div class="tbl-balance__action">
                                            <a href="#!" class="bt bt-green mr-3" data-toggle="modal" data-target="#depositModal">Deposit</a>
                                            <a href="#!" class="bt bt-disabled" data-toggle="modal" data-target="#kycNeededModal">Cashout</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="account" role="tabpanel" area-labelledby="account-tab">
                    <form action="">
                        <div class="b-form">
                            <div class="b-form__container">
                                <div class="b-form__header">
                                    <h2 class="b-form__header-title">Personal Information</h2>
                                </div>
                                <div class="b-form__body">
                                    <div class="b-form__flex-3">
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <input id="firstName" required type="text">
                                                <label for="firstName">First name</label>
                                            </div>
                                        </div>
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <input id="lastName" required type="text">
                                                <label for="lastName">Last name</label>
                                            </div>
                                        </div>
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <select name="" id="gender">
                                                    <option value selected>Gender</option>
                                                    <option value>Male</option>
                                                    <option value>Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-form__flex-3">
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <input id="dateOfBirth" required type="text" placeholder="Day / Month / Year">
                                                <label for="dateOfBirth">Date of Birth</label>
                                            </div>
                                        </div>
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <select name="" id="country">
                                                    <option value selected>Country</option>
                                                    <option value>Germany</option>
                                                    <option value>United kingdom</option>
                                                    <option value>United stated</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="b-form__flex-sm">
                                            <div class="b-form__wrapper">
                                                <div class="b-form__input">
                                                    <input id="city" required type="text">
                                                    <label for="city">City</label>
                                                </div>
                                            </div>
                                            <div class="b-form__wrapper">
                                                <div class="b-form__input">
                                                    <input id="zipCode" required type="text">
                                                    <label for="zipCode">Zip code</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-form__flex-3 start">
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input success">
                                                <input id="emailAddress" required type="text">
                                                <label for="emailAddress">Email Address</label>
                                            </div>
                                        </div>
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <input class="placeholder" id="accMobileNumber" required type="number" placeholder="Mobile Number">
                                                <button type="button" class="b-form__input-btn confirm">Confirm</button>
                                                <div class="b-form__sms">
                                                    <p>We have sent you an SMS with verification code to the mobile phone number</p>
                                                    <div class="b-form__input">
                                                        <input id="smsVerify" required type="text" placeholder="Verification code">
                                                    </div>
                                                    <p class="mt-2">Code will expire in <span>55</span> sec</p>
                                                    <button class="bt bt-blue full">Submit</button>
                                                    <a href="#!">Resend</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-form__footer">
                                    <button class="b-form__footer-btn green ">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="">
                        <div class="b-form mt-4">
                            <div class="b-form__container">
                                <div class="b-form__header">
                                    <h2 class="b-form__header-title">Change Password</h2>
                                </div>
                                <div class="b-form__body">
                                    <div class="b-form__flex-3">
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <input id="oldPassword" required type="password">
                                                <label for="oldPassword">Old Password</label>
                                            </div>
                                        </div>
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <input id="newPassword" required type="password">
                                                <label for="newPassword">New Password</label>
                                            </div>
                                        </div>
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <input id="confirmPassword" required type="password">
                                                <label for="confirmPassword">Confirm Password</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-form__footer">
                                    <button class="b-form__footer-btn green ">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="history" role="tabpanel" area-labelledby="history-tab">
                    <div class="profile-tab__container history-tbl">
                        <div class="history-tbl__header">
                            <ul>
                                <li><a href="#!" class="active">Transaction History</a></li>
                                <li><a href="#!">Bets History</a></li>
                            </ul>
                        </div>
                        <form action="">
                            <div class="tbl-filter">
                                <div class="b-form">
                                    <div class="b-form__flex-3 _ex">
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <input id="dateHistory" required type="text" placeholder="Day / Month / Year">
                                                <label for="dateHistory">Date</label>
                                            </div>
                                        </div>
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <select name="" id="action">
                                                    <option value selected>Action</option>
                                                    <option value>EUR</option>
                                                    <option value>USD</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="b-form__wrapper">
                                            <div class="b-form__input">
                                                <select name="" id="status">
                                                    <option value selected>Status</option>
                                                    <option value>Pending</option>
                                                    <option value>Accepted</option>
                                                    <option value>Disabled</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="bt bt-green filter-btn">Filter</button>
                            </div>
                        </form>
                        <div class="tbl tbl-history">
                            <table>
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    <th>Payment system</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>04/07/2020 11:14</td>
                                    <td>
                                        <div class="tbl-status pending">
                                            <span>pending</span>
                                            <div class="tip">
                                                <button class="tip-btn">
                                                    <svg class="icon">
                                                        <use xlink:href="#ico-info"></use>
                                                    </svg>
                                                </button>
                                                <div class="tip-container">
                                                    <div class="tip-text">We have sent you an SMS with verification code to the mobile phone number</div>
                                                    <button class="bt bt-red">Cancel operation</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Deposit</td>
                                    <td>Mir</td>
                                    <td>€250</td>
                                </tr>
                                <tr>
                                    <td>04/07/2020 11:14</td>
                                    <td>
                                        <div class="tbl-status rejected">
                                            <span>Rejected</span>
                                        </div>
                                    </td>
                                    <td>Cashout</td>
                                    <td>Qiwi payment</td>
                                    <td>€3500</td>
                                </tr>
                                <tr>
                                    <td>04/07/2020 11:14</td>
                                    <td>
                                        <div class="tbl-status accepted">
                                            <span>Accepted</span>
                                        </div>
                                    </td>
                                    <td>Cashout</td>
                                    <td>Skrill</td>
                                    <td>€1000</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="security" role="tabpanel" area-labelledby="security-tab">
                    <form action="">
                        <div class="b-form">
                            <div class="b-form__container">
                                <div class="b-form__header">
                                    <h2 class="b-form__header-title">Security options</h2>
                                </div>
                                <div class="b-form__line">
                                    <div>Notifications</div>
                                    <div class="_ex-flex">
                                        <div>Email</div>
                                        <div>Phone</div>
                                    </div>
                                </div>
                                <ul class="b-form__list">
                                    <li>
                                        <p>SMS notification for each login</p>
                                        <div class="_ex-flex">
                                            <div class="b-form__toggle">
                                                <input type="checkbox" id="mailNotification">
                                                <label for="mailNotification" class="b-form__toggle-label">
                                                    <span class="b-form__toggle-label__handler"></span>
                                                </label>
                                            </div>
                                            <div class="b-form__toggle">
                                                <input type="checkbox" id="smsNotification">
                                                <label for="smsNotification" class="b-form__toggle-label">
                                                    <span class="b-form__toggle-label__handler"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>SMS message for successful cash withdrawal</p>
                                        <div class="_ex-flex">
                                            <div class="b-form__toggle">
                                                <input type="checkbox" id="mailWithdrawal">
                                                <label for="mailWithdrawal" class="b-form__toggle-label">
                                                    <span class="b-form__toggle-label__handler"></span>
                                                </label>
                                            </div>
                                            <div class="b-form__toggle">
                                                <input type="checkbox" id="smsWithdrawal">
                                                <label for="smsWithdrawal" class="b-form__toggle-label">
                                                    <span class="b-form__toggle-label__handler"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>SMS notification for each successful deposit</p>
                                        <div class="_ex-flex">
                                            <div class="b-form__toggle">
                                                <input type="checkbox" id="mailDeposit">
                                                <label for="mailDeposit" class="b-form__toggle-label">
                                                    <span class="b-form__toggle-label__handler"></span>
                                                </label>
                                            </div>
                                            <div class="b-form__toggle">
                                                <input type="checkbox" id="smsDeposit">
                                                <label for="smsDeposit" class="b-form__toggle-label">
                                                    <span class="b-form__toggle-label__handler"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="b-form__footer">
                                    <button class="b-form__footer-btn green">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="profile-tab__container history-tbl mt-4">
                        <div class="b-form__header">
                            <h2 class="b-form__header-title">Activity log</h2>
                        </div>
                        <div class="tbl tbl-history">
                            <table>
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>IP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>04/07/2020 11:14</td>
                                    <td>92.51.101.106</td>
                                </tr>
                                <tr>
                                    <td>04/07/2020 11:14</td>
                                    <td>92.51.101.106</td>
                                </tr>
                                <tr>
                                    <td>04/07/2020 11:14</td>
                                    <td>92.51.101.106</td>
                                </tr>
                                <tr>
                                    <td>04/07/2020 11:14</td>
                                    <td>92.51.101.106</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="verification" role="tabpanel" area-labelledby="verification-tab">
                    <form action="">
                        <div class="b-form">
                            <div class="b-form__container">
                                <div class="b-form__header">
                                    <h2 class="b-form__header-title">KYC Verification</h2>
                                </div>
                                <div class="b-form__subheader">
                                    <p>At first it seems exciting with the multiple wheels spining and three paylines. But after that it is just a steady baLance decrease. Even when i was getting respins often i rarely if ever won more than my bet and never brought my back up to what i started with or even close. It went fast but that was only twice i played. Pros: good concept looks bright nice
                                        exciting respins seem to hit often Cons.</p>
                                </div>
                                <div class="b-form__body">
                                    <div class="b-form__flex-2">
                                        <div class="b-form__wrapper">
                                            <div class="b-form__title">
                                                <h3>Necessary documents</h3>
                                            </div>
                                            <div class="b-form__drag">
                                                <div class="b-form__drag-container">
                                                    <input type="file" name="myFile" class="b-form__drag-input">
                                                    <div class="b-form__drag-name">
                                                        <span>Proof of address</span>
                                                        <div class="infotip">
                                                            <button>
                                                                <svg class="icon">
                                                                    <use xlink:href="#ico-info"></use>
                                                                </svg>
                                                            </button>
                                                            <div class="infotip-container">
                                                                At first it seems exciting with the multiple wheels spining and three paylines. But after that it is just a steady baLance decrease. Even when i waed with
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="b-form__drag-btn">Choose file <span> or drag it</span></button>
                                                </div>
                                            </div>
                                            <div class="b-form__drag">
                                                <div class="b-form__drag-container">
                                                    <input type="file" name="myFile" class="b-form__drag-input">
                                                    <div class="b-form__drag-name">
                                                        <span>Proof of Billings</span>
                                                        <div class="infotip">
                                                            <button>
                                                                <svg class="icon">
                                                                    <use xlink:href="#ico-info"></use>
                                                                </svg>
                                                            </button>
                                                            <div class="infotip-container">
                                                                At first it seems exciting with the multiple wheels spining and three paylines. But after that it is just a steady baLance decrease. Even when i waed with
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="b-form__drag-btn">Choose file <span> or drag it</span></button>
                                                </div>
                                            </div>
                                            <div class="b-form__drag">
                                                <div class="b-form__drag-container">
                                                    <input type="file" name="myFile" class="b-form__drag-input">
                                                    <div class="b-form__drag-name">
                                                        <span>Proof of something</span>
                                                        <div class="infotip">
                                                            <button>
                                                                <svg class="icon">
                                                                    <use xlink:href="#ico-info"></use>
                                                                </svg>
                                                            </button>
                                                            <div class="infotip-container">
                                                                At first it seems exciting with the multiple wheels spining and three paylines. But after that it is just a steady baLance decrease. Even when i waed with
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="b-form__drag-btn">Choose file span or drag it</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b-form__wrapper">
                                            <div class="b-form__title">
                                                <h3>Uploaded documents</h3>
                                            </div>
                                            <div class="b-form__drag-uploaded">
                                                <p class="empty-title">No document uploaded yet If you have some trouble with verification contact us via <a href="#!">chat</a></p>
                                                <div class="b-form__drag-uploaded__card">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Document type</th>
                                                            <th>Process</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>2020.10.01 13:21</td>
                                                            <td>Photo ID</td>
                                                            <td>
                                                                <span class="t-yellow">pending</span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="b-form__drag-uploaded">
                                                <div class="b-form__drag-uploaded__card">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Document type</th>
                                                            <th>Process</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>2020.10.01 13:21</td>
                                                            <td>Photo ID</td>
                                                            <td>
                                                                <span class="t-green">Verified</span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-tab__container kyc-tbl">
                                        <div class="tbl">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Document type</th>
                                                    <th>Process</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>2020.10.01 13:21</td>
                                                    <td>Proof of billing</td>
                                                    <td>
                                                        <div class="tbl-status pending">
                                                            <span>pending</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2020.10.01 13:21</td>
                                                    <td>Proof of adress</td>
                                                    <td>
                                                        <div class="tbl-status rejected">
                                                            <span>Rejected</span>
                                                            <div class="tip">
                                                                <button class="tip-btn">
                                                                    <svg class="icon">
                                                                        <use xlink:href="#ico-info"></use>
                                                                    </svg>
                                                                </button>
                                                                <div class="tip-container">
                                                                    <div class="tip-text">We have sent you an SMS with verification code to the mobile phone number</div>
                                                                    <button class="bt bt-blue">Upload modified document</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2020.10.01 13:21</td>
                                                    <td>Photo ID</td>
                                                    <td>
                                                        <div class="tbl-status accepted">
                                                            <span>Accepted</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="notifications" role="tabpanel" area-labelledby="notifications-tab">
                    <div class="b-form">
                        <div class="b-form__container">
                            <div class="b-form__header">
                                <h2 class="b-form__header-title">Notifications</h2>
                            </div>
                            <div class="b-form__body">
                                <div class="notify">
                                    <div class="notify__container">
                                        <div class="notify__header">
                                            <div class="notify__check">
                                                <input type="checkbox" id="notify1">
                                                <label for="notify1"></label>
                                            </div>
                                            <div class="notify__title">
                                                <span class="notify__title-date">08.12.2020</span>
                                                <p>Some title of notification for example</p>
                                            </div>
                                            <div class="notify__btn">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-right-alt"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="notify__content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Aliquam asperiores aspernatur atque, culpa dignissimos dolor,
                                                error facilis fuga minima perferendis quis quod ullam veniam,
                                                veritatis voluptatum. Nemo nostrum rerum soluta.</p>
                                        </div>
                                    </div>
                                    <div class="notify__container">
                                        <div class="notify__header">
                                            <div class="notify__check">
                                                <input type="checkbox" id="notify2">
                                                <label for="notify2"></label>
                                            </div>
                                            <div class="notify__title">
                                                <span class="notify__title-date">08.12.2020</span>
                                                <p>Some title of notification for example</p>
                                            </div>
                                            <div class="notify__btn">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-right-alt"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="notify__content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Aliquam asperiores aspernatur atque, culpa dignissimos dolor,
                                                error facilis fuga minima perferendis quis quod ullam veniam,
                                                veritatis voluptatum. Nemo nostrum rerum soluta.</p>
                                        </div>
                                    </div>
                                    <div class="notify__container">
                                        <div class="notify__header">
                                            <div class="notify__check">
                                                <input type="checkbox" id="notify3">
                                                <label for="notify3"></label>
                                            </div>
                                            <div class="notify__title">
                                                <span class="notify__title-date">03.11.2020</span>
                                                <p>Some title of notification for example</p>
                                            </div>
                                            <div class="notify__btn">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-right-alt"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="notify__content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Aliquam asperiores aspernatur atque, culpa dignissimos dolor,
                                                error facilis fuga minima perferendis quis quod ullam veniam,
                                                veritatis voluptatum. Nemo nostrum rerum soluta.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-form__footer">
                                <button class="b-form__footer-btn red notify-del-btn" id="notifyDelete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="bonuses" role="tabpanel" area-labelledby="bonuses-tab">
                    <div class="b-form">
                        <div class="b-form__container bonuses_section-container">
                            <div class="bonuses_section_header">
                                <h2 class="bonuses_section_header-title">Have a bonus code?</h2>
                                <form class="bonuses_section-form">
                                    <input class="form-control bonuses_section-search-input" type="search" placeholder="Type it here" aria-label="Search">
                                    <button class="btn bonuses_section-search-btn" type="submit">Submit</button>
                                  </form>
                            </div>
                            <div class="bonuses_section__body">
                                <h2 class="b-form__header-title">Bonus offers</h2>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="bonuses_section__body-item">
                                            <img src="assets/img/general/cashback-rotate.png" alt="img" class="bonuses_section__body-item-img">
                                            <div>
                                                <h3 class="bonuses_section__body-item-title">50% second deposit bonus</h3>
                                                <p class="bonuses_section__body-item-text">How do juicy additional winnings sound to you? If the answer is positive, look no further! With our brand new Casino Boost</p>
                                                <a class="bonuses_section__body-item-link" href="">See details</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6"></div>
                                </div>
                            </div>
                            <div class="bonuses_section__footer">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="deposit-now" role="tabpanel" area-labelledby="deposit-now-tab">
                    <div class="b-form">
                        <div class="b-form__container">
                            <div class="b-form__header">
                                <h2 class="b-form__header-title">Choose Payment method</h2>
                            </div>
                            <div class="b-form__body">
                                <div class="payments">
                                    <div class="payments__card">
                                        <div class="payments__card-header">
                                            <div class="payments__card-img">
                                                <img src="assets/img/payment/qiwi.png" alt="">
                                            </div>
                                            <div class="payments__card-text">
                                                <p>
                                                    Limits: <span>min-5$  max-10 000$</span>
                                                </p>
                                                <p>
                                                    Fee: <span>2.5 - 10%</span>
                                                </p>
                                                <p>
                                                    Time: <span>instant</span>
                                                </p>
                                            </div>
                                            <div class="dropdown-btn">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-right-alt"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="payments__card-body">
                                            <div class="row">
                                                <div class="col-xl-6 _border">
                                                    <div class="payment-form">
                                                        <div class="b-form__wrapper">
                                                            <div class="b-form__input currency">
                                                                <span class="currency">USD</span>
                                                                <input id="qiwipaymentAmount" required="" type="number">
                                                                <label for="qiwipaymentAmount">Payment amount</label>
                                                            </div>
                                                        </div>
                                                        <div class="b-form__wrapper">
                                                            <div class="b-form__input">
                                                                <div class="b-form__amount">
                                                                    <div class="b-form__amount-btn">5 $</div>
                                                                    <div class="b-form__amount-btn">10 $</div>
                                                                    <div class="b-form__amount-btn">20 $</div>
                                                                    <div class="b-form__amount-btn">50 $</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="payment-form">
                                                        <div class="b-form__wrapper">
                                                            <div class="b-form__input">
                                                                <input id="depositEmailAddress" required="" type="text">
                                                                <label for="depositEmailAddress">Email Address</label>
                                                            </div>
                                                        </div>
                                                        <div class="b-form__wrapper">
                                                            <div class="b-form__input">
                                                                <button class="bt bt-green lg full">Pay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payments__card">
                                        <div class="payments__card-header">
                                            <div class="payments__card-img">
                                                <img src="assets/img/payment/neteller.png" alt="">
                                            </div>
                                            <div class="payments__card-text">
                                                <p>
                                                    Limits: <span>min-5$  max-10 000$</span>
                                                </p>
                                                <p>
                                                    Fee: <span>2.5 - 10%</span>
                                                </p>
                                                <p>
                                                    Time: <span>instant</span>
                                                </p>
                                            </div>
                                            <div class="dropdown-btn">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-right-alt"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="payments__card-body">
                                            <div class="payment-form">
                                                <div class="b-form__wrapper">
                                                    <div class="b-form__input currency">
                                                        <span class="currency">USD</span>
                                                        <input id="netellerpaymentAmount" required="" type="number">
                                                        <label for="netellerpaymentAmount">Payment amount</label>
                                                    </div>
                                                </div>
                                                <div class="b-form__wrapper">
                                                    <div class="b-form__input">
                                                        <div class="b-form__amount">
                                                            <div class="b-form__amount-btn">5 $</div>
                                                            <div class="b-form__amount-btn">10 $</div>
                                                            <div class="b-form__amount-btn">20 $</div>
                                                            <div class="b-form__amount-btn">50 $</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="b-form__wrapper">
                                                    <div class="b-form__input">
                                                        <button class="bt bt-green lg full">Pay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payments__card">
                                        <div class="payments__card-header">
                                            <div class="payments__card-img">
                                                <img src="assets/img/payment/jeton.png" alt="">
                                            </div>
                                            <div class="payments__card-text">
                                                <p>
                                                    Limits: <span>min-5$  max-10 000$</span>
                                                </p>
                                                <p>
                                                    Fee: <span>2.5 - 10%</span>
                                                </p>
                                                <p>
                                                    Time: <span>instant</span>
                                                </p>
                                            </div>
                                            <div class="dropdown-btn">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-right-alt"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="payments__card-body">
                                            <div class="row">
                                                <div class="col-xl-6 _border">
                                                    <div class="payment-form">
                                                        <div class="b-form__wrapper">
                                                            <div class="b-form__input currency">
                                                                <span class="currency">USD</span>
                                                                <input id="jetonpaymentAmount" required="" type="number">
                                                                <label for="jetonpaymentAmount">Payment amount</label>
                                                            </div>
                                                        </div>
                                                        <div class="b-form__wrapper">
                                                            <div class="b-form__input">
                                                                <div class="b-form__amount">
                                                                    <div class="b-form__amount-btn">5 $</div>
                                                                    <div class="b-form__amount-btn">10 $</div>
                                                                    <div class="b-form__amount-btn">20 $</div>
                                                                    <div class="b-form__amount-btn">50 $</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="payment-form">
                                                        <div class="b-form__wrapper">
                                                            <div class="b-form__input">
                                                                <input class="placeholder" id="depositMobileNumber" required type="number" placeholder="Mobile Number">
                                                            </div>
                                                        </div>
                                                        <div class="b-form__wrapper">
                                                            <div class="b-form__input">
                                                                <button class="bt bt-green lg full">Pay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-3 col-lg-4">
            <div class="support">
                <h2 class="support__title">
                    For any kind of question
                    contact us via online chat
                </h2>
                <div class="support__img">
                    <img src="assets/img/support.png" alt="">
                </div>
                <div class="support__faq">
                    <a href="#!" class="bt bt-blue lg support__btn">Online chat</a>
                    <a href="faq.html" class="bt bt-blue lg support__btn">FAQ</a>
                </div>
            </div>
        </div>
    </div>
</div>

