---
layout: default-logged
title: Betvili - Slots
---
<section class="banner-section">
    <div class="banner">
        <!--            slider arrows-->
        <button class="banner__arrow bannerPrev">
            <svg class="icon">
                <use xlink:href="#ico-arr-left"></use>
            </svg>
        </button>
        <button class="banner__arrow bannerNext">
            <svg class="icon">
                <use xlink:href="#ico-arr-right"></use>
            </svg>
        </button>
        <!--            slider arrows end-->
        <div class="banner__slider" id="bannerSlider">
            <div class="banner__slide">
                <div class="banner__container">
                    <div class="banner__content">
                        <div class="container">
                            <h1 class="banner__content-text">Microgaming is<br>finally here</h1>
                            <a href="#!" class="bt bt-green lg mt-4">Resigter now</a>
                        </div>
                    </div>
                    <div class="banner__img">
                        <img src="assets/img/games/banner-4.jpg" alt="">
                    </div>
                    <div class="banner__img-sm">
                        <img src="assets/img/games/banner-4-sm.png" alt="">
                    </div>
                </div>
            </div>
            <div class="banner__slide">
                <div class="banner__container">
                    <div class="banner__content">
                        <div class="container">
                            <h1 class="banner__content-text">Get 100% Bonus<br>Just for registration</h1>
                            <a href="#!" class="bt bt-green lg mt-4">Resigter now</a>
                        </div>
                    </div>
                    <div class="banner__img">
                        <img src="assets/img/games/banner-2.png" alt="">
                    </div>
                    <div class="banner__img-sm">
                        <img src="assets/img/games/banner-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="banner__slide">
                <div class="banner__container">
                    <div class="banner__content">
                        <div class="container">
                            <h1 class="banner__content-text">Book of Sun<br>Already available</h1>
                            <a href="#!" class="bt bt-green lg mt-4">Resigter now</a>
                        </div>
                    </div>
                    <div class="banner__img">
                        <img src="assets/img/games/banner-3.png" alt="">
                    </div>
                    <div class="banner__img-sm">
                        <img src="assets/img/games/banner-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section games-section">
    <div class="container">
        <div class="cards-header">
            <h2 class="cards-header__title">
                <img src="assets/img/icons/set/slots.svg" alt="">
                <span>Slots</span>
            </h2>
            <button class="bt bt-blue cards-header__btn">
                <span>Providers</span>
                <svg class="icon">
                    <use xlink:href="#ico-chevron-down"></use>
                </svg>
            </button>
            <div class="cards-header__dropdown">
                <a href="#!" class="bt sm provider-btn">
                    <span>OneTouch</span>
                    <div class="qt">
                        <span>34</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Microgaming</span>
                    <div class="qt">
                        <span>176</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Yggdrasil</span>
                    <div class="qt">
                        <span>4504</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Red tiger</span>
                    <div class="qt">
                        <span>4</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Netent</span>
                    <div class="qt">
                        <span>511</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Microgaming</span>
                    <div class="qt">
                        <span>176</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>OneTouch</span>
                    <div class="qt">
                        <span>34</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Microgaming</span>
                    <div class="qt">
                        <span>176</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Yggdrasil</span>
                    <div class="qt">
                        <span>4504</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Red tiger</span>
                    <div class="qt">
                        <span>4</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Netent</span>
                    <div class="qt">
                        <span>511</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Microgaming</span>
                    <div class="qt">
                        <span>176</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>OneTouch</span>
                    <div class="qt">
                        <span>34</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Microgaming</span>
                    <div class="qt">
                        <span>176</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Yggdrasil</span>
                    <div class="qt">
                        <span>4504</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Red tiger</span>
                    <div class="qt">
                        <span>4</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Netent</span>
                    <div class="qt">
                        <span>511</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Microgaming</span>
                    <div class="qt">
                        <span>176</span>
                    </div>
                </a>
                <a href="#!" class="bt sm provider-btn">
                    <span>Yggdrasil</span>
                    <div class="qt">
                        <span>4504</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="cards">
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-1.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-2.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-3.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-4.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-2.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cards__container">
                <div class="cards__item">
                    <div class="cards__item-label">
                        <ul>
                            <li class="new"><span>New</span></li>
                        </ul>
                    </div>
                    <div class="cards__item-favourite">
                        <svg class="icon">
                            <use xlink:href="#ico-star-alt"></use>
                        </svg>
                    </div>
                    <div class="cards-wrap">
                        <div class="cards__item-tumb">
                            <div class="cards__item-action">
                                <a href="game.html">
                                    <svg class="icon">
                                        <use xlink:href="#ico-play-alt"></use>
                                    </svg>
                                </a>
                                <a href="#!demo" class="cards__item-demo">Demo</a>
                            </div>
                            <div class="cards__item-img">
                                <img src="assets/img/games/game-5.png" alt="">
                            </div>
                            <div class="cards__item-gif" style="background-image: url(assets/img/games/game-5-preview.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="cards__title">
                    <div class="cards__title-link">
                        <a href="#!">Dragon Pearl</a>
                        <a href="#!">hacksaw gaming</a>
                    </div>
                    <button class="cards__tip">
                        <svg class="icon">
                            <use xlink:href="#ico-info"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="cards__loader">
            <p class="cards__loader-title">You've loaded 46 of 2523 games</p>
            <button class="bt bt-blue active">
                <span>Load more</span>
                <svg class="icon m-l">
                    <use xlink:href="#ico-refresh"></use>
                </svg>
            </button>
        </div>
    </div>
</section>


