---
layout: default-logged
title: Betvili - Terms and Conditions
---
<div class="rules">
    <div class="container">
        <div class="row flex-lg-row flex-column-reverse">
            <div class="col-xl-9 col-lg-8 col-md-12">
                <div class="rules-container">
                    <h4>1. GENERAL TERMS AND DEFINITIONS</h4>
                    <p>Bets may only be placed by individuals who are 18 years of age or the age of majority in their state (if the age of majority is over 18) and agree to the Betting Rules offered by the bookmaker. The customer shall be held liable for violation of this regulation.
                        The following individuals are not allowed to place bets:
                        <br>
                        - individuals who are under 18 years of age at the time of placement;
                        <br>
                        - individuals who directly participate in the events being betted on (e.g. sportspeople, coaches, referees, club owners or club management, or other individuals who can influence the outcome of the event), as well as any individuals acting on their behalf or affiliating with them;
                        <br>
                        - individuals representing other <a href="#!"> bookmakers;</a>
                        <br>
                        - individuals who are prohibited from entering into a contract with a bookmaker subject to the effective legislation.
                        <br>
                        The right to access and/or use the Website (including any or all of the products offered through the Website) may be considered illegal in certain countries (including, for example, the USA, the United Kingdom, Cyprus, the Netherlands, etc.). We do not intend for our Website to be used for sports betting, gambling or other purposes by people who reside in countries or jurisdictions in which such types of activity are illegal.
                        The fact that our Website is available in such a country and/or jurisdiction or that it can be displayed in the official language of any of those countries cannot be
                        considered official authorization or legal grounds for using our Website and depositing funds into your account or withdrawing your winnings. The availability of the Website does not mean that it contains any proposals, incitement or invitation to use or subscribe to betting, gambling or any of the other services in any jurisdiction where such activity is illegal.
                        You are responsible for determining whether your accessing and/or use of the Website is compliant with applicable laws in your jurisdiction and you warrant to us that gambling is legal in the territory where you reside. When opening an account and/or using our Website you must make sure that your actions are legal in the territory in which you reside. You also guarantee and agree that you have received legal advice before registering on our Website. If we become aware that you are a resident in a country where the use of our Website is considered illegal, we will have the right to close your account and refund any remaining balance on your account at the moment of its closure (after the deduction of any winnings credited after your most recent deposit was made).
                        The bookmaker shall be entitled to refuse bets from customers who fail to abide by these Rules. The ker.
                        Should these Rules be amended, customers shall be notified accordingly. Bets accepted after the specified date shall be subject to the amended Rules. Earlier bets shall remain unchanged.
                        No connection failure while receiving confirmation of a bet shall entail the cancellation of such bet.
                        Placing a bet acts as proof that the Customer agrees to and accepts these Betting Rules.
                        Bets shall be settled and winnings shall be determined based only on the results declared by the bookmaker. Any complaints about the results, date, and actual starting time of the event shall be considered together with official documents from the relevant sports federations.
                        No complaint in connection with or arising from transliteration (or translation) of a team name, player’s surname, or sports venue will be considered by the bookmaker. A tournament title is given for s The bookmaker reserves the right to update these Rules and add new provisions at any time. Such new rules viduals under 18 years of age) to be involved in betting. We take every possible precaution to prevent violation of this rule. We guarantee that our advertisements, sponsorship and marketing campaigns do Have you ever lied to cover up the amount of money or time you have spent gambling?
                        It is never too late to admit that you have an addiction and to fight against it. We value our customers and in no event will we facilitate the progression of this illness. Please read the following information which can help you lower the risk of developing gambling addiction:
                        The bettor shall be held liable for the violation of above mentioned paragraphs. Should these Rules be violated, the bookmaker reserves the right to refuse to pay any winnings or to refund stakes, as well as to cancel any bets. The bookmaker shall not be liable in relation to the moment when they become aware that the customer falls within any of the aforementioned categories. This means that the bookmaker shall be entitled to take the above measures at any time once they have become aware that the customer is an individual who can be designated as above.
                        In no event shall the bookmaker 1xBet be held liable to the Customer for any indirect, collateral, or incidental losses or damages (including loss of profit), even though they may have been notified that such losses or damages are likely to occur.
                        If an account is inactive for 3 months, the Company reserves the right to block it. To unblock an account, please contact our Security Team at security-en@1xbet-team.com.
                        The bookmaker reserves the right to update these Rules and add new provisions at any time. Such new rules or amendments shall take effect immediately after publication on the website.
                        What is gambling addiction? Gambling problems are associated with mental health issues such as depression,
                        anxiety and suicide. They can affect family relationships, professional and academic progress, and can even lead to bankruptcy and crime.
                        Gambling is an entertaining activity rather than a source of income.
                        Gambling is a thrilling and amusing pastime. Unfortunately, in some cases, involvement in such activities may cause problems. We take care of our customers and do our best to ensure responsible use of our website without any negative consequences.  We advertise our products and services in a responsible manner and will not target young or susceptible people.
                        Underage gambling. Our company does not allow minors (individuals under 18 years of age) to be involved in betting. We take every possible precaution to prevent violation of this rule. We guarantee that our advertisements, sponsorship and marketing campaigns do not contain information targeted to minors.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="rules-menu">
                    <ul class="rules-menu__list">
                        <li>
                            <a href="#!" class="rules-menu__list-link">
                                <span class="rules-menu__list-number">1.</span>
                                <span class="rules-menu__list-title">GENERAL TERMS AND DEFINITIONS</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="rules-menu__list-link toggle">
                                <span class="rules-menu__list-number">2.</span>
                                <span class="rules-menu__list-title">GENERAL BETTING RULES</span>
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down"></use>
                                </svg>
                            </a>
                            <ul class="rules-menu__list-sub">
                                <li>
                                    <a href="#!" class="rules-menu__list-link">
                                        <span class="rules-menu__list-number">2.1.</span>
                                        <span class="rules-menu__list-title">bet slip sale</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="rules-menu__list-link">
                                        <span class="rules-menu__list-number">2.2.</span>
                                        <span class="rules-menu__list-title">bet insurance</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="rules-menu__list-link">
                                        <span class="rules-menu__list-number">2.3.</span>
                                        <span class="rules-menu__list-title">bet slip editing</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!" class="rules-menu__list-link toggle">
                                <span class="rules-menu__list-number">3.</span>
                                <span class="rules-menu__list-title">GENERAL BETTING RULES</span>
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down"></use>
                                </svg>
                            </a>
                            <ul class="rules-menu__list-sub">
                                <li>
                                    <a href="#!" class="rules-menu__list-link">
                                        <span class="rules-menu__list-number">3.1.</span>
                                        <span class="rules-menu__list-title">bet slip sale</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="rules-menu__list-link">
                                        <span class="rules-menu__list-number">3.2.</span>
                                        <span class="rules-menu__list-title">bet insurance</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="rules-menu__list-link">
                                        <span class="rules-menu__list-number">3.3.</span>
                                        <span class="rules-menu__list-title">bet slip editing</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!" class="rules-menu__list-link toggle">
                                <span class="rules-menu__list-number">4.</span>
                                <span class="rules-menu__list-title">GENERAL BETTING RULES</span>
                                <svg class="icon">
                                    <use xlink:href="#ico-chevron-down"></use>
                                </svg>
                            </a>
                            <ul class="rules-menu__list-sub">
                                <li>
                                    <a href="#!" class="rules-menu__list-link">
                                        <span class="rules-menu__list-number">4.1.</span>
                                        <span class="rules-menu__list-title">bet slip sale</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="rules-menu__list-link">
                                        <span class="rules-menu__list-number">4.2.</span>
                                        <span class="rules-menu__list-title">bet insurance</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="rules-menu__list-link">
                                        <span class="rules-menu__list-number">4.3.</span>
                                        <span class="rules-menu__list-title">bet slip editing</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
