.game{
  height: calc(90vh - 80px);
  background-color: $bg-shade-1;
  position: relative;
  background-image: url("../img/games/game-banner.png");
  background-position: center;
  background-size: cover;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient($transparent, $bg-shade-1);
  }
  &-frame{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    &__container{
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1200px;
      max-height: 720px;
      padding: 56px 0;
      border-radius: 10px;
      overflow: hidden;
      backdrop-filter: blur(20px);
      box-shadow: 0px 3px 10px $part-shadow;
      &.real{
        padding-bottom: 0;
        .game-frame__footer{
          display: none;
        }
      }
    }
    &__header,
    &__footer{
      position: absolute;
      width: 100%;
      height: 56px;
      left: 0;
      color: $white;
    }
    &__header{
      top: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left{
        display: flex;
        align-items: center;
        padding-left: 15px;
        .cards__item-favourite{
          position: relative;
          top: unset;
          right: unset;
          margin-right: 15px;
          &:not(.active){
            &:hover{
              svg{
                opacity: 1;
              }
            }
            svg{
              opacity: 0.6;
            }
          }
        }
      }
      &-title{
        h2,
        a,
        p{
          margin: 0;
          user-select: none;
        }
        a,
        p{
          text-transform: uppercase;
          color: $dark-white;
          font-size: 12px;
        }
        h2{
          font-size: 18px;
        }
      }
      .right{
        padding-right: 15px;
        display: flex;
        align-items: center;
        .frame-controll{
          border: none;
          background-color: $transparent;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-left: 20px;
          transition: .15s;
          &.fullscreen-btn{
            @media #{$breakpoint-lg}{
              display: none;
            }
          }
          &:hover{
            svg{
              fill: $component-active-color;
            }
          }
          svg{
            transition: .15s;
            fill: $white;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &__footer{
      bottom: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: $bg-shade-3;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      @media #{$breakpoint-md}{
        .bt{
          font-size: 12px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      span{
        display: block;
        margin-right: 15px;
        font-size: 14px;
        @media #{$breakpoint-lg}{
          font-size: 12px;
          margin-right: 10px;
        }
      }
    }
    iframe{
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 10;
    }
  }
}


.gameTip{
  position: absolute;
  top: 969.296875px;
  left: 612.5px;
  z-index: 999999;
  border-radius: 6px;
  padding: 12px 8px;
  background-color: $bg-shade-2;
  border: 1px solid $component-color-2;
  width: calc(100vw - 30px);
  max-width: 300px;
  box-shadow: 0px 3px 10px $part-shadow;
  display: none;
  ul{
    width: 100%;
    li{
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      padding: 6px 10px;
      border-radius: 3px;
      background-color: $bg-shade-3;
      border: 1px solid $component-color-1;
      margin-bottom: 5px;
      p{
        color: $dark-white;
        margin-bottom: 0;
        font-size: 12px;
        user-select: none;
        &:first-child{
          margin-right: 50px;
        }
      }
    }
  }
  &-tags{
    display: flex;
    flex-wrap: wrap;
    padding-top: 6px;
    margin-left: -2px;
    margin-right: -2px;
    a{
      display: inline-block;
      line-height: 1;
      white-space: nowrap;
      border-radius: 100px;
      color: $component-color-2;
      border: 1px solid $component-color-2;
      padding: 5px 10px;
      margin: 2px;
      font-size: 12px;
      user-select: none;
      transition: .15s;
      &:hover{
        color: $dark-white;
        background-color: $component-color-2;
      }
    }
  }
}
