.info {
  padding: 40px 0;

  &-header {
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 40px 20px;
    background-color: $bg-shade-3;

    &__title {
      font-family: $montMedium;
      font-size: 20px;
      color: $dark-white;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 14px;
      margin: 0;
      color: $component-color-2;
    }
  }

  &-container {
    background-color: $bg-shade-2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px 15px;
  }

  &__payment{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    &-title{
      color: $dark-white;
      margin-bottom: 25px;
      font-family: $montSemiBold;
      font-size: 20px;
    }
    &__card{
      @extend .payments__card;
      &-header{
        @extend .payments__card-header;
        padding-right: 0;
      }
      &-img{
        @extend .payments__card-img;
        @media #{$breakpoint-md}{
          background-color: $bg-shade-1;
        }
      }
      &-text{
        @extend .payments__card-text;
        width: 100%;
        margin: 0;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        @media #{$breakpoint-sm}{
          padding-left: 10px;
          padding-right: 10px;
        }
        p{
          padding: 5px 0;
          color: $component-color-2;
          &:first-child{
            width: 100px;
            @media #{$breakpoint-md}{
              width: 100%;
            }
          }
          @media #{$breakpoint-md}{
            width: 100%;
            font-size: 12px;
          }
          span{
            color: $dark-white;
            margin-left: 5px;
            @media #{$breakpoint-md}{
              margin-left: 0;
              float: right;
            }
          }
        }
      }
    }
  }
}
