.page {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &.active {
    .sidebar {
      width: $sidebar-width;
      @media #{$breakpoint-xxl} {
        width: #{$sidebar-width-md};
      }
      @media #{$breakpoint-lg} {
        width: 80%;
        max-width: $sidebar-width;
      }

      &-overlay {
        @media #{$breakpoint-lg} {
          display: block;
        }
      }
      transition: 0.15s;
      &__content {
        opacity: 1;
      }
    }

    .page__main {
      margin-left: $sidebar-width;
      @media #{$breakpoint-xxl} {
        margin-left: #{$sidebar-width-md};
      }
      @media #{$breakpoint-lg} {
        margin-left: 0;
      }
    }

    .navbar {
      width: calc(100% - #{$sidebar-width});

      .logo {
        display: none;
      }

      @media #{$breakpoint-xxl} {
        width: calc(100% - #{$sidebar-width-md});
      }
      @media #{$breakpoint-lg} {
        width: 100%;
      }
    }
  }

  &.locked {
    .page__main {
      height: 100vh;
      overflow: hidden;
    }

    .widget__container {
      height: calc(100vh - #{$navbar-height});
      overflow: auto;
      @media #{$breakpoint-lg} {
        height: calc(100vh - #{$navbar-height-lg});
      }
      @media #{$breakpoint-lg} {
        height: calc(100vh - #{$navbar-height-md});
      }
    }
  }

  &__main {
    width: 100%;
    margin-left: 0;
    background-color: $bg-shade-1;
    overflow-y: auto;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    // transition: background-color .15s ease;
    transition: 0.15s ease;
  }

  &__content {
    padding-top: $navbar-height;

    //bg leaves
    background-image: url("../img/graphics/body-bg-left.png"),
      url("../img/graphics/body-bg-right.png");
    background-position: center left, center right;
    background-size: 50%, 30%;
    background-repeat: repeat-y, repeat-y;

    @media #{$breakpoint-lg} {
      padding-top: $navbar-height-lg;
    }
    @media #{$breakpoint-md} {
      padding-top: $navbar-height-md;
      padding-bottom: $navbar-height;
    }

    &.game-fullscreen {
      padding: 0;
      height: 100vh;
      overflow: hidden;

      .game {
        height: 100%;
        z-index: 120;

        &-frame {
          padding: 0;

          &__container {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            border-radius: 0;
            position: absolute;
            top: 0;
            left: 0;
          }

          &__header,
          &__footer {
            border-radius: 0;
          }
        }
      }
    }
  }
}

.section {
  padding: 20px 0;
}

//bottom navigation bar
.bottom {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $bg-shade-1;
  padding: 15px;
  box-shadow: 0px -3px 16px -2px $part-shadow;
  justify-content: center;
  display: none;
  @media #{$breakpoint-md} {
    display: flex;
  }

  &__login {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 540px;

    .bt {
      width: 45%;
      max-width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__navbar {
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $dark-white;
        transition: color 0.15s;
        white-space: nowrap;
        padding: 0 5px;

        .ico {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            background-color: #e14949;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            top: -1px;
            right: -6px;
            border: 3px solid $bg-shade-1;
            display: none;
          }
        }

        &.new-alert {
          .ico {
            &::after {
              display: block;
            }
          }
        }

        &:hover,
        &.active {
          color: $dark-white;

          svg {
            fill: $dark-white;
          }
        }

        svg {
          fill: $dark-white;
          width: 20px;
          height: 20px;
          transition: fill 0.15s;
        }

        span {
          display: block;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

//bottom navigation bar ends

.widget {
  min-height: calc(70vh - #{$navbar-height});
  position: relative;
  background-image: url("../img/deposit-bg.png");
  background-size: cover;
  background-position: center;
  @media #{$breakpoint-lg} {
    min-height: calc(70vh - #{$navbar-height-lg});
  }
  @media #{$breakpoint-md} {
    min-height: calc(60vh - #{$navbar-height-md});
  }

  &__title {
    color: $dark-white;
    @include font-size(4rem);
    @include rfs(48);
    margin-bottom: 50px;
    text-align: center;
    @media #{$breakpoint-lg} {
      margin-bottom: 20px;
    }
    @media #{$breakpoint-md} {
      font-size: 24px;
    }
    @media #{$breakpoint-sm} {
      font-size: 20px;
    }
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 50px 30px;
    overflow: hidden;
    flex-direction: column;
    @media #{$breakpoint-md} {
      padding-top: 30px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100px;
      transition: 0.15s ease;
      background: linear-gradient(180deg, $transparent, $bg-shade-1);
      position: absolute;
      bottom: -2px;
      left: 0;
    }
  }
}

//promotions page
.promotions {
  padding: 40px 0;
  overflow: hidden;
  &-box {
    &:first-child {
      .promotions-card {
        &::before {
          content: "";
          position: absolute;
          background-size: contain;
          background-position: bottom 30px center;
          z-index: 2;
          display: none;
          height: 100%;
          display: block;
          background-image: url("../img/graphics/left-path.png");
          width: 120px;
          left: -91px;
          bottom: 0;
          @media #{$breakpoint-md} {
            display: none;
          }
        }
      }
    }

    &:last-child {
      .promotions-card {
        &::before {
          content: "";
          position: absolute;
          background-size: contain;
          background-position: bottom 30px center;
          z-index: 2;
          display: none;
          height: 100%;
          display: block;
          background-image: url("../img/graphics/right-path.png");
          width: 96px;
          right: -70px;
          bottom: 0;
          @media #{$breakpoint-md} {
            display: none;
          }
        }
      }
    }
  }

  &-loader {
    padding: 30px 0 35px 0;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      height: 3px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(
        to left,
        $transparent,
        $component-color-1,
        $transparent
      );
      display: none;
    }

    &.loaded {
      &::after {
        display: block;
      }
    }
  }

  &-nav {
    border-bottom: 1px solid $component-color-1;
  }

  &-header {
    .bt {
      color: $component-color-1;
      padding-left: 5px;
      padding-right: 5px;
      margin-right: 30px;
      display: flex;
      align-items: center;
      border-radius: 0;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      margin-bottom: -1px;

      .qt {
        background-color: $component-color-1;
        color: $dark-white;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 11px;
        padding: 3px 6px;
        border-radius: 20px;
        user-select: none;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
      }

      &.active {
        color: $dark-white;
        border-bottom-color: $dark-white;
      }
    }
  }

  &-body {
    padding: 60px 15px 0 15px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    &__old {
      display: none;

      .promotions-card__img {
        img {
          filter: grayscale(1);
        }
      }
    }

    @media #{$breakpoint-lg} {
      padding-top: 30px;
    }
  }

  &-card {
    text-align: center;
    margin: 23px auto 30px auto;
    max-width: 510px;
    border: double 1px transparent;
    border-radius: 16px;
    background-image: linear-gradient($bg-shade-2, $bg-shade-2),
      linear-gradient($transparent 30%, $component-color-1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;

    .opt {
      position: absolute;
      top: -45px;
      right: -40px;
      z-index: 2;
      color: $dark-white;
      font-size: 18px;
      padding: 35px 40px 30px 35px;
      font-family: $montBold;
      line-height: 1;
      background-image: url("../img/graphics/promo-path.svg");
      background-size: contain;
      background-position: center;
      user-select: none;
    }

    &__img {
      margin-top: -23px; // img fix
      position: relative;
      display: flex;
      align-items: flex-start;

      &::after {
        content: "";
        width: 100%;
        height: 100px;
        transition: 0.15s ease;
        background: linear-gradient(180deg, $transparent, $bg-shade-2);
        position: absolute;
        bottom: 0;
        left: 0;
      }

      img {
        width: 100%;
      }
    }

    &__info {
      padding: 30px 20px;

      &-header {
        color: $promo-yellow;
        font-size: 22px;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 25px;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          height: 1px;
          width: 80%;
          background-color: $component-color-1;
        }
      }

      &-text {
        color: $component-color-2;
        font-size: 14px;
        margin-bottom: 25px;
      }
    }
  }
}

//******************

.promo-banner {
  position: relative;
  z-index: 1;
  &__img {
    display: block;
    user-select: none;
    border-radius: 16px;
    overflow: hidden;
    @media #{$breakpoint-md} {
      display: none;
    }

    &-sm {
      @extend .promo-banner__img;
      display: none;
      @media #{$breakpoint-md} {
        display: block;
      }
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    background-color: $transparent;
    @media #{$breakpoint-md} {
      padding-left: 10px;
      padding-right: 10px;
    }
    &.bott {
      text-align: left;
      align-items: flex-start;
      &.center {
        text-align: center;
        align-items: center;
        @media #{$breakpoint-md} {
          text-align: left;
          align-items: center;
          justify-content: space-between;
        }
      }
      @media #{$breakpoint-md} {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: auto;
        transform: none;
        text-align: left;
        left: 50%;
        transform: translateX(-50%);
        top: unset;
        bottom: 0;
        background-color: $bg-shade-3;
        padding: 10px 20px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        z-index: 1;
        h2 {
          font-size: 15px;
          margin-bottom: 0;
          font-family: $montMedium;
          width: 50%;
        }
      }
    }
    h2 {
      color: $dark-white;
      margin-bottom: 30px;
      max-width: 50%;
      @media #{$breakpoint-lg} {
        margin-bottom: 15px;
        font-size: 26px;
      }
    }
  }
}

// ********* Home page
.advantages_section {
  &-title {
    color: $white;
    font-family: $montBold;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 20px;
    @media #{$breakpoint-lg} {
      margin-top: 0;
    }
  }
  &-item {
    margin-top: 15px;
    padding: 30px 35px 15px 25px;
    width: 25%;
    min-height: 266px;
    max-width: 336px;
    background-size: contain;
    &.first {
      background-image: url("../img/backgrounds/advantages_section-item-bg-1.png");
    }
    &.second {
      background-image: url("../img/backgrounds/advantages_section-item-bg-2.png");
    }
    &.third {
      background-image: url("../img/backgrounds/advantages_section-item-bg-3.png");
    }
    &.fourth {
      background-image: url("../img/backgrounds/advantages_section-item-bg-4.png");
    }
    @media #{$breakpoint-xxl} {
      padding: 10px 15px;
    }
    @media #{$breakpoint-xl} {
      width: 50%;
      padding: 25px 35px 15px 25px;
    }
    @media #{$breakpoint-md} {
      width: 100%;
    }
    &-icon {
      &-cont {
        display: flex;
        align-items: flex-start;
        height: 50px;
        margin-bottom: 8px;
        @media #{$breakpoint-xxl} {
          margin-bottom: 0;
        }
        @media #{$breakpoint-xl} {
          margin-bottom: 8px;
        }
      }
      &.licensed {
        width: 35px;
        height: 45px;
        @media #{$breakpoint-xxl} {
          width: 30px;
        }
        @media #{$breakpoint-xl} {
          width: 35px;
        }
      }
      &.cardsIcon {
        width: 55px;
        height: 40px;
        @media #{$breakpoint-xxl} {
          height: 35px;
        }
        @media #{$breakpoint-xl} {
          height: 40px;
        }
      }
      &.supportIcon {
        width: 55px;
        height: 40px;
        @media #{$breakpoint-xxl} {
          height: 35px;
        }
        @media #{$breakpoint-xl} {
          height: 40px;
        }
      }
      &.loadGames {
        width: 60px;
        height: 40px;
        @media #{$breakpoint-xxl} {
          width: 55px;
        }
        @media #{$breakpoint-xl} {
          width: 60px;
        }
      }
    }
    &-title {
      font-family: $montSemiBold;
      color: $white;
      font-size: 14px;
      text-transform: capitalize;
    }
    &-text {
      color: $component-color-2;
      font-family: $montRegular;
      font-size: 14px;
      margin-top: 15px;
      @media #{$breakpoint-xxl} {
        margin-top: 0;
        font-size: 12px;
      }
      @media #{$breakpoint-xl} {
        margin-top: 15px;
        font-size: 14px;
      }
    }
  }
}
.questions_section {
  &-img {
    width: 100%;
    &-container{
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
  }
  &-title {
    text-decoration: none;
    color: $white;
    font-size: 30px;
    font-family: $montBold;
    margin: 45px 0;
    @media #{$breakpoint-md} {
      font-size: 22px;
    }
  }
  &_collapse {
    &-container {
      margin-top: 150px;
      @media #{$breakpoint-xl} {
        margin-top: 0;
      }
    }
    &-card {
      border: 1px solid $component-color-1 !important;
      margin-bottom: 15px;
      border-radius: 15px !important;
      background-color: $bg-shade-3;
      &-body {
        color: $component-color-2;
        font-size: 12px;
        font-family: $montRegular;
        background-color: $bg-shade-2;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top: 1px solid $component-color-1;
      }
    }
    &-header {
      padding: 10px 15px;
      cursor: pointer;
      @media #{$breakpoint-md} {
        padding: 5px;
      }
    }
    &-title {
      color: $white;
      text-decoration: none;
      font-size: 16px;
      font-family: $montRegular;
      @media #{$breakpoint-xxl} {
        font-size: 14px;
      }
      @media only screen and (max-width: 1340px) {
        font-size: 12px;
      }
      @media #{$breakpoint-md} {
        font-size: 10px;
        white-space: normal;
      }
      &-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.collapsed {
          .questions_section_collapse-icon {
            transform: rotate(0deg);
            transition: 0.3s;
          }
        }
      }
    }
    &-icon {
      width: 13px;
      fill: $white;
      transform: rotate(180deg);
      transition: 0.3s;
      &-bg {
        background-image: url("../img/icons/blueArrowBg.svg");
        width: 42px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &-link {
    font-size: 16px;
    font-family: $montMedium;
    color: $white;
    text-decoration: underline;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
    &-cont {
      margin-top: 40px;
    }
  }
}
