.profile-tab {
  background-color: $bg-shade-2;
  margin-bottom: 30px;
  &__nav {
    flex-wrap: nowrap;
    padding: 15px 0;
    @media #{$breakpoint-lg}{
      overflow-x: auto;
    }
    .nav-item{
      &.hidden{
        display: none;
      }
    }
    .bt {
      color: $component-color-2;
      border-radius: 8px;
      text-transform: capitalize;
      transition: .15s ease;
      @media #{$breakpoint-xl}{
        font-size: 13px;
      }

      &:hover {
        color: $white;
      }

      &.active {
        color: $white;
        background-color: $component-active-color;
      }
    }
  }

  &__container {
    background-color: $bg-shade-2;
    &.kyc-tbl{
      padding-bottom: 30px;
      .tbl{
        min-height: unset;
        background-color: $bg-shade-3;
        border: 1px solid $component-color-1;
        border-radius: 6px;
      }
      th{
        color: $dark-white;
        background-color: $component-color-1;
      }
      td{
        background-color: $transparent;
      }
    }
    &.history-tbl {
      border-radius: 6px;
      overflow: hidden;
      .history-tbl__header {
        background-color: $bg-shade-3;
        @media #{$breakpoint-md}{
          overflow-x: auto;
        }

        ul {
          display: flex;

          li {
            a {
              padding: 1rem 1.5rem;
              color: $component-color-2;
              display: block;
              font-size: 14px;
              font-family: $montMedium;
              transition: color .15s ease;
              white-space: nowrap;
              &:hover {
                color: $white;
              }

              &.active {
                color: $component-green;
              }
            }
          }
        }
      }
    }

    &.for-tbl {
      padding: 0;
      background-color: $transparent;
    }
  }
}

//table ui
.tbl {
  overflow-x: auto;
  min-height: 240px;
  &-filter {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    @media #{$breakpoint-lg}{
      flex-direction: column;
    }

    .b-form {
      width: 80%;
      min-width: 80%;
      margin-right: 20px;
      @media #{$breakpoint-lg}{
        width: 100%;
        min-width: 100%;
        margin-right: 0;
        .b-form__wrapper {
          margin-bottom: 15px;
        }
      }

      &__flex-4,
      &__flex-3,
      &__flex-2 {
        @media #{$breakpoint-md}{
          flex-direction: column;
          .b-form__wrapper {
            width: 100%;
            margin-bottom: 15px;
          }
        }
      }

      &__wrapper {
        margin-bottom: 0;
      }
    }

    @media #{$breakpoint-md}{
      flex-direction: column;
    }

    &__flex {
      display: flex;
      width: 100%;
      max-width: 600px;
      @media #{$breakpoint-md}{
        flex-direction: column;
      }
    }

    .filter-btn {
      justify-content: center;
      width: 100%;
      @media #{$breakpoint-lg}{
        margin-top: 15px;
        margin-bottom: 15px;
        height: 44px;
      }
    }
  }

  &-status {
    display: flex;
    align-items: center;
    padding-left: 12px;
    position: relative;
    .tip{
      position: relative;
      &-text{
        color: $dark-white;
        font-size: 11px;
        text-align: center;
        white-space: pre-line;
        margin-bottom: 10px;
      }
      &-btn{
        background-color: $transparent;
        border: none;
        cursor: pointer;
        width: 16px;
        height: 16px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          width: 100%;
          height: 100%;
        }
      }
      &-container{
        position: absolute;
        right: -10px;
        top: calc(100% + 10px);
        border-radius: 6px;
        padding: 15px;
        background-color: $footer-main-color;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        &::after{
          content: '';
          background-color: $footer-main-color;
          width: 12px;
          height: 12px;
          position: absolute;
          top: -4px;
          right: 12px;
          transform: rotate(45deg);
        }
      }
    }
    &::after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      background-color: $component-color-2;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &.pending {
      color: $component-yellow;

      &::after {
        background-color: $component-yellow;
      }
      .tip-btn{
        svg{
          fill: $component-yellow;
        }
      }
    }

    &.accepted {
      color: $component-green;

      &::after {
        background-color: $component-green;
      }
      .tip-btn{
        svg{
          fill: $component-green;
        }
      }
    }

    &.rejected {
      color: $component-red;

      &::after {
        background-color: $component-red;
      }
      .tip-btn{
        svg{
          fill: $component-red;
        }
      }
    }
  }

  &-balance {
    thead {
      th {
        &:first-child {
          border-top-left-radius: 8px;
        }

        &:last-child {
          border-top-right-radius: 8px;
          width: 100px;
        }
      }
    }
  }

  table {
    width: 100%;
    color: $white;

    thead {
      th {
        background-color: $bg-shade-3;
        color: $component-color-2;
        font-family: $montMedium;
        font-weight: normal;
        padding: 1rem 1.5rem;
        font-size: 14px;
        white-space: nowrap;
        @media #{$breakpoint-md}{
          font-size: 12px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $component-color-1;
        white-space: nowrap;

        &:last-child {
          border: none;

          td {
            &:first-child {
              border-bottom-left-radius: 8px;
            }

            &:last-child {
              border-bottom-right-radius: 8px;
            }
          }
        }
      }

      td {
        padding: 1.2rem 1.5rem;
        font-size: 14px;
        background-color: $bg-shade-2;
        @media #{$breakpoint-md}{
          font-size: 11px;
          padding: 0.5rem;
        }
      }
    }
  }

  &-balance {
    &__action {
      display: flex;
      justify-content: space-between;
      @media #{$breakpoint-md}{
        flex-direction: column;
        .bt{
          margin-right: 0!important;
          font-size: 12px;
          padding: .2rem 0.8rem;
          &:first-child{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

//********
.notify {
  &-del-btn{
    display: none;
  }
  &__container {
    margin-bottom: 15px;
    overflow: hidden;
    &.active{
      .notify__header{
        background-color: lighten($bg-shade-3, 10%);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-color: $component-active-color;
        border-bottom-color: $transparent;
        .notify__check{
          label{
            &::before{
              border-color: $dark-white;
            }
          }
        }
        .notify__btn{
          transform: rotate(90deg);
        }
      }
      .notify__content{
        display: block;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color .15s ease;
    background-color: $bg-shade-3;
    border: 1px solid $component-color-1;
    cursor: pointer;
    &:hover{
      background-color: lighten($bg-shade-3, 10%);
      border-color: $component-active-color;
      .notify__check{
        label{
          &::before{
            border-color: $dark-white;
          }
        }
      }
    }
  }

  &__title {
    padding: 0 15px;
    line-height: 1;
    &-date{
      font-size: 11px;
      color: $dark-white;
    }
    p{
      margin-top: 5px;
      margin-bottom: 0;
      color: $dark-white;
      font-size: 15px;
      font-family: $montMedium;
      @media #{$breakpoint-lg}{
        font-size: 13px;
      }
    }
  }

  &__content {
    overflow: hidden;
    padding: 10px 46px;
    color: $component-color-2;
    background-color: $bg-shade-2;
    border: 1px solid $component-active-color;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-color: $transparent;
    font-size: 14px;
    display: none;
    @media #{$breakpoint-lg}{
      font-size: 13px;
    }
  }

  &__btn {
    margin-left: auto;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 6px;
    background-color: $component-color-1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease-in-out;
    cursor: pointer;
    svg{
      width: 12px;
      height: 12px;
      fill: $dark-white;
    }
  }

  &__check {
    display: flex;
    align-items: center;

    input[type=checkbox] {
      display: none;

      + label {
        cursor: pointer;
        margin: 0;
        position: relative;
        width: 16px;
        height: 16px;
        user-select: none;
        &:hover{
          &::before{
            box-shadow: 0 0 0px 5px $input-active-purple;
          }
        }
        &:active {
          &::before {
            box-shadow: 0 0 0px 5px $input-active-purple;
          }
        }
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          border: 2px solid $component-color-1;
          border-radius: 3px;
          display: inline-block;
          transition: .15s;
        }

        &::after {
          content: "";
          width: 8px;
          height: 5px;
          border-left: 1px solid #f6f6f6;
          border-bottom: 1px solid #f6f6f6;
          position: absolute;
          top: 48%;
          left: 50%;
          transform: translate(-50%,-50%) rotate(-45deg);
          transition: .15s;
          opacity: 0;
          visibility: hidden;
          @media #{$breakpoint-md}{
            top: 8px;
          }
        }
      }

      &:checked + label {
        &::before {
          border-color: $dark-white;
        }

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }

      &:disabled + label {
        &:hover {
          color: $component-color-1;
        }
      }

      &:checked:disabled + label {
        &:hover {
          color: $component-color-1;
        }

        &::before {
          background-color: $component-color-1;
          border-color: $component-color-1;
        }

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.support{
  position: relative;
  border-radius: 8px;
  background-color: $component-active-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  overflow: hidden;
  @media #{$breakpoint-lg}{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &:hover{
    .support__img{
      &::before,
      &::after{
        transform: translate(-50%,-50%) scale(1.3);
        opacity: 0.6;
        border-width: 15px;
      }
    }
  }
  &__title{
    color: $dark-white;
    font-family: $montMedium;
    font-size: 18px;
    line-height: 1.6;
    position: relative;
    z-index: 2;
    padding: 0 30px;
    @media #{$breakpoint-lg}{
      font-size: 15px;
    }
  }
  &__img{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media #{$breakpoint-xxl}{
      height: 160px;
    }
    @media #{$breakpoint-lg}{
      height: 100px;
    }
    &::before,
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      border: 10px solid darken($component-active-color, 2%);
      transition: .5s ease;
    }
    &::before{
      width: 180px;
      height: 180px;
      @media #{$breakpoint-lg}{
        width: 100px;
        height: 100px;
      }
    }
    &::after{
      width: 240px;
      height: 240px;
      @media #{$breakpoint-lg}{
        width: 160px;
        height: 160px;
      }
    }
    img{
      width: 100%;
      position: relative;
      z-index: 2;
      height: 100%;
      object-position: center;
      object-fit: contain;
      max-width: 300px;
    }
  }
  &__btn{
    position: relative;
    z-index: 2;
    font-size: 16px;
    transition: .15s;
    color: $component-active-color;
    background-color: $dark-white;
    &:hover{
      color: $component-active-color;
      background-color: $dark-white;
    }
  }
  &__faq{
    padding: 5px 0 0 0;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    a{
      font-size: 12px;
      font-family: $montMedium;
      padding-left: 0;
      padding-right: 0;
      width: 48%;
      box-shadow: 0px 13px 23px $part-shadow-1;
      &:hover{
        font-family: $montMedium;
      }
    }
  }
}


.user-alert{
  border-radius: 8px;
  padding: 15px 30px;
  border: 1px solid $component-active-color;
  position: relative;
  margin-bottom: 15px;
  &__title{
    font-size: 15px;
    font-family: $montBold;
    color: $dark-white;
  }
  &__text{
    font-size: 13px;
    margin: 0;
    color: darken($dark-white, 10%);
    a{
      color: $component-active-color;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.payments{
  &__card{
    overflow: hidden;
    &.active{
      .payments__card-header{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: $transparent;
        border-top-color: $component-active-color;
        border-left-color: $component-active-color;
        border-right-color: $component-active-color;
        background-color: lighten($bg-shade-3, 10%);
        &:hover{
        }
      }
      .payments__card-body{
        display: block;
        border-top-color: $transparent;
        border-bottom-color: $component-active-color;
        border-left-color: $component-active-color;
        border-right-color: $component-active-color;
      }
      .dropdown-btn{
        transform: translateY(-50%) rotate(90deg);
        @media #{$breakpoint-md}{
          transform: translateY(0) rotate(90deg);
        }
      }
    }
    &-header{
      position: relative;
      border-radius: 6px;
      background-color: $bg-shade-3;
      border: 1px solid $component-color-1;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      overflow: hidden;
      padding-right: 50px;
      transition: background-color .15s ease;
      &:hover{
        border-color: $component-active-color;
        background-color: lighten($bg-shade-3, 5%);
        .dropdown-btn{
          background-color: $component-color-1;
        }
      }
      @media #{$breakpoint-md}{
        padding-right: 40px;
      }
      .dropdown-btn{
        @extend .notify__btn;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        transition: .15s;
        @media #{$breakpoint-md}{
          transform: unset;
          top: unset;
          bottom: 15px;
        }
      }
    }
    &-img{
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media #{$breakpoint-md}{
        background-color: $component-color-1;
      }
      img{
        width: 90px;
        min-width: 90px;
        height: 40px;
        object-fit: contain;
        object-position: center;
        @media #{$breakpoint-md}{
          width: 70px;
          min-width: 70px;
        }
      }
    }
    &-text{
      display: flex;
      align-items: center;
      color: $white;
      flex-wrap: wrap;
      margin: 0 auto 0 20px;
      padding: 10px 0;
      @media #{$breakpoint-md}{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        margin-right: auto;
      }
      p{
        margin-bottom: 0;
        font-size: 13px;
        padding: 0 15px;
        @media #{$breakpoint-sm}{
          font-size: 11px;
          padding-right: 0;
        }
        span{
          color: $component-color-2;
          display: inline-block;
          white-space: nowrap;
        }
      }
    }
    &-body{
      background-color: $bg-shade-2;
      border: 1px solid $component-active-color;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 40px 15px;
      margin-top: -15px;
      margin-bottom: 15px;
      display: none;
      @media #{$breakpoint-lg}{
        padding: 15px;
      }
    }
  }
}


.bonuses_section{
  &-container{
    padding: 30px;
    @media #{$breakpoint-lg}{
      padding: 20px;
    }
  }
  &_header{
    background-color: $bg-shade-3;
    border: 1px solid $component-color-1;
    padding: 10px 23px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-title{
      font-size: 16px;
      font-family: $montMedium;
      color: $white;
      margin: 0;
    }
    @media #{$breakpoint-md}{
      flex-direction: column;
      padding: 10px 5px;
    }
  }
  &-form{
    width: auto;
    @media #{$breakpoint-md}{
      width: 100%;
    }
  }
  &-search{
    &-input{
      width: 313px;
      display: inline-block;
      position: relative;
      background-color: $bg-shade-2;
      border: 1px solid $component-color-1;
      color: $white;
      font-size: 14px;
      font-family: $montRegular;
      &:focus{
        background-color: $bg-shade-2;
        color: $white;
      }
      &::-webkit-input-placeholder { /* Edge */
        color: $white;
      }
      
      &:-ms-input-placeholder { /* Internet Explorer */
        color: $white;
      }
      
      ::placeholder {
        color: $white;
      }
      @media #{$breakpoint-xl}{
        width: 195px;
      }
      @media #{$breakpoint-lg}{
        width: 313px;
      }
      @media #{$breakpoint-md}{
        // width: 195px;
        width: 100%;
        margin: 22px 0;
        // padding: .375rem 3.55rem;
        text-align: center;
      }
    }
    &-btn{
      position: absolute;
      right: 68px;
      background-color: $input-green;
      color: $white;
      text-transform: capitalize;
      width: 79px;
      height: 37px;
      font-size: 14px;
      font-size: $white;
      font-family: $montRegular;
      @media #{$breakpoint-lg}{
        right: 59px;
      }
      @media #{$breakpoint-md}{
        position: static;
        margin: auto;
        display: block;
        width: 100%;
        padding: .375rem 3.55rem;
      }
    }
  }
  &__body{
    padding: 30px 0;
    &-item{
      margin-top: 10px;
      background-image: linear-gradient($component-color-4, $component-color-5);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 18px;
      border-radius: 8px;
      &-img{
        height: 20vh;
        object-fit: contain;
        max-height: 125px;
        margin-right: 5px;
      }
      &-title{
        color: $white;
        font-size: 18px;
        font-family: $montBold;
        margin: 0;
      }
      &-text{
        color: $component-color-3;
        font-size: 12px;
        font-family: $montRegular;
        margin: 10px 0;
      }
      &-link{
        font-size: 12px;
        color: $white;
        font-family: $montRegular;
        text-decoration: underline;
        &:hover{
          color: $white;
        }
      }
    }
  }
}