<footer class="footer">
    <div class="container">
        <div class="footer__basic">
            <div class="row justify-content-between">
                <div class="col-lg-2 col-md-3">
                    <ul>
                        <li><h4>Games</h4></li>
                        <li><a href="#!">Slots</a></li>
                        <li><a href="#!">Table games</a></li>
                        <li><a href="#!">Live casino</a></li>
                        <li><a href="#!">Jackpot slots</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3">
                    <ul>
                        <li><h4>Help</h4></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="faq.html#faq3">Payments FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3">
                    <ul>
                        <li><h4>Info</h4></li>
                        <li><a href="#!">About us</a></li>
                        <li><a href="terms-and-conditions.html">terms & Conditions</a></li>
                        <li><a href="terms-and-conditions.html">Bonus terms and conditions</a></li>
                        <li><a href="terms-and-conditions.html">Privacy policy</a></li>
                        <li><a href="payment-methods.html">Payment methods</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3">
                    <ul>
                        <li><h4>Promotions</h4></li>
                        <li><a href="#!">Welcome offer</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3">
                    <ul class="social">
                        <li><h4>Follow us</h4></li>
                        <li>
                            <a href="#!">
                                <img src="assets/img/social/in.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__providers">
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-1.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-2.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-3.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-4.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-5.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-6.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-7.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-8.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-9.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-10.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/footer/provider-11.svg" alt="">
            </a>
        </div>
        <div class="footer__payment">
            <div class="img">
                <img src="assets/img/payment/mastercard.png" alt="">
            </div>
            <div class="img">
                <img src="assets/img/payment/visa.png" alt="">
            </div>
            <div class="img">
                <img src="assets/img/payment/skrill.png" alt="">
            </div>
            <div class="img">
                <img src="assets/img/payment/neteller.png" alt="">
            </div>
            <div class="img">
                <img src="assets/img/payment/jeton.png" alt="">
            </div>
            <div class="img">
                <img src="assets/img/payment/mip.png" alt="">
            </div>
            <div class="img">
                <img src="assets/img/payment/qiwi.png" alt="">
            </div>
        </div>
        <div class="footer__bottom">
            <img src="assets/img/license.png" alt="">
            <p>Copyright © 2014 FortuneJack.com is operated by Nexus Group Enterprises N.V., a company registered and established under the laws of Curaçao. Nexus Group Enterprises N.V. faq: 'FAQ', is licensed and regulated by AntillePhone N.V. Nexus Group Enterprises N.V.'s registration number is 139781 and its registered address is Heelsumstraat 51 E-Commerce Park, Curaçao.</p>
        </div>
    </div>
</footer>
