<!--sign up modal-->
<div class="b-modal modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal"
    aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__banner">
                <div class="banner">
                    <img src="assets/img/games/sign-up.png" alt="">
                </div>
                <div class="b-modal__body modal-body">
                    <div class="text-center">
                        <h2 class="b-modal__title mb-40">Sign up in less than minute</h2>
                    </div>
                    <form action="">
                        <div class="b-form">
                            <div class="b-form__body">
                                <div class="b-form__wrapper">
                                    <div class="b-form__input">
                                        <input id="username-mail" required type="text">
                                        <label for="username-mail">Username</label>
                                    </div>
                                </div>
                                <div class="b-form__wrapper">
                                    <div class="b-form__input">
                                        <input id="signUp-mail" required type="text">
                                        <label for="signUp-mail">Email</label>
                                    </div>
                                </div>
                                <div class="b-form__wrapper">
                                    <div class="b-form__input">
                                        <input id="signUp-password" required type="password">
                                        <label for="signUp-password">Password</label>
                                    </div>
                                    <span class="b-form__eye">
                                        <svg class="icon">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </span>
                                    <div class="password-must">
                                        <span class="field" id="letter">lowercase letter</span>
                                        <span class="field" id="capital">uppercase letter</span>
                                        <span class="field" id="number">number</span>
                                        <span class="field" id="length">Minimum 6 chracters</span>
                                    </div>
                                </div>
                            </div>
                            <div class="b-form__mid">
                                <div class="b-form__check">
                                    <input id="receivePromotions" type="checkbox">
                                    <label for="receivePromotions">I want to receive promotions by e-mail</label>
                                </div>
                                <div class="b-form__check">
                                    <input id="privacyPolicy" type="checkbox">
                                    <label for="privacyPolicy">I am at least 18 years of age and I have read, accepted
                                        <a href="#!">Privacy Policy</a>, <a href="#!">Bonus T&C</a> and <a
                                            href="#!">Terms and Conditions</a></label>
                                </div>
                            </div>
                            <div class="b-form__footer text-center pt-2 pb-3">
                                <button class="b-form__footer-btn blue lg" data-dismiss="modal" data-toggle="modal"
                                    data-target="#registerSuccessModal">Register</button>
                                <div class="b-form__footer-bott">
                                    <p>Already have an account? <a href="#!" data-dismiss="modal" data-toggle="modal"
                                            data-target="#signInModal">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--*************-->

<!--sign in modal-->
<div class="b-modal modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModal"
    aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__body modal-body">
                <div class="text-center">
                    <h2 class="b-modal__title mb-40">Log in</h2>
                </div>
                <form action="">
                    <div class="b-form">
                        <div class="b-form__body">
                            <div class="b-form__wrapper">
                                <div class="b-form__input error">
                                    <input id="signIn-username" required type="text">
                                    <label for="signIn-username">Username</label>
                                    <span class="error-message">error message</span>
                                </div>
                            </div>
                            <div class="b-form__wrapper">
                                <div class="b-form__input">
                                    <input id="signIn-password" required type="password">
                                    <label for="signIn-password">Password</label>
                                </div>
                                <span class="b-form__eye">
                                    <svg class="icon">
                                        <use xlink:href="#eye"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="b-form__mid">
                            <div class="text-right">
                                <a href="#!" data-dismiss="modal" data-toggle="modal"
                                    data-target="#resetPassModal">Forget password?</a>
                            </div>
                        </div>
                        <div class="b-form__footer text-center pt-2 pb-3">
                            <button class="b-form__footer-btn blue lg">Log in</button>
                            <div class="b-form__footer-bott">
                                <p>Don't have an account? <a href="#!" data-dismiss="modal" data-toggle="modal"
                                        data-target="#signUpModal">Sign up</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--*************-->

<!--password reset modal-->
<div class="b-modal modal fade" id="resetPassModal" tabindex="-1" role="dialog" aria-labelledby="resetPassModal"
    aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__body modal-body">
                <div class="text-center">
                    <h2 class="b-modal__title mb-40">Reset password</h2>
                </div>
                <form action="">
                    <div class="b-form">
                        <div class="b-form__body">
                            <div class="b-form__wrapper">
                                <div class="b-form__input">
                                    <input id="reset-mail" required type="text">
                                    <label for="reset-mail">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="b-form__footer text-center pt-2 pb-3">
                            <button class="b-form__footer-btn blue lg" data-dismiss="modal" data-toggle="modal"
                                data-target="#resetSuccessModal">Reset password</button>
                            <div class="b-form__footer-bott">
                                <p>Have an account? <a href="#!" data-dismiss="modal" data-toggle="modal"
                                        data-target="#signInModal">Log in</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--*************-->

<!--KYC modal [proceed to kyc page]-->
<div class="b-modal modal fade" id="kycNeededModal" tabindex="-1" role="dialog" aria-labelledby="kycNeededModal"
    aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-dialog-centered" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__body modal-body">
                <div class="text-center b-modal__success">
                    <img src="assets/img/icons/modal-warning.svg" alt="">
                    <h2 class="b-modal__title">KYC needed to process cashout</h2>
                    <p class="b-modal__text">Please proceed Know-your-customer procedure. Otherwise your withdrawals
                        will be disabled until procedure is completed.</p>
                    <a href="profile.html#verification" class="b-form__footer-btn blue">Process KYC</a>
                    <div class="b-form__footer-bott">
                        <div class="infotip">
                            <button>
                                <span>what is KYC?</span>
                                <svg class="icon">
                                    <use xlink:href="#ico-info"></use>
                                </svg>
                            </button>
                            <div class="infotip-container">
                                Know Your Customer (KYC) procedures are a critical function to assess customer risk and
                                a legal requirement to comply with Anti-Money Laundering (AML) laws. Effective KYC
                                involves knowing a customers identity, their financial activities and the risk they
                                pose.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--****************-->

<!--deposit modal [personal information]-->
<div class="b-modal modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositModal"
    aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__body modal-body">
                <form action="">
                    <div class="b-modal__tab" data-tab="personal-information">
                        <div class="text-center">
                            <h2 class="b-modal__title">Personal Information</h2>
                            <p class="b-modal__text">Confirm your email to complete the registration process and get the
                                access to deposits</p>
                        </div>
                        <div class="b-form">
                            <div class="b-form__body">
                                <div class="b-form__flex-2">
                                    <div class="b-form__wrapper">
                                        <div class="b-form__input">
                                            <input id="firstName-1" required type="text">
                                            <label for="firstName-1">First name</label>
                                        </div>
                                    </div>
                                    <div class="b-form__wrapper">
                                        <div class="b-form__input">
                                            <input id="lastName-1" required type="text">
                                            <label for="lastName-1">Last name</label>
                                        </div>
                                    </div>
                                    <div class="b-form__wrapper">
                                        <div class="b-form__input">
                                            <select name="" id="gender-1">
                                                <option value selected>Gender</option>
                                                <option value>Male</option>
                                                <option value>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="b-form__wrapper">
                                        <div class="b-form__input">
                                            <input id="dateOfBirth-1" required type="text"
                                                placeholder="Day / Month / Year">
                                            <label for="dateOfBirth-1">Date of Birth</label>
                                        </div>
                                    </div>
                                    <div class="b-form__wrapper">
                                        <div class="b-form__input">
                                            <select name="" id="country-1">
                                                <option value selected>Country</option>
                                                <option value>Germany</option>
                                                <option value>United kingdom</option>
                                                <option value>United stated</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="b-form__wrapper">
                                        <div class="b-form__flex-2">
                                            <div class="b-form__wrapper">
                                                <div class="b-form__input">
                                                    <input id="city-1" required type="text">
                                                    <label for="city-1">City</label>
                                                </div>
                                            </div>
                                            <div class="b-form__wrapper">
                                                <div class="b-form__input">
                                                    <input id="zipCode-1" required type="text">
                                                    <label for="zipCode-1">Zip code</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-form__wrapper">
                                        <div class="b-form__input success">
                                            <input id="emailAddress-1" required type="text">
                                            <label for="emailAddress-1">Email Address</label>
                                        </div>
                                    </div>
                                    <div class="b-form__wrapper">
                                        <div class="b-form__input">
                                            <input class="placeholder" id="modalMobileNumber" required type="number"
                                                placeholder="Mobile Number">
                                            <button type="button" class="b-form__input-btn confirm">Confirm</button>
                                            <div class="b-form__sms">
                                                <p>We have sent you an SMS with verification code to the mobile phone
                                                    number</p>
                                                <div class="b-form__input">
                                                    <input id="modalsmsVerify" required type="text"
                                                        placeholder="Verification code">
                                                </div>
                                                <p class="mt-2">Code will expire in <span>55</span> sec</p>
                                                <button class="bt bt-blue full">Submit</button>
                                                <a href="#!">Resend</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-form__footer text-center pt-2 pb-3">
                                <button class="b-form__footer-btn blue" data-tabbtn="deposit">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="b-modal__tab" data-tab="deposit">
                        <div class="text-center b-modal__success">
                            <img src="assets/img/icons/modal-success.svg" alt="">
                            <h2 class="b-modal__title">Files have uploaded succesfully</h2>
                            <p class="b-modal__text">Confirm your email to complete the registration process and get the
                                access to depositsConfirm your email to complete the registration process and get the
                                access to deposits
                            </p>
                            <a href="#deposit-now" class="b-form__footer-btn green">deposit</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--**************-->

<!--password reset success modal-->
<div class="b-modal modal fade" id="resetSuccessModal" tabindex="-1" role="dialog" aria-labelledby="resetSuccessModal"
    aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__body modal-body">
                <div class="text-center b-modal__success">
                    <img src="assets/img/icons/modal-success.svg" alt="">
                    <h2 class="b-modal__title">Link was send to your email</h2>
                    <p class="b-modal__text">Confirm your email to complete the registration process and get the access
                        to deposits
                    </p>
                   <a href="#!" class="b-form__footer-btn blue" data-dismiss="modal" data-toggle="modal"
                    data-target="#changePasswordModal">Got it</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************-->

<!--change password modal-->
<div class="b-modal modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal"
    aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__body modal-body">
                <div class="text-center b-modal__success">
                    <h2 class="b-modal__title mb-5">Change Password</h2>
                    <form action="">
                        <div class="b-form">
                            <div class="b-form__body text-left">
                                <div class="b-form__wrapper">
                                    <div class="b-form__input">
                                        <input id="change-password" required="" type="password">
                                        <label for="change-password">Password</label>
                                    </div>
                                    <span class="b-form__eye">
                                        <svg class="icon">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </span>
                                    <div class="password-must">
                                        <span class="field" id="letter">lowercase letter</span>
                                        <span class="field" id="capital">uppercase letter</span>
                                        <span class="field" id="number">number</span>
                                        <span class="field" id="length">Minimum 6 chracters</span>
                                    </div>
                                </div>
                                <div class="b-form__wrapper">
                                    <div class="b-form__input">
                                        <input id="confirm-password" required="" type="password">
                                        <label for="confirm-password">Confirm password</label>
                                    </div>
                                    <span class="b-form__eye">
                                        <svg class="icon">
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </span>
                                    <div class="password-must">
                                        <span class="field" id="letter">lowercase letter</span>
                                        <span class="field" id="capital">uppercase letter</span>
                                        <span class="field" id="number">number</span>
                                        <span class="field" id="length">Minimum 6 chracters</span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="b-form__footer-btn blue mt-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************-->



<!--register success modal-->
<div class="b-modal modal fade" id="registerSuccessModal" tabindex="-1" role="dialog"
    aria-labelledby="registerSuccessModal" aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__body modal-body">
                <div class="text-center b-modal__success">
                    <img src="assets/img/icons/modal-success.svg" alt="">
                    <h2 class="b-modal__title">Registration Successful!</h2>
                    <p class="b-modal__text">A verification e-mail has been sent to you at
                        <a href="#!">yourmail@gmail.com</a>
                    </p>
                    <a href="#!" class="b-form__footer-btn blue" data-dismiss="modal" aria-label="Close">Got it</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************-->


<!--not confirmed email modal-->
<div class="b-modal modal fade" id="mailNotConfirmedModal" tabindex="-1" role="dialog"
    aria-labelledby="mailNotConfirmedModal" aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__body-sm modal-body">
                <div class="text-center b-modal__success">
                    <img src="assets/img/icons/modal-success.svg" alt="">
                    <h2 class="b-modal__title b-modal__title-lg">You have not yet confirmed your email</h2>
                    <p class="b-modal__text">
                        Slow down! Only users with valid emails can activate bonus. Confirm your email by following the
                        link in the letter to complete the registration process and get the access to bonuses
                    </p>
                    <a href="#!" class="b-form__footer-btn green b-form__footer-btn-md " data-dismiss="modal"
                        aria-label="Close">Got it</a>
                    <p class="b-modal__text-link-cont">
                        <a href="#!" class="b-modal__text-link">Resend Email</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************-->

<!--bonus success modal-->
<div class="b-modal modal fade" id="bonusSuccessModal" tabindex="-1" role="dialog" aria-labelledby="bonusSuccessModal"
    aria-hidden="true">
    <div class="b-modal__dialog modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="b-modal__content modal-content">
            <button type="button" class="alert-cls" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="b-modal__body-md modal-body">
                <div class="text-center b-modal__success">
                    <img src="assets/img/general/cashback.png" alt="">
                    <h2 class="b-modal__title b-modal__title">Bonus has successfully activated</h2>
                    <p class="b-modal__text">
                        Get cashback on first deposit
                    </p>
                    <div class="b-modal__text-list">
                            <p class="b-modal__text b-modal__text-list-item">
                                <span class="b-modal__text-list-item-white">type: </span>
                                <span>Cashback</span>
                            </p>
                            <p class="b-modal__text b-modal__text-list-item">
                                <span class="b-modal__text-list-item-white">Bonus: </span>
                                <span>Cashback</span>
                            </p>
                            <p class="b-modal__text b-modal__text-list-item">
                                <span class="b-modal__text-list-item-white">Min deposit: </span>
                                <span> 25 euro</span>
                            </p>
                            <p class="b-modal__text b-modal__text-list-item">
                                <span class="b-modal__text-list-item-white">Expire after: </span>
                                <span> 24 hours</span>
                            </p>
                    </div>
                    <a href="#!" class="b-form__footer-btn green b-form__footer-btn-md " data-dismiss="modal"
                        aria-label="Close">Continue depositing</a>
                </div>
            </div>
            <div class="b-modal__footer-bonusSuccess">
                <div class="b-modal__footer-bonusSuccess-collapse collapsed" data-toggle="collapse"
                    data-target="#bonusSuccessTermns" aria-expanded="false" aria-controls="bonusSuccessTermns">
                    <span>Terms and conditions</span>
                    <svg class="icon">
                        <use xlink:href="#ico-chevron-down"></use>
                    </svg>
                </div>
                <div class="collapse" id="bonusSuccessTermns">
                    <div class="card card-body b-modal__footer-bonusSuccess-collapse-body">
                        <p>
                            Bets may only be placed by individuals who are 18 years of age or the age of majority in
                            their state (if the age of majority is over 18) and agree to the Betting Rules offered by
                            the bookmaker. The customer shall be held liable for violation of this regulation. The
                            following individuals are not allowed to place bets:                            
                        </p>
                        <p>
                            - individuals who are under 18 years of age at the time of placement;
                        </p>
                        <p>
                            - individuals who directly participate in the events being betted on (e.g. sportspeople,
                            coaches, referees, club owners or club management, or other individuals who can s credited
                            after your most recent deposit was made). The bookmaker shall be entitled to refuse bets
                            from customers who fail to abide by these Rules. The ker. Should these Rules be amended,
                            customers shall be notified
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************-->