<nav class="navbar login">
    <div class="container">
        <div class="logo">
            <div class="logo__btn active"></div>
            <div class="logo__img">
                <a href="index-logged.html">
                    <img src="assets/img/icon.svg" alt="">
                </a>
            </div>
        </div>
        <div class="search">
            <form action="">
                <div class="search__container">
                    <div class="search__input">
                        <input type="text" placeholder="search a game">
                        <svg class="icon">
                            <use xlink:href="#ico-search"></use>
                        </svg>
                    </div>
                    <div class="search__result">
                        <div class="search__result-navbar">
                            <ul>
                                <li>
                                    <button type="button" class="active">All</button>
                                </li>
                                <li>
                                    <button type="button">Games</button>
                                </li>
                                <li>
                                    <button type="button">Live casino</button>
                                </li>
                                <li>
                                    <button type="button">Other</button>
                                </li>
                            </ul>
                            <button class="cls">
                                <svg class="icon">
                                    <use xlink:href="#ico-times"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="search__result-filter">
                            <ul>
                                <li>
                                    <div class="filter__btn">
                                        <div class="filter__btn-label filter__btn-placeholder">
                                            <div class="ico">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-filter"></use>
                                                </svg>
                                            </div>
                                            <span>Providers</span>
                                            <div class="ico arrow">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-down"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filter__btn-list">
                                            <div class="filter-scroller">
                                                <ul>
                                                    <li>
                                                        <div class="check">
                                                            <input id="OneTouch" type="checkbox">
                                                            <label for="OneTouch">OneTouch</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="Microgaming" type="checkbox">
                                                            <label for="Microgaming">Microgaming</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="Yggdrasil" type="checkbox">
                                                            <label for="Yggdrasil">Yggdrasil</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="RedTiger" type="checkbox">
                                                            <label for="RedTiger">Red Tiger</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="Netent" type="checkbox">
                                                            <label for="Netent">Netent</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="filter__btn">
                                        <div class="filter__btn-label filter__btn-placeholder">
                                            <div class="ico">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-features"></use>
                                                </svg>
                                            </div>
                                            <span>Features</span>
                                            <div class="ico arrow">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-down"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filter__btn-list">
                                            <div class="filter-scroller">
                                                <ul>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature1" type="checkbox">
                                                            <label for="feature1">feature 1</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature2" type="checkbox">
                                                            <label for="feature2">feature 2</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature3" type="checkbox">
                                                            <label for="feature3">feature 3</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature4" type="checkbox">
                                                            <label for="feature4">feature 4</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature5" type="checkbox">
                                                            <label for="feature5">feature 5</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature6" type="checkbox">
                                                            <label for="feature6">feature 6</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature7" type="checkbox">
                                                            <label for="feature7">feature 7</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="search__result-container">
                            <h4 class="title-sm">Popular Searches</h4>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-3.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-2.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Dragon Pearl</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-3.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-2.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Dragon Pearl</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-3.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-2.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Dragon Pearl</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="user">
            <div class="user__nav">
                <div class="user__nav-user">
                    <a href="profile.html" class="bt bt-green">Deposit</a>
                    <div class="bt bt-disabled-b">
                        <span class="currency">€</span>
                        <span>1000</span>
                    </div>
                </div>
                <div class="user__nav-side">
                    <button class="user__nav-btn new-alert">
                        <svg class="icon">
                            <use xlink:href="#ico-user"></use>
                        </svg>
                    </button>
                    <div class="user__nav-dropdown userside-dropdown">
                        <ul>
                            <li class="user__nav-dropdown_header">
                                <a href="profile.html" class="user__nav-name">
                                    <span>SamSmith@gmail.com</span>
                                </a>
                            </li>
                            <li class="user__nav-dropdown_btns">
                                <a href="profile.html#deposit" class="bt bt-green">Deposit</a>
                                <a href="profile.html#cashout" class="bt bt-disabled">Cashout</a>
                            </li>
                            <li>
                                <a href="profile.html#balance">
                                    <svg class="icon">
                                        <use xlink:href="#navbar-balance"></use>
                                    </svg>
                                    <span>Balance</span>
                                </a>
                            </li>
                            <li>
                                <a href="profile.html#account">
                                    <svg class="icon">
                                        <use xlink:href="#navbar-account-information"></use>
                                    </svg>
                                    <span>Account information</span>
                                </a>
                            </li>
                            <li>
                                <a href="profile.html#history">
                                    <svg class="icon">
                                        <use xlink:href="#navbar-transaction-history"></use>
                                    </svg>
                                    <span>Transaction history</span>
                                </a>
                            </li>
                            <li>
                                <a href="profile.html#security">
                                    <svg class="icon">
                                        <use xlink:href="#navbar-security"></use>
                                    </svg>
                                    <span>Security</span>
                                </a>
                            </li>
                            <li>
                                <a href="profile.html#verification">
                                    <svg class="icon">
                                        <use xlink:href="#navbar-verification"></use>
                                    </svg>
                                    <span>Verification</span>
                                </a>
                            </li>
                            <li>
                                <a href="profile.html#notifications">
                                    <svg class="icon">
                                        <use xlink:href="#navbar-notification"></use>
                                    </svg>
                                    <span>Notifications</span>
                                </a>
                            </li>
                            <li class="log-out">
                                <a href="index.html">
                                    <svg class="icon">
                                        <use xlink:href="#navbar-logout"></use>
                                    </svg>
                                    <span>Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>



