<nav class="navbar login">
    <div class="container">
        <div class="logo">
            <div class="logo__btn"></div>
            <div class="logo__img">
                <a href="index.html">
                    <img src="assets/img/icon.svg" alt="">
                </a>
            </div>
        </div>
        <div class="search">
            <form action="">
                <div class="search__container">
                    <div class="search__input">
                        <input type="text" placeholder="search a game">
                        <svg class="icon">
                            <use xlink:href="#ico-search"></use>
                        </svg>
                    </div>
                    <div class="search__result">
                        <div class="search__result-navbar">
                            <ul>
                                <li>
                                    <button type="button" class="active">All</button>
                                </li>
                                <li>
                                    <button type="button">Games</button>
                                </li>
                                <li>
                                    <button type="button">Live casino</button>
                                </li>
                                <li>
                                    <button type="button">Other</button>
                                </li>
                            </ul>
                            <button class="cls">
                                <svg class="icon">
                                    <use xlink:href="#ico-times"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="search__result-filter">
                            <ul>
                                <li>
                                    <div class="filter__btn">
                                        <div class="filter__btn-label filter__btn-placeholder">
                                            <div class="ico">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-filter"></use>
                                                </svg>
                                            </div>
                                            <span>Providers</span>
                                            <div class="ico arrow">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-down"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filter__btn-list">
                                            <div class="filter-scroller">
                                                <ul>
                                                    <li>
                                                        <div class="check">
                                                            <input id="OneTouch" type="checkbox">
                                                            <label for="OneTouch">OneTouch</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="Microgaming" type="checkbox">
                                                            <label for="Microgaming">Microgaming</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="Yggdrasil" type="checkbox">
                                                            <label for="Yggdrasil">Yggdrasil</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="RedTiger" type="checkbox">
                                                            <label for="RedTiger">Red Tiger</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="Netent" type="checkbox">
                                                            <label for="Netent">Netent</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="filter__btn">
                                        <div class="filter__btn-label filter__btn-placeholder">
                                            <div class="ico">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-features"></use>
                                                </svg>
                                            </div>
                                            <span>Features</span>
                                            <div class="ico arrow">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-down"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filter__btn-list">
                                            <div class="filter-scroller">
                                                <ul>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature1" type="checkbox">
                                                            <label for="feature1">feature 1</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature2" type="checkbox">
                                                            <label for="feature2">feature 2</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature3" type="checkbox">
                                                            <label for="feature3">feature 3</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature4" type="checkbox">
                                                            <label for="feature4">feature 4</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature5" type="checkbox">
                                                            <label for="feature5">feature 5</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature6" type="checkbox">
                                                            <label for="feature6">feature 6</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature7" type="checkbox">
                                                            <label for="feature7">feature 7</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="search__result-container">
                            <h4 class="title-sm">Popular Searches</h4>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-3.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-2.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Dragon Pearl</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-3.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-2.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Dragon Pearl</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-3.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                            <div class="result-card">
                                <a href="#!">
                                    <div class="result-card__img">
                                        <svg class="icon">
                                            <use xlink:href="#ico-play-alt"></use>
                                        </svg>
                                        <img src="assets/img/games/game-2.png" alt="">
                                    </div>
                                    <div class="result-card__info">
                                        <h2 class="result-card__info-game">Dragon Pearl</h2>
                                        <p class="result-card__info-provider">hacksaw gaming</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="user">
            <div class="user__nav">
                <duv class="user__nav-search">
                    <button class="user__nav-search-btn">
                        <svg class="icon">
                            <use xlink:href="#ico-search"></use>
                        </svg>
                    </button>
                </duv>
                <div class="user__nav-login">
                    <a href="#!" class="bt bt-blue" data-toggle="modal" data-target="#signInModal">Log in</a>
                    <a href="#!" class="bt bt-green" data-toggle="modal" data-target="#signUpModal">Register</a>
                </div>
            </div>
        </div>
    </div>
</nav>



