<div class="sidebar">
    <div class="logo">
        <div class="logo__img">
            <a href="index-logged.html">
                <img src="assets/img/logo.svg" alt="">
            </a>
        </div>
        <div class="logo__btn"></div>
    </div>
    <div class="sidebar__content">
        <div class="sidebar__list">
            <ul>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/my-games.svg" alt="">
                        <span>My games</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/recently-played.svg" alt="">
                        <span>Recently Played</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="sidebar__list-title">
                    <a href="games.html">GAMES</a>
                    <button class="sidebar__btn">
                        <svg class="icon">
                            <use xlink:href="#ico-chevron-up"></use>
                        </svg>
                    </button>
                </li>
                <li class="sidebar__list-li">
                    <ul>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/new.svg" alt="">
                                <span>New</span>
                            </a>
                        </li>
                        <li>
                            <a href="slots.html">
                                <img src="assets/img/icons/set/slots.svg" alt="">
                                <span>Slots</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/jackpot-slots.svg" alt="">
                                <span>Jackpot Slots</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/roulette.svg" alt="">
                                <span>Roulette</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/video-pocker.svg" alt="">
                                <span>Video Pocker</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/table-games.svg" alt="">
                                <span>Table games</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li class="sidebar__list-title">
                    <a href="live-casino.html">LIVE CASINO</a>
                    <button class="sidebar__btn">
                        <svg class="icon">
                            <use xlink:href="#ico-chevron-up"></use>
                        </svg>
                    </button>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/live-roulette.svg" alt="">
                        <span>Live Roulette</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/blackjack.svg" alt="">
                        <span>Blackjack</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="baccarat.html">
                        <img src="assets/img/icons/set/baccarat.svg" alt="">
                        <span>Baccarat</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/game-shows.svg" alt="">
                        <span>Game Shows</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="sidebar__list-li">
                    <a href="promotions.html">
                        <img src="assets/img/icons/set/promotions.svg" alt="">
                        <span>PROMOTIONS</span>
                        <div class="qt">21</div>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/tournaments.svg" alt="">
                        <span>TOURNAMENTS</span>
                        <div class="qt">9</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__footer">
            <div class="sidebar__footer-flex">
                <div class="lang">
                    <div class="lang-flag">
                        <img src="assets/img/flags/gb.png" alt="">
                    </div>
                    <span class="lang-name">English</span>
                    <button class="sidebar__btn">
                        <svg class="icon">
                            <use xlink:href="#ico-chevron-down"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="lang-container">
                <ul>
                    <li>
                        <a href="#!">
                            <div class="lang-flag">
                                <img src="assets/img/flags/gb.png" alt="">
                            </div>
                            <span>English</span>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <div class="lang-flag">
                                <img src="assets/img/flags/ru.png" alt="">
                            </div>
                            <span>Russian</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
