{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#1A1F26">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1A1F26">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#1A1F26">
    <title>{{title}}</title>
    <link rel="icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<div class="loader">
    <div class="loader-container">
        <div class="loader__logo">
            <img class="loader-path__logo" src="assets/img/loader/logo.svg" alt="">
        </div>
        <div class="loader__gems">
            <img class="loader-path__1" src="assets/img/loader/path-1.svg" alt="">
            <img class="loader-path__2" src="assets/img/loader/path-2.svg" alt="">
            <img class="loader-path__3" src="assets/img/loader/path-3.svg" alt="">
            <img class="loader-path__4" src="assets/img/loader/path-4.svg" alt="">
            <img class="loader-path__5" src="assets/img/loader/path-5.svg" alt="">
        </div>
    </div>
</div>
<!--svg sprite all used icons-->
<svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6.7" id="ico-chevron-down">
        <path d="M5.7 6.5c-.3 0-.5-.1-.7-.3L.7 1.9C.3 1.5.3.9.7.5s1-.4 1.4 0L5.6 4 8.8.5c.4-.4 1-.4 1.4-.1.4.4.4 1 .1 1.4L6.4 6.1c-.2.3-.4.4-.7.4z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.6 5.5" id="ico-chevron-down-alt">
        <path d="M5 5.4c-.1 0-.3-.1-.4-.1L.4 1C.2.8.2.5.4.3s.5-.2.7 0L5 4.1 8.5.2c.2-.1.5-.2.7 0 .2.2.2.5 0 .7L5.3 5.2c0 .1-.2.2-.3.2z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6.7" id="ico-chevron-up">
        <path d="M1.4 6.5c-.2 0-.5-.1-.7-.3-.4-.4-.4-1-.1-1.4L4.5.5c.2-.2.5-.3.8-.3.3 0 .5.1.7.3l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0L5.3 2.7 2.2 6.1c-.2.3-.5.4-.8.4z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.6 5.5" id="ico-chevron-up-alt">
        <path d="M.7 5.4c-.1 0-.2 0-.3-.1-.2-.2-.2-.5 0-.7L4.3.3c.1-.1.2-.2.4-.2.1 0 .3 0 .4.1l4.3 4.3c.2.2.2.5 0 .7s-.5.2-.7 0L4.6 1.3 1.1 5.2c-.1.1-.3.2-.4.2z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-clock">
        <path d="M10 20a10.026 10.026 0 1 1 8.306-4.449.75.75 0 1 1-1.247-.834 8.444 8.444 0 1 0-2.659 2.559.75.75 0 1 1 .777 1.283A9.984 9.984 0 0 1 10 20zm0 0"></path>
        <path d="M6.896 13.854a.75.75 0 0 1-.53-1.28L9.25 9.689v-5.96a.75.75 0 1 1 1.5 0v6.272a.75.75 0 0 1-.22.53l-3.1 3.1a.747.747 0 0 1-.53.22zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-crown">
        <path d="M19.122 13.598a.97.97 0 0 0 .879-1.04V4.235a1.065 1.065 0 0 0-.512-.945.773.773 0 0 0-.939.156 18.271 18.271 0 0 0-3.624 5.159 1.182 1.182 0 0 0 .164 1.255 1.849 1.849 0 0 1 .448 1.234 1.461 1.461 0 1 1-2.881 0 1.712 1.712 0 0 1 .966-1.609 1.089 1.089 0 0 0 .556-1.263A18.909 18.909 0 0 0 10.636.316a.8.8 0 0 0-1.272 0 18.916 18.916 0 0 0-3.543 7.906 1.089 1.089 0 0 0 .556 1.263 1.712 1.712 0 0 1 .966 1.609 1.461 1.461 0 1 1-2.881 0A1.85 1.85 0 0 1 4.91 9.86a1.182 1.182 0 0 0 .164-1.255A18.271 18.271 0 0 0 1.45 3.446a.774.774 0 0 0-.939-.156 1.065 1.065 0 0 0-.512.945v12.9a2.678 2.678 0 0 0 2.425 2.869h15.15a2.678 2.678 0 0 0 2.425-2.869.891.891 0 1 0-1.757 0 .737.737 0 0 1-.667.789H2.425a.737.737 0 0 1-.667-.789V6.681a15.672 15.672 0 0 1 1.481 2.321 4.312 4.312 0 0 0-.533 2.088 3.243 3.243 0 1 0 6.4 0 4.022 4.022 0 0 0-1.391-3.109 16.472 16.472 0 0 1 2.287-5.369 16.469 16.469 0 0 1 2.287 5.369 4.023 4.023 0 0 0-1.387 3.119 3.243 3.243 0 1 0 6.4 0 4.31 4.31 0 0 0-.533-2.088 15.659 15.659 0 0 1 1.481-2.321v5.873a.97.97 0 0 0 .879 1.04zm0 0"></path>
        <path d="M10.966 15.759A.98.98 0 1 1 10 14.616a1.066 1.066 0 0 1 .966 1.143zm-7.381-.503a.928.928 0 1 0 .773.915.853.853 0 0 0-.773-.915zm13.603.914a.784.784 0 1 1-.773-.915.853.853 0 0 1 .773.915zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-crystal">
        <path d="M19.019 7.835l-6.818-7-.039-.038a3.229 3.229 0 0 0-2.165-.8H9.89a3.21 3.21 0 0 0-2.062.8L7.79.834l-6.814 7a2.8 2.8 0 0 0-.012 4.233l6.8 7.081.039.039a3.2 3.2 0 0 0 2.064.8h.111a3.223 3.223 0 0 0 2.173-.8c.022-.02.042-.041.062-.062l4.1-4.56a.785.785 0 0 0-.215-1.23 1.206 1.206 0 0 0-1.481.179l-2.5 2.78 2.055-5.464h3.34a1.6 1.6 0 0 1-.082.083.779.779 0 0 0 .078 1.241 1.215 1.215 0 0 0 1.495-.065 2.8 2.8 0 0 0 .011-4.264zM17.39 8.958l.04.038c.031.028.059.057.086.087h-3.342l-2.13-5.615zm-5.432 1.882l-2 5.315-1.972-5.315zM7.991 9.083l1.968-5.26 2 5.26zm-5.387-.121l5.225-5.369-2.054 5.491H2.483c.027-.029.054-.057.083-.084zm0 2l-.039-.038c-.028-.026-.053-.053-.079-.08h3.29l2.068 5.573zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-day">
        <path d="M19.25 10.75h-.784a.75.75 0 0 1 0-1.5h.784a.75.75 0 0 1 0 1.5zM10 3.067a.75.75 0 0 1-.75-.75V.75a.75.75 0 1 1 1.5 0v1.568a.75.75 0 0 1-.75.749zM1.534 10.75H.75a.75.75 0 0 1 0-1.5h.784a.75.75 0 0 1 0 1.5zM10 20a.75.75 0 0 1-.75-.75v-1.568a.75.75 0 0 1 1.5 0v1.568A.75.75 0 0 1 10 20zM3.445 6.75a.748.748 0 0 1-.39-.11l-1.338-.817a.75.75 0 0 1 .782-1.28l1.338.817a.75.75 0 0 1-.392 1.39zm14.449 8.821a.747.747 0 0 1-.39-.11l-1.338-.817a.75.75 0 0 1 .782-1.28l1.334.815a.75.75 0 0 1-.392 1.39zm-3.263 3.187a.75.75 0 0 1-.65-.375l-.392-.679a.75.75 0 1 1 1.3-.751l.392.679a.75.75 0 0 1-.648 1.125zm-.212-15.229a.75.75 0 0 1-.639-1.142l.409-.669a.75.75 0 1 1 1.279.783l-.409.669a.75.75 0 0 1-.64.359zm-8.652-.11a.75.75 0 0 1-.65-.375l-.392-.679a.75.75 0 0 1 1.3-.75l.392.679a.75.75 0 0 1-.649 1.125zm-.612 15.206a.75.75 0 0 1-.638-1.143l.411-.668a.75.75 0 0 1 1.278.786l-.411.668a.75.75 0 0 1-.64.357zM16.634 6.873a.75.75 0 0 1-.379-1.4l1.354-.791a.752.752 0 1 1 .756 1.3l-1.354.791a.748.748 0 0 1-.378.1zM2.013 15.414a.75.75 0 0 1-.379-1.4l1.354-.79a.752.752 0 1 1 .756 1.3l-1.354.791a.748.748 0 0 1-.377.099zm0 0"></path>
        <path d="M10 16.081a6.076 6.076 0 1 1 5.582-3.666.751.751 0 0 1-1.377-.6 4.575 4.575 0 1 0-2.563 2.459.75.75 0 0 1 .538 1.4 6.055 6.055 0 0 1-2.18.4zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-deposit">
        <path d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm5.806 11.129a.485.485 0 0 1-.484.484h-3.71v3.71a.485.485 0 0 1-.484.484H8.87a.485.485 0 0 1-.484-.484v-3.71H4.677a.485.485 0 0 1-.484-.484V8.87a.485.485 0 0 1 .484-.483h3.71v-3.71a.485.485 0 0 1 .484-.484h2.258a.485.485 0 0 1 .484.484v3.71h3.71a.485.485 0 0 1 .484.484z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-edit">
        <path d="M19.745 4.776L15.233.255a.868.868 0 0 0-1.229 0L1.996 12.248a.873.873 0 0 0-.224.383l-1.74 6.264a.87.87 0 0 0 1.075 1.072l6.256-1.779a.872.872 0 0 0 .378-1.453l-1.578-1.583 8.55-8.566.99.992-6.471 6.44a.87.87 0 0 0 1.226 1.236l9.287-9.243a.872.872 0 0 0 0-1.234zM2.123 17.867l.94-3.364 2.4 2.413zm2.812-3.949l-1.072-1.076 8.56-8.549 1.058 1.06zm12-7.569l-3.28-3.286.962-.96 3.281 3.288zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-filter">
        <path d="M19.153 0H.847A.848.848 0 0 0 0 .848a13.665 13.665 0 0 0 2.812 8.325 12.812 12.812 0 0 0 4.4 3.411v4.667a.847.847 0 0 0 .474.761l3.878 1.9a.848.848 0 0 0 1.22-.761v-3.2a.848.848 0 1 0-1.695 0v1.838l-2.183-1.07v-4.67a.848.848 0 0 0-.494-.77 11.57 11.57 0 0 1-4.229-3.1A12.16 12.16 0 0 1 1.72 1.694h16.557a11.687 11.687 0 0 1-.178 1.4H5.113a.85.85 0 0 0 0 1.7h12.525a13.583 13.583 0 0 1-1.824 3.389 10.638 10.638 0 0 1-4.2 3.111.848.848 0 0 0 .649 1.566 12.333 12.333 0 0 0 4.925-3.685A13.665 13.665 0 0 0 20 .848.848.848 0 0 0 19.153 0zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.419 20" id="ico-game-controller">
        <path d="M28.127 12.01l-2.473-7.864A5.764 5.764 0 0 0 20.208.001H8.213a5.764 5.764 0 0 0-5.446 4.145L.294 12.01a6.354 6.354 0 0 0 .317 4.632 5.8 5.8 0 0 0 3.324 3.05 5.4 5.4 0 0 0 4.387-.359 5.989 5.989 0 0 0 2.864-3.517l.163-.518a1.03 1.03 0 0 1 .973-.741h3.775a1.03 1.03 0 0 1 .973.741l.163.517a5.786 5.786 0 0 0 5.446 4.184 5.437 5.437 0 0 0 1.389-.181 1.322 1.322 0 0 0 .908-1.6 1.246 1.246 0 0 0-1.514-.957 3.084 3.084 0 0 1-.784.1 3.318 3.318 0 0 1-3.075-2.38l-.163-.517a3.539 3.539 0 0 0-3.343-2.545h-3.77a3.538 3.538 0 0 0-3.343 2.545l-.163.517a3.407 3.407 0 0 1-1.629 2 3.034 3.034 0 0 1-2.466.2 3.272 3.272 0 0 1-1.874-1.724 3.61 3.61 0 0 1-.182-2.631l2.467-7.857a3.255 3.255 0 0 1 3.076-2.341h11.993a3.255 3.255 0 0 1 3.076 2.341l2.473 7.864a3.574 3.574 0 0 1 .041 2.011 1.328 1.328 0 0 0 .857 1.627 1.241 1.241 0 0 0 1.543-.9 6.329 6.329 0 0 0-.069-3.561zm0 0"></path>
        <path d="M20.525 5.487a1.1 1.1 0 1 1-1.1-1.158 1.129 1.129 0 0 1 1.1 1.158zm0 4.628a1.1 1.1 0 1 1-1.1-1.158 1.129 1.129 0 0 1 1.1 1.158zM18.33 7.8a1.1 1.1 0 1 1-1.1-1.158 1.129 1.129 0 0 1 1.1 1.158zm4.392 0a1.1 1.1 0 1 1-1.1-1.158 1.129 1.129 0 0 1 1.1 1.158zM8.993 11.433a1.284 1.284 0 0 0 1.248-1.316v-1h.948a1.318 1.318 0 0 0 0-2.632h-.948v-1a1.25 1.25 0 1 0-2.5 0v1h-.948a1.318 1.318 0 0 0 0 2.632h.948v1a1.284 1.284 0 0 0 1.252 1.316zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-game-shows">
        <path d="M15.099 5.952q-.127 0-.256.008a4.455 4.455 0 0 0 .133-1.059 4.937 4.937 0 0 0-9.874 0 4.447 4.447 0 0 0 .125 1.026q-.168-.014-.331-.014a4.937 4.937 0 0 0 0 9.874 7.081 7.081 0 0 0 4.221-1.852 7.9 7.9 0 0 1-.618 3.7c-.252.393-.6.606-1.737.606a.879.879 0 1 0 0 1.757h6.477a.879.879 0 1 0 0-1.757c-1.134 0-1.485-.213-1.737-.606a7.815 7.815 0 0 1-.618-3.657 7.057 7.057 0 0 0 4.215 1.846 4.88 4.88 0 0 0 1.229-.157.879.879 0 1 0-.443-1.7 3.115 3.115 0 0 1-.786.1c-1.2 0-2.834-1-4.48-2.739a.879.879 0 0 0-1.274 0c-1.638 1.718-3.26 2.7-4.449 2.7a3.18 3.18 0 0 1 0-6.359 3.461 3.461 0 0 1 1.445.374.879.879 0 0 0 1.134-1.229 3.934 3.934 0 0 1-.616-1.909 3.18 3.18 0 0 1 6.359 0 3.932 3.932 0 0 1-.616 1.908.879.879 0 0 0 1.123 1.24 3.388 3.388 0 0 1 1.374-.34 3.188 3.188 0 0 1 2.919 4.363.879.879 0 0 0 1.634.648 4.945 4.945 0 0 0-4.553-6.768zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-gem">
        <path d="M19.271 6.002L15.22 1.295A3.956 3.956 0 0 0 12.235.001H7.814a3.923 3.923 0 0 0-3.046 1.368l-4.1 5.058A2.886 2.886 0 0 0 0 8.257v4.849A2.894 2.894 0 0 0 .722 15l3.159 3.7A3.953 3.953 0 0 0 6.874 20h5.961a4.567 4.567 0 0 0 3.458-1.506.8.8 0 0 0-.218-1.229 1.132 1.132 0 0 0-1.427.187 2.4 2.4 0 0 1-1.813.79H6.782l1.254-3.648a1.006 1.006 0 0 1 .966-.621h1.994a1.036 1.036 0 0 1 1 .632l.445 1.225a1.017 1.017 0 0 0 .974.617 1.175 1.175 0 0 0 .3-.04.863.863 0 0 0 .67-1.1l-.445-1.225a3.06 3.06 0 0 0-2.947-1.865H8.202a.728.728 0 0 1-.775-.667v-1.7a1.032 1.032 0 0 0-2.041 0v1.7a2.312 2.312 0 0 0 1.044 1.882 2.435 2.435 0 0 0-.354.665l-1.031 3-2.68-3.137a1.3 1.3 0 0 1-.325-.853V8.256a1.3 1.3 0 0 1 .3-.824l4.1-5.058a1.767 1.767 0 0 1 1.372-.616h4.421a1.782 1.782 0 0 1 1.344.583l1.029 1.2-1.377 1.809a2.259 2.259 0 0 1-1.8.839H7.862a1.313 1.313 0 0 1-1.051-.49 1.124 1.124 0 0 0-1.412-.256.808.808 0 0 0-.3 1.216A3.448 3.448 0 0 0 7.86 7.947h3.93a.728.728 0 0 1 .775.667v2.001a1.032 1.032 0 0 0 2.041 0v-2.01a2.2 2.2 0 0 0-.566-1.456 3.888 3.888 0 0 0 .892-.844l.965-1.268 1.727 2.007a1.322 1.322 0 0 1 .329.857v5.2a1.3 1.3 0 0 1-.325.853l-.434.508a.8.8 0 0 0 .218 1.228 1.132 1.132 0 0 0 1.427-.187l.434-.508a2.893 2.893 0 0 0 .722-1.894v-5.2a2.935 2.935 0 0 0-.73-1.9zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-home">
        <path d="M19.774 9.205L11.63.657l-.032-.032a2.268 2.268 0 0 0-3.12-.007L8.446.65.228 9.202a.835.835 0 0 0 0 1.147.755.755 0 0 0 1.1 0l.627-.653v7.049a3.2 3.2 0 0 0 3.122 3.256h2.814a.8.8 0 0 0 .778-.811v-6.647h2.747v6.646a.8.8 0 0 0 .778.811h2.735a3.2 3.2 0 0 0 3.117-3.255.778.778 0 1 0-1.555 0 1.6 1.6 0 0 1-1.567 1.634h-1.958v-6.647a.8.8 0 0 0-.778-.811h-4.3a.8.8 0 0 0-.778.811v6.646H5.076a1.6 1.6 0 0 1-1.567-1.634V8.081l6.017-6.266a.761.761 0 0 1 1.02 0l5.945 6.24v4.61a.778.778 0 1 0 1.555 0V9.692l.625.656a.756.756 0 0 0 1.1 0 .836.836 0 0 0 .003-1.143zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 21" id="ico-id">
        <path d="M7.9 13.9c1.8-.1 3.2-1.6 3.1-3.3.1-1.8-1.4-3.3-3.1-3.4-1.9 0-3.3 1.5-3.2 3.3-.1 1.8 1.3 3.3 3.2 3.4zm-.1-5.8c1.3.1 2.2 1.1 2.2 2.4 0 1.2-.9 2.3-2.1 2.3-1.2 0-2.2-1.1-2.2-2.4-.1-1.2.9-2.2 2.1-2.3zM22.5 0h-20C1.1.1 0 1.2 0 2.6v1.2h25V2.7C25 1.2 23.9.1 22.5 0zM24 2.9H1v-.2C1 1.8 1.7 1 2.5 1h20c.9 0 1.5.8 1.5 1.6v.3zM3.1 17.8c.2.2.5.4.9.4h8.1c.6-.2 1-.8.8-1.5-.4-1.4-1.6-2.3-3-2.3h-.6c-.9.4-2 .4-2.9 0h-.6c-1.4 0-2.6 1-3 2.3v.6c.1.1.2.3.3.5zm.7-1c.3-.9 1.1-1.5 2-1.5H6c1.1.5 2.4.5 3.5 0h.2c1 0 1.8.7 2.1 1.6 0 .1 0 .2-.2.2H4c-.1 0-.1 0-.1-.1s-.1-.1 0-.2h-.1zM0 18.3c0 1.4 1.1 2.6 2.5 2.7h20c1.4-.1 2.5-1.2 2.5-2.6V4.3H0v14zm1-13h23v13.1c0 .9-.7 1.6-1.5 1.6h-20c-.8 0-1.5-.8-1.5-1.6V5.3z"
              fill="#000000"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.3 22.3" id="ico-info">
        <path d="M11.2 22.3C5 22.3 0 17.3 0 11.2 0 5 5 0 11.2 0c6.1 0 11.2 5 11.2 11.2s-5.1 11.1-11.2 11.1zm0-20.3C6.1 2 2 6.1 2 11.2s4.1 9.2 9.2 9.2 9.2-4.1 9.2-9.2C20.3 6.1 16.2 2 11.2 2zm1 13.2v-4.1c0-.6-.4-1-1-1s-1 .4-1 1v4.1c0 .6.4 1 1 1s1-.4 1-1zm-.3-7.4c.2-.2.3-.5.3-.7 0-.3-.1-.5-.3-.7-.4-.4-1-.4-1.4 0-.2.1-.2.2-.3.3v.4c0 .1 0 .3.1.4 0 .1.1.2.2.3.1.2.4.3.6.3.3 0 .6-.1.8-.3z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-jackpot-slots">
        <path d="M10.834 3.198A.837.837 0 1 1 10 2.425a.805.805 0 0 1 .834.773zm6.591 4.483a.837.837 0 1 1-.834-.773.805.805 0 0 1 .834.773zm-2.461-3.324a.837.837 0 1 1-.834-.773.805.805 0 0 1 .834.773zM4.244 7.681a.837.837 0 1 1-.834-.773.805.805 0 0 1 .834.773zm2.461-3.324a.837.837 0 1 1-.834-.773.805.805 0 0 1 .834.773zm0 0"></path>
        <path d="M16.963 2.581a10.682 10.682 0 0 0-13.925 0 8.327 8.327 0 0 0-3.037 6.3 14.514 14.514 0 0 0 1.981 6.58l-.547.292a.89.89 0 0 0-.448.552.824.824 0 0 0 .121.681l1.794 2.609a.993.993 0 0 0 1.257.3l1.91-.973a3.094 3.094 0 0 0 1.6-3.838A17.83 17.83 0 0 1 6.357 9.81c0-2.1 1.395-3.411 3.64-3.411s3.64 1.307 3.64 3.411a17.83 17.83 0 0 1-1.312 5.274 3.094 3.094 0 0 0 1.6 3.838l1.91.973a1.006 1.006 0 0 0 .456.109.969.969 0 0 0 .8-.407l1.794-2.609a.825.825 0 0 0 .121-.681.889.889 0 0 0-.448-.552l-.547-.292c.13-.239.254-.478.372-.714a.853.853 0 0 0-.464-1.166.981.981 0 0 0-1.258.429c-.224.451-.475.91-.746 1.367a.845.845 0 0 0 .358 1.184l.479.256-.784 1.14-1.132-.576a1.393 1.393 0 0 1-.722-1.728 19.915 19.915 0 0 0 1.414-5.843 4.965 4.965 0 0 0-1.522-3.731 6.323 6.323 0 0 0-8.029 0 4.966 4.966 0 0 0-1.522 3.731 19.915 19.915 0 0 0 1.414 5.843 1.393 1.393 0 0 1-.722 1.728l-1.132.576-.784-1.14.479-.256a.845.845 0 0 0 .358-1.184 13.8 13.8 0 0 1-2.18-6.5c0-3.86 3.711-7.122 8.1-7.122s8.1 3.261 8.1 7.122a8.606 8.606 0 0 1-.25 1.979.88.88 0 0 0 .722 1.047.952.952 0 0 0 1.13-.669 10.234 10.234 0 0 0 .3-2.357 8.327 8.327 0 0 0-3.037-6.3zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 22.049" id="ico-king">
        <path d="M18.864 20.114h-.534a2.3 2.3 0 0 0 .122-.736 2.934 2.934 0 0 0-3.133-2.673h-.191a12.553 12.553 0 0 1-.685-1.716 1.168 1.168 0 0 0-1.395-.679.962.962 0 0 0-.8 1.19c.135.421.282.821.443 1.2H7.253a25.089 25.089 0 0 0 1.523-6.968h2.39c.069.632.14 1.215.222 1.79a1.111 1.111 0 0 0 1.264.845 1.014 1.014 0 0 0 .99-1.078c-.071-.5-.134-1.01-.2-1.556h.569a.981.981 0 1 0 0-1.937h-.047a5.481 5.481 0 0 0 .733-2.546.9.9 0 0 0-.323-.7 1.241 1.241 0 0 0-.812-.291h-2.46V3.173h.363a.981.981 0 1 0 0-1.937h-.363V.969a1.15 1.15 0 0 0-2.271 0v.267h-.363a.981.981 0 1 0 0 1.937h.363v1.088H6.37a1.24 1.24 0 0 0-.812.291.9.9 0 0 0-.323.7A5.481 5.481 0 0 0 5.969 7.8a.977.977 0 1 0 .051 1.935h.469a21.049 21.049 0 0 1-1.677 6.968h-.141a2.934 2.934 0 0 0-3.133 2.673 2.3 2.3 0 0 0 .122.736h-.535a.981.981 0 1 0 0 1.937h17.729a.981.981 0 1 0 0-1.937zm-6.6-13.913a4.265 4.265 0 0 1-.934 1.579l-.02.02H8.642l-.019-.02a4.225 4.225 0 0 1-.936-1.579zM3.817 19.375a.807.807 0 0 1 .862-.736h10.638a.745.745 0 1 1 0 1.471H4.681a.808.808 0 0 1-.864-.735zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-live-roulette">
        <path d="M18.406 1.582a5.044 5.044 0 0 0-3.845-1.583 5.157 5.157 0 0 0-4.289 2.319c-.09.126-.174.252-.252.376a6.824 6.824 0 0 0-.242-.368A5.146 5.146 0 0 0 5.44-.001a5.045 5.045 0 0 0-3.845 1.583A7.2 7.2 0 0 0 .001 6.591c0 2.1 1.113 4.612 3.308 7.465a38.113 38.113 0 0 0 5.051 5.323 2.483 2.483 0 0 0 3.282 0c.449-.384 1.371-1.2 2.493-2.369a1.032 1.032 0 0 0 .034-1.363.825.825 0 0 0-1.242-.037 34.17 34.17 0 0 1-2.364 2.247.849.849 0 0 1-1.122 0C6.353 15.219 1.76 10.041 1.76 6.59c0-3.051 1.273-4.663 3.682-4.663 2.888 0 3.678 3.05 3.711 3.186a.86.86 0 0 0 1.692.024c.009-.032.891-3.21 3.718-3.21 2.409 0 3.682 1.613 3.682 4.663 0 1.555-.933 3.579-2.774 6.016a1.03 1.03 0 0 0 .116 1.358.829.829 0 0 0 .56.222.848.848 0 0 0 .677-.349c2.139-2.832 3.178-5.2 3.178-7.247a7.2 7.2 0 0 0-1.594-5.009zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-live-rtp">
        <path d="M19.554 14.362l-1.469-1.469a.879.879 0 0 0-1.243 1.243l1.056 1.056h-1.826a.879.879 0 0 0-.877.877v1.83l-3.641-3.635a7.221 7.221 0 1 0-7.712-3.3L.45 14.355a1.5 1.5 0 0 0-.446 1.079 1.549 1.549 0 0 0 .465 1.092 1.488 1.488 0 0 0 1.065.414h1.519v1.517a1.5 1.5 0 0 0 .417 1.062 1.548 1.548 0 0 0 1.092.471h.014a1.5 1.5 0 0 0 1.064-.444L10 15.193l4.36 4.353a1.5 1.5 0 0 0 1.064.445h.013a1.548 1.548 0 0 0 1.092-.471 1.5 1.5 0 0 0 .417-1.062v-1.517h1.519a1.488 1.488 0 0 0 1.065-.414 1.549 1.549 0 0 0 .465-1.092 1.5 1.5 0 0 0-.446-1.079zM10 1.762a5.46 5.46 0 1 1-5.46 5.46A5.466 5.466 0 0 1 10 1.757zm-5.189 16.14v-1.83a.879.879 0 0 0-.877-.877H2.108l2.835-2.835a7.212 7.212 0 0 0 3.513 1.911zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.3 21" id="ico-mail">
        <path d="M22.2 0H3.1C1.5 0 .2 1.4.2 3v15c0 1.6 1.3 3 2.9 3h19.1c1.6 0 2.9-1.4 2.9-3V3c0-1.6-1.2-3-2.9-3zM3.1 1h19.1c1.1 0 1.9.9 1.9 2v.3l-11.4 10-11.5-10V3c0-1.1.8-2 1.9-2zm19.1 19H3.1c-1.1 0-1.9-.9-1.9-2V4.6l11.1 9.8c.1.1.2.1.3.1s.2 0 .3-.1L24 4.6V18c.1 1.1-.7 2-1.8 2z"
              fill="#000000"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-menu">
        <path d="M0 17.058a2.945 2.945 0 0 1 2.942-2.942h9.38a2.942 2.942 0 0 1 0 5.883H6.854a.848.848 0 1 1 0-1.695h5.468a1.247 1.247 0 0 0 0-2.494h-9.38a1.247 1.247 0 1 0 0 2.494.848.848 0 1 1 0 1.695A2.945 2.945 0 0 1 0 17.058zM0 2.941A2.945 2.945 0 0 1 2.942 0h7.015a2.942 2.942 0 1 1 0 5.883H2.942A2.945 2.945 0 0 1 0 2.941zm11.2 0a1.248 1.248 0 0 0-1.247-1.247H2.938a1.247 1.247 0 1 0 0 2.494h7.019a1.248 1.248 0 0 0 1.247-1.247zM0 10a2.945 2.945 0 0 1 2.942-2.942h14.116a2.942 2.942 0 1 1 0 5.883H2.942A2.945 2.945 0 0 1 0 10zm18.305 0a1.248 1.248 0 0 0-1.247-1.247H2.942a1.247 1.247 0 1 0 0 2.493h14.116A1.248 1.248 0 0 0 18.305 10zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 28.6" id="ico-mobile">
        <path d="M17.6 0H3.3C1.5 0 0 1.4 0 3.3v22.1c0 1.8 1.5 3.3 3.3 3.3h14.4c.9 0 1.7-.3 2.4-.9.6-.6 1-1.4 1-2.3V3.3C21 1.4 19.4-.1 17.6 0zM20 25.3c0 .6-.3 1.2-.7 1.6-.4.4-1 .7-1.7.6H3.3c-1.3 0-2.3-1-2.3-2.3V3.3C1 2 2.1 1 3.3 1h14.3C18.9 1 20 2 20 3.3v22zm-9.2-3.6c.1.1.2.2.2.4s-.1.3-.2.3c-.1.1-.2.2-.3.2h-.2c-.1 0-.1-.1-.2-.1s-.1-.1-.1-.2v-.2c0-.1 0-.3.1-.4 0 0 .1-.1.2-.1h.4c.1 0 .1.1.1.1z"
              fill="#000000"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-new">
        <path d="M5.915 20a2.993 2.993 0 0 1-1.371-.325 1.4 1.4 0 0 1-.729-2.1l3.731-5.5H3.839A4.3 4.3 0 0 1 .572 10.76a2.087 2.087 0 0 1-.148-2.688L5.806.446A1.234 1.234 0 0 1 6.812.002h10.273a1.257 1.257 0 0 1 .981.41.62.62 0 0 1-.012.816l-4.336 5.224h3.613a2.841 2.841 0 0 1 2.424 1.111 1.5 1.5 0 0 1-.409 2.054 1.453 1.453 0 0 1-1.591.087.666.666 0 0 1-.121-1.143.227.227 0 0 0 .07-.321.41.41 0 0 0-.373-.166h-5.6a1.257 1.257 0 0 1-.981-.41.62.62 0 0 1 .012-.816l4.335-5.224H7.503l-5.07 7.183a.849.849 0 0 0 .06 1.106 1.742 1.742 0 0 0 1.343.541h5.515a1.278 1.278 0 0 1 .957.381.619.619 0 0 1 .058.785l-4.524 6.67a.1.1 0 0 0-.02.039.147.147 0 0 0 .1.051.133.133 0 0 0 .021-.01l8.342-6.9a1.454 1.454 0 0 1 1.592-.08.665.665 0 0 1 .112 1.144l-8.381 6.931a.836.836 0 0 1-.059.045 2.841 2.841 0 0 1-1.633.491zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-nigh">
        <path d="M10.193 20a10.078 10.078 0 0 1-3.879-.771A10.189 10.189 0 0 1 7.204.065a1.458 1.458 0 0 1 1.511 2.368 8.4 8.4 0 0 0-2.316 5.256 5.071 5.071 0 0 0 .109 1.075 6.152 6.152 0 0 0 4.731 4.725 5.2 5.2 0 0 0 1.107.11 8.745 8.745 0 0 0 5.253-2.266 1.441 1.441 0 0 1 2.336 1.5 10.139 10.139 0 0 1-1.445 2.906.75.75 0 0 1-1.219-.874 8.646 8.646 0 0 0 1.165-2.269 9.914 9.914 0 0 1-6.076 2.506 6.6 6.6 0 0 1-1.431-.143 7.683 7.683 0 0 1-5.885-5.878 6.572 6.572 0 0 1-.142-1.395 9.973 9.973 0 0 1 2.6-6.138A8.693 8.693 0 0 0 10.36 18.5a8.562 8.562 0 0 0 4.1-1.117.75.75 0 0 1 .738 1.306 10.045 10.045 0 0 1-4.807 1.31h-.189zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-play">
        <path d="M3.227 20h-.014A3.05 3.05 0 0 1 0 17.18V2.79A2.716 2.716 0 0 1 1.65.359a3.613 3.613 0 0 1 3.259.06l13.56 7.228a2.6 2.6 0 0 1-.012 4.748l-9.8 5.19a1.072 1.072 0 0 1-1.347-.28.785.785 0 0 1 .324-1.165l9.8-5.191a1.018 1.018 0 0 0 .006-1.859L3.88 1.862a1.414 1.414 0 0 0-1.275-.023 1.063 1.063 0 0 0-.646.951v14.39a1.225 1.225 0 0 0 1.264 1.125 1.446 1.446 0 0 0 .653-.186 1.072 1.072 0 0 1 1.347.282.785.785 0 0 1-.326 1.165 3.605 3.605 0 0 1-1.67.434zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-promo">
        <path d="M19.153 11.079a.847.847 0 0 0 .847-.847V2.398A2.4 2.4 0 0 0 16.793.139a1.06 1.06 0 0 0-.071.029l-6.214 2.877a10.312 10.312 0 0 1-4.3.961l-3.031.018A3.178 3.178 0 0 0 0 7.2v2.017a3.186 3.186 0 0 0 2.172 3.011v5.346a2.458 2.458 0 0 0 .733 1.743 2.364 2.364 0 0 0 1.666.686h.046a2.411 2.411 0 0 0 2.352-2.4v-5.209a10.453 10.453 0 0 1 3.68 1L16.7 16.33a.8.8 0 0 0 .08.034A2.4 2.4 0 0 0 20 14.109a.848.848 0 1 0-1.695 0 .7.7 0 0 1-.911.673l-6.005-2.908a12.162 12.162 0 0 0-4.419-1.177V5.674a11.983 11.983 0 0 0 4.251-1.09l6.173-2.858a.7.7 0 0 1 .912.673v7.833a.847.847 0 0 0 .847.848zM5.275 17.601a.707.707 0 0 1-.69.7.682.682 0 0 1-.492-.2.752.752 0 0 1-.226-.533v-6.03a.848.848 0 0 0-.791-.846A1.483 1.483 0 0 1 1.7 9.216V7.2a1.482 1.482 0 0 1 1.484-1.479l2.1-.012zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.7 19" id="ico-refresh">
        <path d="M15.2,7.7c0-0.7,0.6-1.3,1.3-1.3h2.3l-2-1.9c-0.7-0.7-1.6-1.3-2.6-1.6c-1.7-0.6-3.6-0.5-5.3,0.3s-3,2.2-3.6,4
	C5.1,7.9,4.4,8.2,3.7,8C3,7.7,2.7,7,2.9,6.4c1.8-5,7.2-7.6,12.2-5.8c1.3,0.5,2.5,1.2,3.5,2.2l2.1,2V2.2c0-0.7,0.5-1.2,1.2-1.2
	c0.7,0,1.3,0.5,1.3,1.2v5.6c-0.1,0.1-0.1,0.2-0.1,0.3C23,8.3,23,8.3,22.9,8.4c-0.1,0-0.1,0.1-0.1,0.1c-0.2,0.2-0.5,0.4-0.9,0.4h-5.5
	C15.8,8.9,15.2,8.4,15.2,7.7z M0.5,11.4v5.5c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3v-2.6l2.1,2c1.9,1.8,4.3,2.7,6.7,2.7
	s4.8-0.9,6.7-2.7c1-1,1.7-2.2,2.2-3.5c0.2-0.7-0.1-1.4-0.8-1.6c-0.7-0.2-1.4,0.1-1.6,0.8c-0.3,1-0.9,1.9-1.6,2.6c-1.3,1.3-3,2-4.9,2
	c-1.8,0-3.6-0.7-4.9-2l-2-1.9h2.3c0.7,0,1.3-0.6,1.3-1.3S8,10.1,7.3,10.1H1.8c-0.1,0-0.3,0-0.4,0.1H1.3l-0.2,0.2
	c-0.1,0-0.2,0.1-0.2,0.1c0,0.1-0.1,0.1-0.1,0.2s-0.1,0.1-0.1,0.2c-0.1,0.1-0.1,0.2-0.1,0.3C0.6,11.2,0.6,11.3,0.5,11.4z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-roulette">
        <path d="M12.442 15.374a.7.7 0 0 0-.672-.5.633.633 0 0 0-.671.722c0 .55.824 1.277 1.181 1.543a.272.272 0 0 0 .324 0c.357-.266 1.181-.993 1.181-1.543a.633.633 0 0 0-.671-.722.727.727 0 0 0-.672.5zM4.465 5.077c.357-.266 1.181-.994 1.181-1.544a.633.633 0 0 0-.671-.722.727.727 0 0 0-.671.5.7.7 0 0 0-.672-.5.633.633 0 0 0-.671.722c0 .55.824 1.277 1.181 1.544a.274.274 0 0 0 .323 0zm0 0"></path>
        <path d="M19.075 13.815a.9.9 0 0 0 .925-.879v-9.74a3.289 3.289 0 0 0-3.367-3.2H3.367A3.289 3.289 0 0 0 0 3.196v13.6a3.289 3.289 0 0 0 3.367 3.2h13.27a3.289 3.289 0 0 0 3.367-3.2.926.926 0 0 0-1.85 0 1.482 1.482 0 0 1-1.517 1.44h-.251a3.05 3.05 0 0 0 .362-1.44v-13.6a3.05 3.05 0 0 0-.362-1.44h.251a1.482 1.482 0 0 1 1.517 1.44v9.74a.9.9 0 0 0 .921.879zM14.894 3.197v13.6a1.482 1.482 0 0 1-1.517 1.44H3.367a1.482 1.482 0 0 1-1.517-1.44v-13.6a1.482 1.482 0 0 1 1.517-1.44h10.011a1.482 1.482 0 0 1 1.516 1.441zm0 0"></path>
        <path d="M8.303 7.1a2.657 2.657 0 0 0-1.74-.607 2.525 2.525 0 0 0-2.655 2.732c0 2.03 2.83 4.233 3.4 4.654a1.667 1.667 0 0 0 1.974 0c.567-.421 3.4-2.624 3.4-4.654a2.525 2.525 0 0 0-2.655-2.732 2.64 2.64 0 0 0-1.724.607zm2.523 2.126c0 .757-1.287 2.193-2.534 3.154-1.247-.962-2.534-2.4-2.534-3.154 0-.9.415-.975.8-.975a.861.861 0 0 1 .836.625.929.929 0 0 0 1.78.025.924.924 0 0 1 .843-.65c.389 0 .8.075.8.975zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-roulette-alt">
        <path d="M10 0a10 10 0 1 0 5.174 18.559.879.879 0 0 0-.91-1.5c-.087.052-.174.1-.262.152l-.525-1.24a6.96 6.96 0 0 0 2.494-2.5l1.231.518c-.111.2-.229.394-.357.585a.879.879 0 1 0 1.461.977A9.986 9.986 0 0 0 10 0zm6.853 9.126a6.864 6.864 0 0 0-.2-.982l1.237-.524a8.2 8.2 0 0 1 .3 1.506zm-7.731 9.07a8.167 8.167 0 0 1-1.49-.3l.521-1.238a6.85 6.85 0 0 0 .969.2zm-3.107-.981a8.28 8.28 0 0 1-1.181-.8l.95-.95a6.962 6.962 0 0 0 .753.507zm-3.217-3.21l1.237-.524a6.967 6.967 0 0 0 .5.742l-.95.949a8.265 8.265 0 0 1-.787-1.167zm.786-9.174l.95.95a6.945 6.945 0 0 0-.508.755l-1.239-.521a8.277 8.277 0 0 1 .797-1.184zm-.242 3.324a6.864 6.864 0 0 0-.2.971H1.804a8.206 8.206 0 0 1 .3-1.492zm-1.537 2.728h1.343a6.83 6.83 0 0 0 .2.982l-1.237.523a8.165 8.165 0 0 1-.306-1.505zm3.971-6.345l-.95-.95a8.25 8.25 0 0 1 1.17-.791l.524 1.237a6.942 6.942 0 0 0-.744.5zm2.362-1.191l-.523-1.232a8.168 8.168 0 0 1 1.507-.305v1.343a6.882 6.882 0 0 0-.984.195zm2.741-1.543a8.181 8.181 0 0 1 1.493.3l-.521 1.238a6.857 6.857 0 0 0-.972-.2V1.805zm2.591 2.224l.521-1.238a8.279 8.279 0 0 1 1.183.8l-.949.95a6.952 6.952 0 0 0-.756-.511zm3.736 1.974l-1.237.524a6.914 6.914 0 0 0-.5-.744l.95-.95a8.274 8.274 0 0 1 .79 1.17zm-4.823 11.889a8.252 8.252 0 0 1-1.5.3v-1.343a6.871 6.871 0 0 0 .98-.2zM10 15.151a5.151 5.151 0 1 1 3.553-8.876.841.841 0 0 0 .081.1.871.871 0 0 0 .095.081 5.148 5.148 0 0 1-3.729 8.7zm6.655-3.3a6.828 6.828 0 0 0 .2-.97h1.343a8.163 8.163 0 0 1-.3 1.49zm0 0"></path>
        <path d="M12.105 9.142a1.159 1.159 0 1 0-1.291-1.194L10 8.762l-.814-.814a1.159 1.159 0 1 0-1.291 1.194l.862.862-.812.812a1.159 1.159 0 1 0 1.238 1.247l.816-.816.816.816a1.159 1.159 0 1 0 1.238-1.247l-.812-.812zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.4 22.4" id="ico-search">
        <path d="M10.4.2C4.8.2.2 4.8.2 10.4s4.6 10.2 10.2 10.2S20.6 16 20.6 10.4 16.1.2 10.4.2zm0 18.5c-4.5 0-8.2-3.7-8.2-8.2s3.7-8.2 8.2-8.2c4.5 0 8.2 3.7 8.2 8.2.1 4.5-3.6 8.2-8.2 8.2z"></path>
        <path d="M21.9 20.5l-2.4-2.4c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l2.4 2.4c.2.2.4.3.7.3.3 0 .5-.1.7-.3.4-.4.4-1 0-1.4z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.2 15.2" id="ico-search-alt">
        <path d="M14.9 14.2l-3-3c1-1.2 1.6-2.7 1.6-4.4a6.7 6.7 0 1 0-6.7 6.7c1.7 0 3.2-.6 4.4-1.6l3 3c.1.1.2.1.4.1s.3 0 .4-.1c.1-.2.1-.5-.1-.7zm-4-3.4c-.1.1-.1.1 0 0-1.1 1.1-2.5 1.7-4.1 1.7-3.1 0-5.7-2.6-5.7-5.7s2.6-5.7 5.7-5.7 5.7 2.6 5.7 5.7c0 1.6-.6 3-1.6 4z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-skill-games">
        <path d="M11.778 20H8.222a3.2 3.2 0 0 1-3.2-3.2v-1.157a.668.668 0 0 0-.667-.667H3.197a3.2 3.2 0 0 1-3.2-3.2V8.223a3.2 3.2 0 0 1 3.2-3.2h1.159a.668.668 0 0 0 .667-.667V3.198a3.2 3.2 0 0 1 3.2-3.2h3.556a3.2 3.2 0 0 1 3.2 3.2v1.159a.668.668 0 0 0 .667.667h1.159a3.2 3.2 0 0 1 3.2 3.2.879.879 0 0 1-1.757 0 1.442 1.442 0 0 0-1.44-1.44h-1.159a2.428 2.428 0 0 1-2.435-2.426v-1.16a1.442 1.442 0 0 0-1.44-1.44H8.222a1.442 1.442 0 0 0-1.44 1.44v1.159a2.428 2.428 0 0 1-2.425 2.425h-1.16a1.442 1.442 0 0 0-1.44 1.44v3.556a1.442 1.442 0 0 0 1.44 1.44h1.159a2.428 2.428 0 0 1 2.425 2.425v1.159a1.442 1.442 0 0 0 1.44 1.44h3.556a1.442 1.442 0 0 0 1.44-1.44v-1.159a2.428 2.428 0 0 1 2.425-2.425h1.159a1.442 1.442 0 0 0 1.44-1.44.879.879 0 0 1 1.757 0 3.2 3.2 0 0 1-3.2 3.2h-1.159a.668.668 0 0 0-.667.667v1.159A3.2 3.2 0 0 1 11.778 20zm0 0"></path>
        <path d="M10 16.752a1.1 1.1 0 0 1-.775-.316L7.877 15.11a.879.879 0 0 1 1.232-1.253l.891.876.891-.876a.879.879 0 0 1 1.232 1.253l-1.349 1.327a1.1 1.1 0 0 1-.774.315zm-.458-1.568zm.915 0zM8.531 6.396a.879.879 0 0 1-.616-1.505l1.349-1.327a1.109 1.109 0 0 1 1.549 0l1.348 1.326a.879.879 0 0 1-1.232 1.253l-.891-.876-.891.876a.875.875 0 0 1-.616.253zm1.966-1.58zm4.025 7.57a.879.879 0 0 1-.626-1.495l.876-.891-.876-.891a.879.879 0 1 1 1.253-1.232l1.327 1.349a1.109 1.109 0 0 1 0 1.55l-1.326 1.348a.876.876 0 0 1-.628.262zm.7-1.928zm-9.705 1.928a.876.876 0 0 1-.626-.262l-1.327-1.349a1.109 1.109 0 0 1 0-1.55L4.89 7.877a.879.879 0 0 1 1.253 1.232L5.266 10l.876.891a.879.879 0 0 1-.626 1.495zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-slots">
        <path d="M20 4.937a1.557 1.557 0 1 0-2.481 1.244v2.934a1.447 1.447 0 0 1-1.451 1.44h-.28V7.063a7.115 7.115 0 0 0-14.229 0v11.181H.88a.879.879 0 1 0 0 1.757h15.572a.879.879 0 1 0 0-1.757h-.67v-.9a.885.885 0 0 0-1.77 0v.9H3.327v-5.935h10.689v1.17a.885.885 0 0 0 1.77 0v-1.17h.28a3.213 3.213 0 0 0 3.221-3.2V6.234a1.542 1.542 0 0 0 .711-1.3zM8.674 1.757A5.34 5.34 0 0 1 13.963 6.3h-3.514a1.942 1.942 0 0 0-3.554 0H3.38a5.34 5.34 0 0 1 5.289-4.543zm1.215 6.3v2.494H7.416V8.057zm-6.559 0h2.316v2.494H3.328zm8.329 2.494V8.057h2.359v2.494zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-star">
        <path d="M5.138 20a2.068 2.068 0 0 1-1.25-.43 2.224 2.224 0 0 1-.773-2.47l1.239-3.961a.664.664 0 0 0-.228-.728L.882 9.963A2.236 2.236 0 0 1 .11 7.478a2.107 2.107 0 0 1 2.022-1.533h4.006a.61.61 0 0 0 .6-.429L7.977 1.53a2.1 2.1 0 0 1 4.046 0l1.239 3.988a.61.61 0 0 0 .6.428h4.01a2.107 2.107 0 0 1 2.022 1.533 2.236 2.236 0 0 1-.771 2.485l-2.212 1.669a.732.732 0 0 1-1.047-.172.8.8 0 0 1 .166-1.088l2.208-1.672a.661.661 0 0 0 .227-.743.619.619 0 0 0-.6-.457h-4.01a2.12 2.12 0 0 1-2.017-1.505l-1.24-3.989a.62.62 0 0 0-1.193 0L8.166 5.993a2.12 2.12 0 0 1-2.028 1.508h-4.01a.619.619 0 0 0-.6.457.661.661 0 0 0 .227.743l3.244 2.448a2.252 2.252 0 0 1 .773 2.47l-1.234 3.962a.644.644 0 0 0 .228.729.591.591 0 0 0 .737 0l3.244-2.448a2.058 2.058 0 0 1 2.5 0l3.244 2.448a.591.591 0 0 0 .737 0 .644.644 0 0 0 .228-.729l-.848-2.712a.786.786 0 0 1 .482-.981.744.744 0 0 1 .945.5l.848 2.712a2.224 2.224 0 0 1-.773 2.47 2.033 2.033 0 0 1-2.5 0l-3.244-2.448a.607.607 0 0 0-.737 0L6.385 19.57a2.068 2.068 0 0 1-1.247.43zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-star-alt">
        <path d="M18.9,8.2c0.2-0.2,0.3-0.5,0.2-0.7C19,7.2,18.8,7,18.5,7l-5.1-0.7c-0.2,0-0.4-0.2-0.5-0.4l-2.3-4.6C10.5,1,10.3,0.9,10,0.9 C9.7,0.9,9.5,1,9.4,1.3L7.1,5.8C7,6.1,6.8,6.2,6.6,6.2L1.5,7C1.2,7,1,7.2,0.9,7.4C0.9,7.7,0.9,8,1.1,8.2l3.7,3.6C4.9,11.9,5,12.1,5,12.4l-0.9,5c0,0.3,0.1,0.5,0.3,0.7c0.2,0.2,0.5,0.2,0.7,0.1l4.5-2.4c0.2-0.1,0.5-0.1,0.7,0l4.5,2.4c0.2,0.1,0.5,0.1,0.7-0.1c0.2-0.2,0.3-0.4,0.3-0.7l-0.9-5c0-0.2,0-0.5,0.2-0.6L18.9,8.2z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-table-games">
        <path d="M4.743 3.971a.773.773 0 1 1-.773-.773.773.773 0 0 1 .773.773zM10 9.227a.773.773 0 1 1-.773-.773.773.773 0 0 1 .773.773zm0-5.256a.773.773 0 1 1-.773-.773.773.773 0 0 1 .773.773zM4.743 9.227a.773.773 0 1 1-.773-.773.773.773 0 0 1 .773.773zm0 0"></path>
        <path d="M19.122 13.814a.879.879 0 0 0 .879-.879V10a3.2 3.2 0 0 0-3.2-3.2h-3.6V4.393A4.4 4.4 0 0 0 8.808 0H4.394A4.4 4.4 0 0 0 .001 4.393v4.411a4.4 4.4 0 0 0 4.393 4.393h2.409v3.6a3.2 3.2 0 0 0 3.2 3.2h6.8a3.2 3.2 0 0 0 3.2-3.2.879.879 0 1 0-1.757 0 1.442 1.442 0 0 1-1.44 1.44h-6.8a1.442 1.442 0 0 1-1.44-1.44v-3.6h.245a4.4 4.4 0 0 0 4.393-4.393v-.245h3.6a1.442 1.442 0 0 1 1.44 1.44v2.937a.879.879 0 0 0 .878.878zm-7.681-5.01a2.639 2.639 0 0 1-2.636 2.636H4.394a2.639 2.639 0 0 1-2.636-2.636V4.393a2.639 2.639 0 0 1 2.636-2.636h4.411a2.639 2.639 0 0 1 2.636 2.636zm0 0"></path>
        <path d="M14.251 13.401a.773.773 0 1 1-.773-.773.773.773 0 0 1 .773.773zm2.551-2.628a.773.773 0 1 1-.773-.773.773.773 0 0 1 .773.773zm-5.256 5.257a.773.773 0 1 1-.773-.773.773.773 0 0 1 .773.773zm5.256 0a.773.773 0 1 1-.773-.773.773.773 0 0 1 .773.773zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-trending">
        <path d="M10.792 10a.791.791 0 1 1-.791-.791.791.791 0 0 1 .791.791zm0 0"></path>
        <path d="M19.335 9.335h-.9a8.431 8.431 0 0 0-7.766-7.729v-.94a.665.665 0 0 0-1.33 0v.947a8.432 8.432 0 0 0-7.687 7.723H.669a.665.665 0 0 0 0 1.33h.983a8.432 8.432 0 0 0 7.687 7.723v.947a.665.665 0 0 0 1.33 0v-.941a8.418 8.418 0 0 0 3.414-1.007.665.665 0 0 0-.639-1.167 7.087 7.087 0 0 1-2.775.839V15.3a.665.665 0 1 0-1.33 0v1.752a7.1 7.1 0 0 1-6.351-6.387H4.7a.665.665 0 0 0 0-1.33H2.984a7.1 7.1 0 0 1 6.351-6.387V4.7a.665.665 0 0 0 1.33 0V2.94a7.1 7.1 0 0 1 6.43 6.394H15.3a.665.665 0 0 0 0 1.33h1.794a7.089 7.089 0 0 1-.968 2.95.665.665 0 0 0 1.143.681 8.414 8.414 0 0 0 1.16-3.631h.905a.665.665 0 0 0 0-1.33zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" id="ico-upload">
        <path d="M21 13.8v4.4c0 1.5-1.2 2.7-2.7 2.7H2.7C1.2 21 0 19.8 0 18.3v-4.4c0-.3.2-.5.5-.5s.5.2.5.4v4.4c0 1 .8 1.8 1.7 1.8h15.6c.9 0 1.7-.8 1.7-1.7v-4.4c0-.3.2-.5.5-.5s.5.2.5.4zM4.9 6.6c.1 0 .3 0 .4-.1L10 1.7v12.1c0 .3.2.5.5.5s.5-.2.5-.5V1.7l4.7 4.7c.2.2.5.2.7 0s.2-.5 0-.7L10.8.1s-.1-.1-.2-.1h-.4c-.1 0-.1.1-.2.1L4.6 5.7c-.2.2-.2.5 0 .7.1.1.2.2.3.2z"
              fill="#000000"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-user">
        <path d="M19.948 17.073a.847.847 0 1 0-1.659.345.74.74 0 0 1-.15.619.717.717 0 0 1-.565.268H2.426a.718.718 0 0 1-.565-.268.739.739 0 0 1-.15-.619A8.5 8.5 0 0 1 9.8 10.689h.386a8.461 8.461 0 0 1 6.852 3.755.848.848 0 1 0 1.408-.944 10.159 10.159 0 0 0-5.138-3.957 5.346 5.346 0 1 0-6.613 0A10.158 10.158 0 0 0 .052 17.07a2.428 2.428 0 0 0 2.374 2.935h15.149a2.428 2.428 0 0 0 2.374-2.928zM6.348 5.347a3.651 3.651 0 1 1 3.809 3.647h-.336a3.656 3.656 0 0 1-3.472-3.647zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-user-check">
        <path d="M9.263 18.269H2.426a.717.717 0 0 1-.563-.267.735.735 0 0 1-.149-.617 8.491 8.491 0 0 1 8.089-6.714h.4a8.464 8.464 0 0 1 5.369 2.083.848.848 0 1 0 1.118-1.276 10.148 10.148 0 0 0-3.381-1.95 5.347 5.347 0 1 0-6.618 0 10.146 10.146 0 0 0-6.64 7.512 2.426 2.426 0 0 0 2.375 2.924h6.836a.848.848 0 1 0 0-1.695zM6.351 5.337a3.649 3.649 0 1 1 3.823 3.638H9.82a3.649 3.649 0 0 1-3.471-3.638zm0 0"></path>
        <path d="M19.645 12.658a.85.85 0 0 0-1.184.2l-3.821 5.327a.37.37 0 0 1-.529.026l-2.47-2.406a.848.848 0 1 0-1.186 1.213l2.475 2.411.008.007a2.076 2.076 0 0 0 1.427.569h.136a2.074 2.074 0 0 0 1.474-.766l.029-.038 3.838-5.351a.847.847 0 0 0-.2-1.182zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 22.809" id="ico-verification">
        <path d="M10 0L0 4.147v6.221a13.066 13.066 0 0 0 10 12.441 13.066 13.066 0 0 0 10-12.441V4.147zM7.778 16.588l-4.445-4.147L4.9 10.979l2.878 2.675L15.1 6.822l1.567 1.472z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-verify">
        <path d="M10.004 9.608a.937.937 0 0 0-.938.938 28.563 28.563 0 0 1-1.082 8.264.937.937 0 1 0 1.805.507 30.233 30.233 0 0 0 1.152-8.77.937.937 0 0 0-.937-.937zm-.033-3.193a3.907 3.907 0 0 0-4.03 3.949 25.628 25.628 0 0 1-.522 5.568.937.937 0 0 0 1.836.38 27.5 27.5 0 0 0 .561-5.977A2.035 2.035 0 0 1 9.943 8.29a2.261 2.261 0 0 1 2.251 2.167 31.4 31.4 0 0 1-.414 5.607.937.937 0 1 0 1.849.305 33.32 33.32 0 0 0 .44-5.942 4.15 4.15 0 0 0-4.098-4.012zm-4.324-.772a.938.938 0 0 0-1.319.136 6.775 6.775 0 0 0-1.514 4.375 22.685 22.685 0 0 1-.356 4.377.938.938 0 0 0 1.846.333 24.569 24.569 0 0 0 .385-4.739 4.828 4.828 0 0 1 1.094-3.164.938.938 0 0 0-.136-1.319zm4.276-2.435a6.982 6.982 0 0 0-1.788.192.938.938 0 1 0 .432 1.825 5.607 5.607 0 0 1 1.332-.142 5.468 5.468 0 0 1 5.425 5.257 34.416 34.416 0 0 1-.218 4.439.938.938 0 0 0 1.863.214 36.291 36.291 0 0 0 .23-4.682 7.357 7.357 0 0 0-7.272-7.1zm9.846 4.744a.937.937 0 1 0-1.831.4 9.741 9.741 0 0 1 .184 2.406.937.937 0 0 0 .93.945h.008a.937.937 0 0 0 .938-.93 11.608 11.608 0 0 0-.228-2.826zm-1.57-3.544A10.391 10.391 0 0 0 9.875 0a9.785 9.785 0 0 0-7.123 2.849A9.316 9.316 0 0 0 .005 9.635v.839a.937.937 0 0 0 .909.964h.024a.938.938 0 0 0 .936-.91l.006-.923a7.452 7.452 0 0 1 2.2-5.43 7.916 7.916 0 0 1 5.769-2.3 8.51 8.51 0 0 1 6.82 3.61.937.937 0 1 0 1.53-1.077z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15.107" id="ico-video">
        <path d="M19.231 7.454A.807.807 0 0 0 20 6.613V4.222a2.57 2.57 0 0 0-1.292-2.283 2.159 2.159 0 0 0-2.446.245l-.02.017L13.82 4.48V3.406A3.274 3.274 0 0 0 10.704 0H3.116A3.274 3.274 0 0 0 0 3.406V11.7a3.274 3.274 0 0 0 3.116 3.406H10.7a3.274 3.274 0 0 0 3.116-3.406v-1.031l2.4 2.262.039.035a2.2 2.2 0 0 0 1.4.516 2.175 2.175 0 0 0 1.044-.271A2.57 2.57 0 0 0 20 10.928a.772.772 0 1 0-1.538 0 .865.865 0 0 1-.44.778.725.725 0 0 1-.816-.07l-3.386-3.19V6.695l3.385-3.186a.725.725 0 0 1 .816-.07.865.865 0 0 1 .44.778v2.391a.807.807 0 0 0 .769.841zm-6.949 4.247a1.658 1.658 0 0 1-1.578 1.724H3.116a1.658 1.658 0 0 1-1.578-1.724V3.406a1.658 1.658 0 0 1 1.578-1.724H10.7a1.658 1.658 0 0 1 1.578 1.724zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 11.313" id="ico-video-bingo">
        <path d="M16.03 11.312h-2.474a2.7 2.7 0 0 1-2.429-1.351l-.27-.526a.963.963 0 0 0-1.636 0l-.27.526a2.7 2.7 0 0 1-2.429 1.351H3.971C1.782 11.312 0 9.799 0 7.938V3.373C0 1.513 1.781-.001 3.971-.001H16.03c2.189 0 3.97 1.514 3.97 3.374v1.248a.89.89 0 0 1-1.757 0V3.373a2.07 2.07 0 0 0-2.213-1.881H3.971a2.07 2.07 0 0 0-2.213 1.881V7.94a2.07 2.07 0 0 0 2.213 1.881h2.551a.91.91 0 0 0 .818-.455l.27-.526a2.859 2.859 0 0 1 4.857 0l.27.526a.91.91 0 0 0 .818.455h2.474a2.07 2.07 0 0 0 2.213-1.881.89.89 0 0 1 1.757 0c.001 1.859-1.784 3.372-3.969 3.372zm0 0"></path>
        <path d="M14.29 7.208a2.088 2.088 0 1 1 2.425-2.06 2.267 2.267 0 0 1-2.425 2.06zm0-2.627a.574.574 0 1 0 .667.567.624.624 0 0 0-.667-.568zM5.714 7.208a2.088 2.088 0 1 1 2.425-2.06 2.267 2.267 0 0 1-2.425 2.06zm0-2.627a.574.574 0 1 0 .667.567.624.624 0 0 0-.667-.568zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-withdraw">
        <path d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zM4.677 11.612a.485.485 0 0 1-.484-.484V8.87a.485.485 0 0 1 .484-.483h10.645a.485.485 0 0 1 .484.484v2.258a.485.485 0 0 1-.484.484z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-account-information">
        <path d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm0 3.871a3.548 3.548 0 1 1-3.548 3.548A3.548 3.548 0 0 1 10 3.87zm0 13.866a7.727 7.727 0 0 1-5.907-2.75 4.5 4.5 0 0 1 3.972-2.411.987.987 0 0 1 .286.044 5.339 5.339 0 0 0 1.649.283 5.319 5.319 0 0 0 1.649-.278.987.987 0 0 1 .286-.044 4.5 4.5 0 0 1 3.972 2.411A7.727 7.727 0 0 1 10 17.737z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-alert">
        <path d="M17.986 14.299a.756.756 0 0 0-.65.875.772.772 0 0 1-.19.675.9.9 0 0 1-.682.3H3.553a.9.9 0 0 1-.682-.3.771.771 0 0 1-.19-.675 7.776 7.776 0 0 1 1.2-2.732 5.853 5.853 0 0 0 1.152-3.308V7.961a4.8 4.8 0 0 1 4.9-4.58h.161a4.79 4.79 0 0 1 4.881 4.58v1.176a5.2 5.2 0 0 0 .851 2.787.826.826 0 0 0 .716.393.866.866 0 0 0 .387-.09.721.721 0 0 0 .328-1.017 3.792 3.792 0 0 1-.654-2.073V7.961a5.817 5.817 0 0 0-1.9-4.267 6.757 6.757 0 0 0-3.885-1.769V.75a.817.817 0 0 0-1.628 0v1.178a6.306 6.306 0 0 0-5.784 6.034v1.176a4.511 4.511 0 0 1-.937 2.564 9.1 9.1 0 0 0-1.385 3.2 2.183 2.183 0 0 0 .537 1.909 2.6 2.6 0 0 0 1.935.837h3.951v.034a2.523 2.523 0 0 0 5.03 0v-.034h3.934a2.6 2.6 0 0 0 1.935-.837 2.183 2.183 0 0 0 .534-1.912.812.812 0 0 0-.95-.6zm-7.082 3.379a.89.89 0 0 1-1.775 0v-.034h1.778a.275.275 0 0 0-.003.038zM1.628 7.962a7.37 7.37 0 0 1 2.133-5.144.71.71 0 0 0-.064-1.059.863.863 0 0 0-1.149.059A8.8 8.8 0 0 0 0 7.963a.817.817 0 0 0 1.628 0zm15.825-6.144a.863.863 0 0 0-1.149-.059.71.71 0 0 0-.064 1.059 7.37 7.37 0 0 1 2.133 5.144.817.817 0 0 0 1.628 0 8.8 8.8 0 0 0-2.548-6.145zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.7 18.5" id="ico-arrow-right">
        <path d="M17.4 10l-7.8 7.8c-.2.2-.5.3-.7.3s-.6-.1-.8-.3c-.4-.4-.4-1 0-1.4l6.1-6.1H1c-.6 0-1-.4-1-1s.4-1 1-1h13.2L8.1 2.1c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l7.8 7.8c.1.1.2.2.2.3v.6c0 .3 0 .5-.1.6z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.7 17.1" id="ico-arrow-right-alt">
        <path d="M16.5 8.9l-7.8 7.8c-.1.1-.2.1-.4.1s-.3 0-.4-.1c-.2-.2-.2-.5 0-.7l7-7H.5C.2 9 0 8.8 0 8.5S.2 8 .5 8H15L8 1C7.8.9 7.8.5 8 .4s.5-.2.7 0l7.8 7.8s.1.1.1.2v.2c0 .2 0 .2-.1.3z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-baccarat">
        <path d="M10 20a3.468 3.468 0 0 1-2.523-1.01L.838 11.998a2.8 2.8 0 0 1 0-4l6.639-6.992a3.657 3.657 0 0 1 5.047 0l6.639 6.992a2.8 2.8 0 0 1 0 4l-1.735 1.826a1.24 1.24 0 0 1-1.507.155.777.777 0 0 1-.189-1.233l1.734-1.826a1.289 1.289 0 0 0 0-1.839l-6.639-6.992a1.2 1.2 0 0 0-1.655 0L2.533 9.081a1.289 1.289 0 0 0 0 1.839l6.639 6.992a1.2 1.2 0 0 0 1.655 0l2.042-2.151a1.24 1.24 0 0 1 1.506-.155.777.777 0 0 1 .189 1.233l-2.042 2.151A3.468 3.468 0 0 1 10 20zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-bell">
        <path d="M19.952 14.9a.911.911 0 0 0-1.059-.6.772.772 0 0 0-.724.875.718.718 0 0 1-.212.675 1.064 1.064 0 0 1-.76.3H2.804a1.064 1.064 0 0 1-.76-.3.718.718 0 0 1-.211-.675 7.408 7.408 0 0 1 1.335-2.732 5.487 5.487 0 0 0 1.284-3.308V7.962c0-2.49 2.449-4.544 5.459-4.58h.18c3 .036 5.441 2.089 5.441 4.58v1.176a4.84 4.84 0 0 0 .948 2.787.95.95 0 0 0 .8.393 1.058 1.058 0 0 0 .431-.09.689.689 0 0 0 .366-1.017 3.527 3.527 0 0 1-.729-2.073V7.962a5.565 5.565 0 0 0-2.117-4.267A7.947 7.947 0 0 0 10.9 1.926V.75a.924.924 0 0 0-1.814 0v1.178c-3.622.373-6.447 2.951-6.447 6.034v1.176A4.24 4.24 0 0 1 1.592 11.7a8.656 8.656 0 0 0-1.543 3.2 2.032 2.032 0 0 0 .6 1.909 3.058 3.058 0 0 0 2.157.837h4.4v.034a2.854 2.854 0 0 0 5.607 0v-.034h4.386a3.058 3.058 0 0 0 2.157-.837 2.032 2.032 0 0 0 .6-1.909zm-8.953 2.78a1.007 1.007 0 0 1-1.978 0v-.034h1.982a.165.165 0 0 0-.004.036zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-blackjack">
        <path d="M16.698 4.983a34.844 34.844 0 0 0-5.024-4.45 2.906 2.906 0 0 0-3.352 0 34.824 34.824 0 0 0-5.023 4.451c-2.19 2.394-3.3 4.5-3.3 6.275a5.485 5.485 0 0 0 1.6 4.231 6.11 6.11 0 0 0 7.329.235 4.352 4.352 0 0 1-.561 1.913c-.273.393-.654.606-1.882.606a.882.882 0 1 0 0 1.757h7.019a.882.882 0 1 0 0-1.757c-1.228 0-1.609-.213-1.882-.606a4.417 4.417 0 0 1-.567-1.957 5.527 5.527 0 0 0 3.463 1.151 6.717 6.717 0 0 0 2.027-.294.864.864 0 0 0 .592-1.116.973.973 0 0 0-1.21-.546 4.675 4.675 0 0 1-1.409.2 3.9 3.9 0 0 1-3.609-2.644.976.976 0 0 0-1.836.025 3.766 3.766 0 0 1-3.6 2.619c-2.337 0-3.571-1.319-3.571-3.816 0-2.852 4.538-7.148 7.588-9.34a.876.876 0 0 1 1.011 0c3.052 2.193 7.592 6.49 7.592 9.338a5.386 5.386 0 0 1-.253 1.726.868.868 0 0 0 .624 1.1.969.969 0 0 0 1.194-.575 7 7 0 0 0 .34-2.252c0-1.77-1.111-3.881-3.3-6.274zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 24.4" id="ico-calendar">
        <path d="M18.3 2.3h-2.8V.5c0-.3-.2-.5-.5-.5s-.5.2-.5.5v1.8H6.6V.5c0-.3-.3-.5-.5-.5s-.5.2-.5.5v1.8H2.7C1.2 2.4 0 3.7 0 5.2v16.4c0 .7.3 1.5.8 2s1.2.8 2 .9h15.6c1.5 0 2.7-1.3 2.7-2.8V5.2c-.1-1.5-1.3-2.8-2.8-2.9zm-15.6 1h2.8v1.8c0 .3.2.5.5.5s.5-.2.5-.5V3.3h7.9v1.8c0 .3.2.5.5.5s.5-.2.5-.5V3.3h2.8c1 0 1.8.8 1.7 1.8v4.2H1V5.2c0-1 .8-1.8 1.7-1.9zm15.6 20.1H2.7c-1 0-1.8-.8-1.7-1.8V10.4h19v11.2c0 1-.8 1.8-1.7 1.8z"
              fill="#000000"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-chat">
        <path d="M.901 20a.9.9 0 0 1-.83-1.231l1.72-4.269a8.649 8.649 0 0 1-1.79-5.271c0-5.088 4.486-9.228 10-9.228s10 4.14 10 9.228a8.692 8.692 0 0 1-1.589 4.994.9.9 0 0 1-1.469-1.025 6.908 6.908 0 0 0 1.266-3.969c0-4.1-3.683-7.437-8.209-7.437S1.791 5.129 1.791 9.229a6.931 6.931 0 0 0 1.71 4.54.9.9 0 0 1 .149.917l-1.1 2.71 3.245-1.43a.9.9 0 0 1 .713 0 8.98 8.98 0 0 0 7.5-.24.9.9 0 1 1 .811 1.6 10.78 10.78 0 0 1-8.643.438l-4.917 2.167A.9.9 0 0 1 .901 20zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-chest">
        <path d="M19.121 13.815a.879.879 0 0 0 .879-.879V9.073a.879.879 0 0 0-.879-.879h-.964l1.721-2.971a.878.878 0 0 0 .118-.44V2.039a.879.879 0 0 0-.515-.8l-1.012-.46a8.624 8.624 0 0 0-3.593-.778H5.12a8.624 8.624 0 0 0-3.593.778l-1.012.46a.879.879 0 0 0-.515.8v2.744a.878.878 0 0 0 .119.44L1.84 8.194H.879A.879.879 0 0 0 0 9.073v7.73a3.2 3.2 0 0 0 3.2 3.2h13.6a3.2 3.2 0 0 0 3.2-3.2.879.879 0 0 0-1.757 0 1.442 1.442 0 0 1-1.44 1.44h-13.6a1.442 1.442 0 0 1-1.44-1.44V9.951h5.432v1.864a.879.879 0 0 0 .438.76l1.933 1.121a.879.879 0 0 0 .881 0l1.933-1.121a.879.879 0 0 0 .438-.76V9.951h5.432v2.986a.879.879 0 0 0 .879.879zM17.742 2.377l.5.226v.912h-5.428v-1.76h2.066a6.88 6.88 0 0 1 2.862.623zm-8.8-.621h2.107V4.67l-1.054.632-1.054-.632zm-6.692.621a6.88 6.88 0 0 1 2.866-.621h2.069v1.759H1.757v-.913zm-.075 2.9h5.016a.879.879 0 0 0 .42.648l1.932 1.16a.879.879 0 0 0 .9 0l1.932-1.16a.878.878 0 0 0 .42-.648h5.019l-1.691 2.919H3.871zm8.878 6.038l-1.054.611-1.053-.611V9.951h2.107zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.5 9.6" id="ico-sidebar">
        <path d="M5.1 8.5c.2.2.2.5 0 .7-.1.1-.2.2-.3.2-.1 0-.2 0-.3-.1l-4.3-4C.1 5.3 0 5.1 0 5c0-.1 0-.3.1-.4L4.4.3c.2-.2.5-.2.7 0s.2.5 0 .7L1.2 5l3.9 3.5zM5.2 5l3.9-3.9c.2-.2.2-.5 0-.7s-.5-.2-.7 0L4.1 4.6c-.1.1-.1.3-.1.4 0 .1.1.3.2.4l4.3 3.9c.1.1.2.1.3.1.1 0 .3-.1.4-.2.2-.2.2-.5 0-.7L5.2 5z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-arr-left">
        <path d="M5.5,15.9l-5.1-5.1c-0.4-0.4-0.4-1-0.1-1.4c0,0,0.1-0.1,0.1-0.1l5.1-5.1c0.4-0.4,1-0.4,1.4,0c0,0,0,0,0,0
	c0.4,0.4,0.4,1,0,1.4c0,0,0,0,0,0L3.3,9h15.8c0.5,0,1,0.5,0.9,1c0,0.5-0.4,0.9-0.9,0.9H3.3l3.5,3.5c0.4,0.4,0.4,1,0,1.4
	C6.4,16.2,5.8,16.2,5.5,15.9L5.5,15.9z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="ico-arr-right">
        <path d="M14.6,4.2l5.2,5.2c0.4,0.4,0.4,1,0,1.3l-0.1,0l-5.1,5.2c-0.4,0.4-1,0.4-1.4,0s-0.4-1,0-1.4l0,0l3.5-3.5H1c-0.5,0-1-0.4-1-1
	c0-0.5,0.4-1,1-1c0,0,0,0,0,0h15.7l-3.5-3.5c-0.4-0.4-0.4-1,0-1.4C13.6,3.8,14.2,3.8,14.6,4.2L14.6,4.2z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" id="ico-play-alt">
        <defs><style>.play-1{opacity:0.2; fill: #ffffff;}.play-2{fill: #fed330;}</style></defs>
        <g>
            <path class="play-1" d="M15,0A15,15,0,1,0,30,15,15,15,0,0,0,15,0Zm5.4,16.67-7,4.07a1.93,1.93,0,0,1-2.89-1.67V10.93a1.92,1.92,0,0,1,2.89-1.67l7,4.07a1.92,1.92,0,0,1,0,3.34Z"/>
            <path class="play-2" d="M21.37,15a1.93,1.93,0,0,1-1,1.67l-7,4.07a1.93,1.93,0,0,1-2.89-1.67V10.93a1.92,1.92,0,0,1,2.89-1.67l7,4.07A1.93,1.93,0,0,1,21.37,15Z"/>
        </g>
    </symbol>

    <!--navbar sprite-->
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="navbar-balance">
        <path d="M15.82,10a2.35,2.35,0,1,0,0,4.69h3.39a.79.79,0,0,0,.79-.79h0V7.82a3.12,3.12,0,0,0-1.3-2.54L16,.93A.78.78,0,0,0,15,.67L13,1.89,12.12.39A.78.78,0,0,0,11,.12h0L3.52,4.69H2.34a.78.78,0,0,1-.78-.76.78.78,0,0,1,.78-.76H3.79a.79.79,0,0,0,.87-.69A.78.78,0,0,0,4,1.61a.54.54,0,0,0-.18,0H2.34A2.35,2.35,0,0,0,.06,3.4.81.81,0,0,0,0,3.71V16.88A3.12,3.12,0,0,0,3.12,20H16.87a3.09,3.09,0,0,0,3-2.13.79.79,0,0,0-.37-1.05.8.8,0,0,0-1.05.38,1.27,1.27,0,0,0-.06.18,1.56,1.56,0,0,1-1.48,1.06H3.12a1.56,1.56,0,0,1-1.56-1.56V6.12a2.34,2.34,0,0,0,.79.13H16.87a1.56,1.56,0,0,1,1.56,1.57V10Zm2.61,3.13H15.82a.79.79,0,0,1-.18-1.57h2.79ZM6.53,4.69l4.65-2.83L12,3.27l.06.11a.22.22,0,0,0,0,.08l.73,1.23Zm8.13,0L13.8,3.23l1.32-.82,1.39,2.28Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="navbar-transaction-history">
        <path d="M3,19a9.51,9.51,0,0,0,4.83,1A10.94,10.94,0,0,0,12,19.35a1.56,1.56,0,0,0,1.23.63h4.34a1.69,1.69,0,0,0,1.61-1.76,1.83,1.83,0,0,0-.41-1.16,1.87,1.87,0,0,0,0-2.34,1.88,1.88,0,0,0,0-2.35,1.83,1.83,0,0,0,.41-1.17,1.69,1.69,0,0,0-1.61-1.76h-4.5a7.45,7.45,0,0,0-1.87-1.76,1.85,1.85,0,0,0,.41-1.17,1.78,1.78,0,0,0-.92-1.59l.9-3a.66.66,0,0,0-.08-.53.52.52,0,0,0-.44-.24H9.38A1.64,1.64,0,0,0,7.85,0,1.64,1.64,0,0,0,6.33,1.17H4.63a.51.51,0,0,0-.44.24.66.66,0,0,0-.08.53l.9,3a1.78,1.78,0,0,0-.92,1.59A1.85,1.85,0,0,0,4.5,7.69a8.52,8.52,0,0,0-3.68,7A4.6,4.6,0,0,0,3,19Zm15.09-5.48a.56.56,0,0,1-.53.59H13.24a.59.59,0,0,1,0-1.17h4.34a.55.55,0,0,1,.53.58Zm0,2.34a.56.56,0,0,1-.53.59H13.24a.59.59,0,0,1,0-1.17h4.34a.55.55,0,0,1,.53.58Zm-.53,2.93H13.24a.59.59,0,0,1,0-1.17h4.34a.59.59,0,0,1,0,1.17Zm.53-7.61a.55.55,0,0,1-.53.58H13.24a.59.59,0,0,1-.55-.63.62.62,0,0,1,.55-.54h4.34a.56.56,0,0,1,.53.59ZM10,7.1H5.7a.59.59,0,0,1,0-1.17H10a.6.6,0,0,1,.54.63A.58.58,0,0,1,10,7.1ZM6.78,2.34a.56.56,0,0,0,.54-.58h0a.53.53,0,0,1,.49-.58.53.53,0,0,1,.58.49.14.14,0,0,1,0,.09V2.93a.55.55,0,0,0,.5.58A.54.54,0,0,0,9.47,3V2.34h.87L9.62,4.76H6.1L5.37,2.34Zm-1,5.93H9.9A6.17,6.17,0,0,1,12.08,10,1.87,1.87,0,0,0,12,12.37a1.87,1.87,0,0,0,0,2.34,1.87,1.87,0,0,0,0,2.34,1.89,1.89,0,0,0-.41,1.17v0a10.27,10.27,0,0,1-3.77.55A8.74,8.74,0,0,1,3.52,18,3.41,3.41,0,0,1,1.9,14.71,7.15,7.15,0,0,1,5.81,8.27Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="navbar-account-information">
        <path d="M20,17.07a.85.85,0,0,0-1.66.35.77.77,0,0,1-.15.62.71.71,0,0,1-.56.26H2.43A.7.7,0,0,1,1.87,18a.74.74,0,0,1-.15-.62A8.48,8.48,0,0,1,9.8,10.69h.39A8.47,8.47,0,0,1,17,14.44a.84.84,0,1,0,1.4-.94h0a10.19,10.19,0,0,0-5.13-4A5.34,5.34,0,1,0,5.8,8.65a5.06,5.06,0,0,0,.9.89A10.2,10.2,0,0,0,.05,17.07,2.44,2.44,0,0,0,1.93,20a2.73,2.73,0,0,0,.5.05H17.57A2.43,2.43,0,0,0,20,17.57a2.83,2.83,0,0,0-.05-.5ZM6.35,5.35A3.65,3.65,0,1,1,10.16,9H9.82A3.65,3.65,0,0,1,6.35,5.35Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="navbar-security">
        <path d="M17.14,7.14h-.71V6.43a6.43,6.43,0,0,0-12.86,0h0v.71H2.86a.72.72,0,0,0-.72.72h0V19.29a.71.71,0,0,0,.72.71H17.14a.71.71,0,0,0,.72-.71V7.86A.72.72,0,0,0,17.14,7.14ZM5,6.43a5,5,0,0,1,10,0v.71H5ZM16.43,18.57H3.57v-10H16.43ZM12,12.14a2.14,2.14,0,1,0-2.74,2.73v1.56a.73.73,0,0,0,.72.72.71.71,0,0,0,.71-.72h0V14.87A2.14,2.14,0,0,0,12,12.14Zm-2,1.43a.72.72,0,1,1,.71-.71h0a.71.71,0,0,1-.71.71Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="navbar-verification">
        <path d="M18,3.24,10.3.06a.78.78,0,0,0-.6,0L2,3.24A.77.77,0,0,0,1.56,4V7.83A13.09,13.09,0,0,0,9.7,19.94a.78.78,0,0,0,.6,0A13.09,13.09,0,0,0,18.44,7.82V4A.77.77,0,0,0,18,3.24ZM16.88,7.82A11.53,11.53,0,0,1,10,18.37,11.52,11.52,0,0,1,3.13,7.82V4.48L10,1.63l6.88,2.85ZM9.14,10.46,12.49,7.1A.78.78,0,0,1,13.6,8.2L9.69,12.11a.78.78,0,0,1-1.11,0h0L6.4,9.93a.78.78,0,1,1,1.1-1.1h0Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="navbar-notification">
        <path d="M17.57,15.89a3.14,3.14,0,0,1-.94-1.28,14.72,14.72,0,0,1-1-5.87v0a5.67,5.67,0,0,0-3.34-5.13V2.23A2.22,2.22,0,0,0,10.09,0H9.91A2.22,2.22,0,0,0,7.69,2.22V3.57A5.68,5.68,0,0,0,4.35,8.73a14.9,14.9,0,0,1-1,5.87,3.08,3.08,0,0,1-.94,1.28.56.56,0,0,0-.31.65A.59.59,0,0,0,2.7,17H7a3,3,0,0,0,6,0H17.3a.61.61,0,0,0,.59-.46A.57.57,0,0,0,17.57,15.89ZM8.86,2.22A1,1,0,0,1,9.91,1.17h.18a1,1,0,0,1,1.05,1.05v1a5.52,5.52,0,0,0-2.29,0v-1ZM10,18.8A1.86,1.86,0,0,1,8.15,17h3.69A1.86,1.86,0,0,1,10,18.8Zm2.36-3H4a4.74,4.74,0,0,0,.31-.54A14.68,14.68,0,0,0,5.52,8.74a4.48,4.48,0,0,1,9-.14v.16a14.73,14.73,0,0,0,1.18,6.52c.1.19.2.37.31.54Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="navbar-logout">
        <path d="M10,18.3H2.49a.83.83,0,0,1-.83-.83V2.52a.83.83,0,0,1,.83-.83H10A.83.83,0,1,0,10,0H2.49A2.5,2.5,0,0,0,0,2.52v15A2.49,2.49,0,0,0,2.49,20H10a.83.83,0,1,0,0-1.66Zm9.78-8.89-5.05-5a.83.83,0,0,0-1.17,1.19l3.61,3.56H7.47a.83.83,0,1,0,0,1.66h9.67l-3.61,3.56a.82.82,0,0,0,0,1.17.84.84,0,0,0,1.18,0l5.05-5a.82.82,0,0,0,0-1.17Z"/>
    </symbol>
    <!--*************-->

    <symbol viewBox="0 0 6.7 11" xmlns="http://www.w3.org/2000/svg" id="ico-chevron-right">
        <path d="M6.5,5.3c0,0.3-0.1,0.5-0.3,0.7l-4.3,4.3c-0.4,0.4-1,0.4-1.4,0c-0.4-0.4-0.4-1,0-1.4L4,5.3L0.5,2.1c-0.4-0.4-0.4-1-0.1-1.4	c0.4-0.4,1-0.4,1.4-0.1l4.3,3.9C6.4,4.8,6.5,4.9,6.5,5.3L6.5,5.3z"/>
    </symbol>
    <symbol viewBox="0 0 5.5 9.6" xmlns="http://www.w3.org/2000/svg" id="ico-chevron-right-alt">
        <path d="M5.4,4.6c0,0.1-0.1,0.3-0.1,0.4L1,9.2c-0.2,0.2-0.5,0.2-0.7,0C0.1,9,0.1,8.7,0.3,8.5l3.8-3.9L0.2,1.1C0.1,0.9,0,0.6,0.2,0.4	s0.5-0.2,0.7,0l4.3,3.9C5.3,4.3,5.4,4.5,5.4,4.6L5.4,4.6z"/>
    </symbol>
    <symbol viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="ico-times">
        <path d="M17 7L7 17M7 7l10 10" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"></path>
    </symbol>
    <symbol viewBox="0 0 19.2 13.5" xmlns="http://www.w3.org/2000/svg" id="ico-features">
        <path id="_001-game_controller" transform="translate(76.727 -353.031)" d="M-57.7,361.1l-1.7-5.3c-0.5-1.6-2-2.8-3.7-2.8h-8.1
         c-1.7,0-3.2,1.2-3.7,2.8l-1.7,5.3c-0.3,1-0.2,2.2,0.2,3.1c0.4,1,1.3,1.7,2.2,2.1c1,0.3,2.1,0.3,3-0.2c0.9-0.5,1.6-1.4,1.9-2.4
         l0.1-0.4c0.1-0.3,0.4-0.5,0.7-0.5h2.6c0.3,0,0.6,0.2,0.7,0.5l0.1,0.4c0.5,1.6,2,2.8,3.7,2.8c0.3,0,0.6,0,0.9-0.1
         c0.5-0.1,0.7-0.6,0.6-1.1c-0.1-0.5-0.5-0.7-1-0.7c0,0,0,0,0,0c-0.2,0-0.4,0.1-0.5,0.1c-1,0-1.8-0.7-2.1-1.6l-0.1-0.4
         c-0.3-1-1.2-1.7-2.3-1.7h-2.6c-1,0-2,0.7-2.3,1.7l-0.1,0.4c-0.2,0.6-0.6,1.1-1.1,1.4c-0.5,0.3-1.1,0.3-1.7,0.1
         c-0.6-0.2-1-0.6-1.3-1.2c-0.3-0.6-0.3-1.2-0.1-1.8l1.7-5.3c0.3-0.9,1.1-1.6,2.1-1.6h8.1c1,0,1.8,0.7,2.1,1.6l1.7,5.3
         c0.1,0.4,0.1,0.9,0,1.4c-0.1,0.5,0.1,0.9,0.6,1.1c0.4,0.1,0.9-0.1,1-0.6c0,0,0,0,0,0C-57.5,362.8-57.5,361.9-57.7,361.1z
          M-62.9,356.7c0,0.4-0.4,0.7-0.8,0.7s-0.7-0.4-0.7-0.8c0-0.4,0.3-0.7,0.7-0.7C-63.2,356-62.8,356.3-62.9,356.7z M-62.9,359.9
         c0,0.4-0.4,0.7-0.8,0.7s-0.7-0.4-0.7-0.8c0-0.4,0.3-0.7,0.7-0.7C-63.2,359.1-62.8,359.4-62.9,359.9z M-64.3,358.3
         c0,0.4-0.4,0.7-0.8,0.7s-0.7-0.4-0.7-0.8c0-0.4,0.3-0.7,0.7-0.7C-64.7,357.5-64.3,357.9-64.3,358.3z M-61.4,358.3
         c0,0.4-0.4,0.7-0.8,0.7s-0.7-0.4-0.7-0.8c0-0.4,0.3-0.7,0.7-0.7C-61.7,357.5-61.4,357.9-61.4,358.3z M-70.6,360.8
         c0.5,0,0.9-0.4,0.8-0.9v-0.7h0.6c0.5,0,0.9-0.4,0.8-0.9c0-0.5-0.4-0.8-0.8-0.8h-0.6v-0.7c0-0.5-0.3-0.9-0.8-0.9
         c-0.5,0-0.9,0.3-0.9,0.8c0,0,0,0.1,0,0.1v0.7h-0.6c-0.5,0-0.9,0.4-0.8,0.9c0,0.5,0.4,0.8,0.8,0.8h0.6v0.7
         C-71.5,360.3-71.1,360.7-70.6,360.8z"/>
    </symbol>
<!--new icons-->
    <symbol viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" id="chevron-left">
        <path d="M15.7,0.5L15.7,0.5c-0.7-0.7-1.8-0.7-2.5,0L3.7,10l9.5,9.5c0.7,0.7,1.8,0.7,2.5,0l0,0c0.7-0.7,0.7-1.8,0-2.5L8.8,10l6.9-6.9
	C16.4,2.4,16.4,1.2,15.7,0.5z"/>
    </symbol>
    <symbol viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" id="chevron-right">
        <path d="M4.3,19.5L4.3,19.5c0.7,0.7,1.8,0.7,2.5,0l9.5-9.5L6.8,0.5C6.1-0.2,5-0.2,4.3,0.5l0,0c-0.7,0.7-0.7,1.8,0,2.5l6.9,6.9
	l-6.9,6.9C3.6,17.6,3.6,18.8,4.3,19.5z"/>
    </symbol>

    <symbol viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" id="fullscreen">
        <path d="M2.86,12.86H0V20H7.14V17.14H2.86ZM0,7.14H2.86V2.86H7.14V0H0Zm17.14,10H12.86V20H20V12.86H17.14ZM12.86,0V2.86h4.28V7.14H20V0Z"/>
    </symbol>
    <symbol viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" id="fullscreen-close">
        <path d="M0,15.7v-2.9h7.1V20H4.3v-4.3H0z M15.7,20v-4.3H20v-2.9h-7.1V20H15.7z M20,7.1V4.3h-4.3V0h-2.9v7.1H20z M7.1,7.1V0H4.3v4.3
	H0v2.9H7.1z"/>
    </symbol>
    <symbol viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" id="times">
        <path id="times" d="M20,1.67A1.66,1.66,0,0,0,17.16.49L10,7.63,2.87.49A1.67,1.67,0,0,0,.51,2.84L7.66,10,.51,17.13a1.68,1.68,0,0,0,0,2.36,1.67,1.67,0,0,0,2.36,0l.05,0L10,12.34l7.15,7.15a1.67,1.67,0,0,0,2.35-2.36L12.36,10l7.15-7.14A1.66,1.66,0,0,0,20,1.67Z"/>
    </symbol>
    <symbol viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" id="eye">
        <path d="M10,7.27A2.73,2.73,0,1,0,12.73,10,2.73,2.73,0,0,0,10,7.27Zm0-4.09A10.75,10.75,0,0,0,0,10a10.74,10.74,0,0,0,20,0A10.75,10.75,0,0,0,10,3.18Zm0,11.36A4.55,4.55,0,1,1,14.55,10h0A4.55,4.55,0,0,1,10,14.54Z"/>
    </symbol>
    <symbol viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" id="eye-hidden">
        <path d="M9.85,6.83,12.71,9.7l0-.15A2.74,2.74,0,0,0,10,6.82ZM10,5a4.54,4.54,0,0,1,4.54,4.54,4.46,4.46,0,0,1-.32,1.66l2.66,2.66A10.76,10.76,0,0,0,20,9.54,10.74,10.74,0,0,0,10,2.73a10.61,10.61,0,0,0-3.62.63l2,2A4.5,4.5,0,0,1,10,5ZM.91,2.52,3,4.6,3.4,5A10.77,10.77,0,0,0,0,9.55a10.74,10.74,0,0,0,13.92,6.07l.06,0,.39.39L17,18.63l1.16-1.15L2.07,1.37Zm5,5L7.34,9a2.35,2.35,0,0,0-.07.6A2.72,2.72,0,0,0,10,12.27h0a2.32,2.32,0,0,0,.59-.07L12,13.6A4.51,4.51,0,0,1,5.93,7.54Z"/>
    </symbol>
</svg>
<!--svg sprite all used icons end-->
<div class="page active">
<!--all modals here-->
    {{>modals}}
<!--******-->
    {{>sidebar-logged}}
    <div class="sidebar-overlay"></div>
    <div class="page__main">
        {{>navigation-logged}}
        <div class="page__content">
            {{>body}}
            {{>footer}}
        </div>
        <div class="search-sm">
            <div class="search-sm__wrapper">
                <div class="search-sm__container">
                    <div class="search-sm__header">
                        <button class="back-btn">
                            <svg class="icon">
                                <use xlink:href="#ico-chevron-right-alt"></use>
                            </svg>
                            <span>Go back</span>
                        </button>
                    </div>
                    <form action="">
                        <div class="search-sm__form">
                            <div class="search-sm__input">
                                <input type="text" placeholder="search a game">
                                <svg class="icon">
                                    <use xlink:href="#ico-search"></use>
                                </svg>
                            </div>
                            <ul class="search-sm__form-filter">
                                <li>
                                    <div class="filter__btn">
                                        <div class="filter__btn-label filter__btn-placeholder">
                                            <div class="ico">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-filter"></use>
                                                </svg>
                                            </div>
                                            <span>Providers</span>
                                            <div class="ico arrow">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-down"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filter__btn-list">
                                            <div class="filter-scroller">
                                                <ul>
                                                    <li>
                                                        <div class="check">
                                                            <input id="OneTouch-sm" type="checkbox">
                                                            <label for="OneTouch-sm">OneTouch</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="Microgaming-sm" type="checkbox">
                                                            <label for="Microgaming-sm">Microgaming</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="Yggdrasil-sm" type="checkbox">
                                                            <label for="Yggdrasil-sm">Yggdrasil</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="RedTiger-sm" type="checkbox">
                                                            <label for="RedTiger-sm">Red Tiger</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="Netent-sm" type="checkbox">
                                                            <label for="Netent-sm">Netent</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="filter__btn">
                                        <div class="filter__btn-label filter__btn-placeholder">
                                            <div class="ico">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-features"></use>
                                                </svg>
                                            </div>
                                            <span>Features</span>
                                            <div class="ico arrow">
                                                <svg class="icon">
                                                    <use xlink:href="#ico-chevron-down"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filter__btn-list">
                                            <div class="filter-scroller">
                                                <ul>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature1-sm" type="checkbox">
                                                            <label for="feature1-sm">feature 1</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature2-sm" type="checkbox">
                                                            <label for="feature2-sm">feature 2</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature3-sm" type="checkbox">
                                                            <label for="feature3-sm">feature 3</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature4-sm" type="checkbox">
                                                            <label for="feature4-sm">feature 4</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature5-sm" type="checkbox">
                                                            <label for="feature5-sm">feature 5</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature6-sm" type="checkbox">
                                                            <label for="feature6-sm">feature 6</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check">
                                                            <input id="feature7-sm" type="checkbox">
                                                            <label for="feature7-sm">feature 7</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <div class="search-sm__result">
                        <h4 class="title-sm">Popular Searches</h4>
                        <div class="search-sm__result-list">
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-2.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-3.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-1.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-2.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-3.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-1.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-2.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-3.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-1.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-2.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-3.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                            <a href="#!">
                                <div class="search-sm__result-img">
                                    <img src="assets/img/games/game-1.png" alt="">
                                </div>
                                <div class="search-sm__result-info">
                                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                                    <p class="result-card__info-provider">hacksaw gaming</p>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="#ico-arr-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom__navbar">
               <ul>
                   <li>
                       <a href="#!" class="active">
                           <div class="ico">
                               <svg class="icon">
                                   <use xlink:href="#ico-home"></use>
                               </svg>
                           </div>
                           <span>Home</span>
                       </a>
                   </li>
<!--                   <li>-->
<!--                       <a href="#!" class="new-alert">-->
<!--                           <div class="ico">-->
<!--                               <svg class="icon">-->
<!--                                   <use xlink:href="#ico-promo"></use>-->
<!--                               </svg>-->
<!--                           </div>-->
<!--                           <span>Promos</span>-->
<!--                       </a>-->
<!--                   </li>-->
                   <li>
                       <a href="#!">
                           <div class="ico">
                               <svg class="icon yllw">
                                   <use xlink:href="#ico-star"></use>
                               </svg>
                           </div>
                           <span>My games</span>
                       </a>
                   </li>
                   <li>
                       <a href="#!" id="search-sm">
                           <div class="ico">
                               <svg class="icon">
                                   <use xlink:href="#ico-search"></use>
                               </svg>
                           </div>
                           <span>Search</span>
                       </a>
                   </li>
               </ul>
            </div>
        </div>
    </div>
</div>
<div class="gameTip">
    <ul>
        <li>
            <p>Min. bet</p>
            <p>$0.05</p>
        </li>
        <li>
            <p>Max. bet</p>
            <p>$500</p>
        </li>
        <li>
            <p>RTP</p>
            <p>96.26%</p>
        </li>
        <li>
            <p>Volatility</p>
            <p>Hight</p>
        </li>
        <li>
            <p>Hit ratio %</p>
            <p>25.6%</p>
        </li>
        <li>
            <p>Hit ratio %</p>
            <p>expanding wilds</p>
        </li>
    </ul>
    <div class="gameTip-tags">
        <a href="#!">Slots</a>
        <a href="#!">Pocker</a>
        <a href="#!">Baccarat</a>
        <a href="#!">Bacca arat rat</a>
    </div>
</div>
<script src="assets/vendors/js/jquery.min.js"></script>
<script src="assets/vendors/js/jquery.overlayScrollbars.min.js"></script>
<script src="assets/vendors/js/bootstrap.min.js"></script>
<script src="assets/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="assets/vendors/js/slick.min.js"></script>
<script src="assets/vendors/js/intlTelInput.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
